Repository analogdevicesinc/msdk, pull requests merged in 2023-06, with the labels that each got.

#553 feat(workflow): Add pull request template and workflows to enforce new PR title rules
  .github/README.md
  .github/labeler.yml
  .github/workflows/PR_Title_Check.yml
  .github/workflows/labeler.yml
  .gitignore
  .husky/commit-msg
  Documentation/CONTRIBUTING.md
  Documentation/pull_request_template.md
  Libraries/PeriphDrivers/Source/I2S/i2s_reva_me20.svd
  Libraries/PeriphDrivers/Source/UART/uart_me20.c
  commitlint.config.js
Labels: documentation, help wanted, Workflow

#610 fix(workflow): Remove pull_request trigger and fix regex in PR_Title_Checker
  .github/README.md
  .github/workflows/PR_Title_Check.yml
  .github/workflows/README.md
Labels: Workflow

#615 feat(BLE,Examples): Add Cordio API to get Bluetooth MAC address, trace output of MAC address and advertising name for MAX32655, MAX32665, MAX32690
  Examples/MAX32655/BLE_FreeRTOS/dats_main.c
  Examples/MAX32655/BLE_datc/datc_main.c
  Examples/MAX32655/BLE_dats/dats_main.c
  Examples/MAX32655/BLE_fit/fit_main.c
  Examples/MAX32655/BLE_fit_FreeRTOS/bt_app_api.c
  Examples/MAX32655/BLE_mcs/mcs_app_main.c
  Examples/MAX32655/BLE_otac/datc_main.c
  Examples/MAX32655/BLE_otas/dats_main.c
  Examples/MAX32655/BLE_periph/periph_main.c
  Examples/MAX32665/BLE_FreeRTOS/dats_main.c
  Examples/MAX32665/BLE_datc/datc_main.c
  Examples/MAX32665/BLE_dats/dats_main.c
  Examples/MAX32665/BLE_fit/fit_main.c
  Examples/MAX32665/BLE_mcs/main.c
  Examples/MAX32665/BLE_mcs/mcs_app_main.c
  Examples/MAX32665/BLE_otac/datc_main.c
  Examples/MAX32665/BLE_otas/dats_main.c
  Examples/MAX32665/BLE_periph/periph_main.c
  Examples/MAX32690/BLE_FreeRTOS/dats_main.c
  Examples/MAX32690/BLE_datc/datc_main.c
  Examples/MAX32690/BLE_dats/dats_main.c
  Examples/MAX32690/BLE_fit/fit_main.c
  Examples/MAX32690/BLE_mcs/mcs_app_main.c
  Examples/MAX32690/BLE_otac/datc_main.c
  Examples/MAX32690/BLE_otas/dats_main.c
  Examples/MAX32690/BLE_periph/periph_main.c
  Libraries/Cordio/ble-profiles/include/app_api.h
  Libraries/Cordio/ble-profiles/sources/af/app_main.c
  Libraries/Cordio/platform/targets/maxim/max32655/sources/pal_cfg.c
Labels: BLE

#627 perf(Examples): Change GPIO settings in MAX32670 LP example to improve current consumption
  Examples/MAX32670/LP/main.c
Labels: MAX32670

#623 feat(workflow): Add new workflow to check for stale Pull Requests
  .github/workflows/Stale_PR.yml
Labels: Workflow

#637 fix(Examples): MSDK-1203: Update READMEs to remove outdated BOARD info
  Examples/MAX32655/ADC/README.md
  Examples/MAX32655/AES/README.md
  Examples/MAX32655/BLE_fit_FreeRTOS/README.md
  Examples/MAX32655/Bootloader/README.md
  Examples/MAX32655/CRC/README.md
  Examples/MAX32655/DMA/README.md
  Examples/MAX32655/Dual_core_sync/Dual_core_sync_arm/README.md
  Examples/MAX32655/Dual_core_sync/Dual_core_sync_riscv/README.md
  Examples/MAX32655/EEPROM_Emulator/README.md
  Examples/MAX32655/External_Flash/README.md
  Examples/MAX32655/FTHR_I2C/README.md
  Examples/MAX32655/Flash/README.md
  Examples/MAX32655/Flash_CLI/README.md
  Examples/MAX32655/FreeRTOSDemo/README.md
  Examples/MAX32655/GPIO/README.md
  Examples/MAX32655/Hello_World/README.md
  Examples/MAX32655/I2C/README.md
  Examples/MAX32655/I2C_MNGR/README.md
  Examples/MAX32655/I2C_SCAN/README.md
  Examples/MAX32655/I2C_Sensor/README.md
  Examples/MAX32655/I2S/README.md
  Examples/MAX32655/I2S_Playback/README.md
  Examples/MAX32655/ICC/README.md
  Examples/MAX32655/LP/README.md
  Examples/MAX32655/LPCMP/README.md
  Examples/MAX32655/Pulse_Train/README.md
  Examples/MAX32655/RF_Test/README.md
  Examples/MAX32655/RTC/README.md
  Examples/MAX32655/RTC_Backup/README.md
  Examples/MAX32655/SPI/README.md
  Examples/MAX32655/TFT_Demo/README.md
  Examples/MAX32655/TFT_Demo/resources/tft_fthr/bmp/README.md
  Examples/MAX32655/TMR/README.md
  Examples/MAX32655/TRNG/README.md
  Examples/MAX32655/Temp_Monitor/README.md
  Examples/MAX32655/UART/README.md
  Examples/MAX32655/UCL/README.md
  Examples/MAX32655/WUT/README.md
  Examples/MAX32655/Watchdog/README.md
  Examples/MAX32670/Flash_CLI/README.md
  Examples/MAX32680/GPIO/README.md
  Examples/MAX78000/CNN/mnist/README.md
  Examples/MAX78000/Coremark/README.md
  Examples/MAX78000/EEPROM_Emulator/README.md
  Examples/MAX78000/Flash_CLI/README.md
  Examples/MAX78000/FreeRTOSDemo/README.md
  Examples/MAX78000/Hello_World/README.md
  Examples/MAX78000/Hello_World_Cpp/README.md
  Examples/MAX78000/I2C_MNGR/README.md
  Examples/MAX78000/I2C_Sensor/README.md
  Examples/MAX78000/Temp_Monitor/README.md
  Examples/MAX78000/UCL/README.md
Labels: BLE
