Repository analogdevicesinc/msdk, pull requests merged in 2023-09, with the labels that each got.

#697 fix(PeriphDrivers): Explicitly set the LPCMP Polarity Setting (Rising/Falling)
  Libraries/PeriphDrivers/Include/MAX32655/lpcmp.h
  Libraries/PeriphDrivers/Include/MAX32680/lpcmp.h
  Libraries/PeriphDrivers/Include/MAX32690/lpcmp.h
  Libraries/PeriphDrivers/Include/MAX78000/lpcmp.h
  Libraries/PeriphDrivers/Include/MAX78002/lpcmp.h
Labels: MAX32655, MAX32680, MAX32690, MAX78000, MAX78002

#719 fix(PeriphDrivers,Examples): Remove I2C Rev B and fix bugs in MXC_I2C_RevA_SlaveAsyncHandler
  Examples/MAX32650/I2C/main.c
  Examples/MAX32655/I2C/README.md
  Examples/MAX32655/I2C/main.c
  Examples/MAX32660/I2C/main.c
  Examples/MAX32665/I2C/main.c
  Examples/MAX32670/I2C/main.c
  Examples/MAX32672/I2C/main.c
  Examples/MAX32675/I2C/main.c
  Examples/MAX32680/I2C/main.c
  Examples/MAX32690/I2C/main.c
  Examples/MAX78002/I2C/main.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me10.c
  Libraries/PeriphDrivers/Source/I2C/i2c_reva.c
  Libraries/PeriphDrivers/Source/I2C/i2c_reva_me10.svd
  Libraries/PeriphDrivers/Source/I2C/i2c_revb.c
  Libraries/PeriphDrivers/Source/I2C/i2c_revb.h
  Libraries/PeriphDrivers/Source/I2C/i2c_revb.svd
  Libraries/PeriphDrivers/Source/I2C/i2c_revb_regs.h
  Libraries/PeriphDrivers/max32650_files.mk
Labels: MAX32650, MAX32655, MAX32660, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78002, Register Change

#714 fix(CMSIS, PeriphDrivers): Fix "warning: _kill/_getpid is not implemented and will always fail" on GCC 12
  Libraries/Boards/MAX32662/EvKit_V1/Include/board.h
  Libraries/Boards/MAX32672/EvKit_V1/Include/board.h
  Libraries/Boards/MAX32690/EvKit_V1/Include/board.h
  Libraries/CMSIS/Device/Maxim/MAX32520/Source/system_max32520.c
  Libraries/CMSIS/Device/Maxim/MAX32570/Source/system_max32570.c
  Libraries/CMSIS/Device/Maxim/MAX32572/Source/system_max32572.c
  Libraries/CMSIS/Device/Maxim/MAX32572/Source/system_riscv_max32572.c
  Libraries/CMSIS/Device/Maxim/MAX32650/Source/system_max32650.c
  Libraries/CMSIS/Device/Maxim/MAX32655/Source/system_max32655.c
  Libraries/CMSIS/Device/Maxim/MAX32655/Source/system_riscv_max32655.c
  Libraries/CMSIS/Device/Maxim/MAX32660/Source/system_max32660.c
  Libraries/CMSIS/Device/Maxim/MAX32662/Source/system_max32662.c
  Libraries/CMSIS/Device/Maxim/MAX32665/Source/system_max32665.c
  Libraries/CMSIS/Device/Maxim/MAX32670/Source/system_max32670.c
  Libraries/CMSIS/Device/Maxim/MAX32672/Source/system_max32672.c
  Libraries/CMSIS/Device/Maxim/MAX32675/Source/system_max32675.c
  Libraries/CMSIS/Device/Maxim/MAX32680/Source/system_max32680.c
  Libraries/CMSIS/Device/Maxim/MAX32680/Source/system_riscv_max32680.c
  Libraries/CMSIS/Device/Maxim/MAX32690/Source/system_max32690.c
  Libraries/CMSIS/Device/Maxim/MAX32690/Source/system_riscv_max32690.c
  Libraries/CMSIS/Device/Maxim/MAX78000/Source/system_max78000.c
  Libraries/CMSIS/Device/Maxim/MAX78000/Source/system_riscv_max78000.c
  Libraries/CMSIS/Device/Maxim/MAX78002/Source/system_max78002.c
  Libraries/CMSIS/Device/Maxim/MAX78002/Source/system_riscv_max78002.c
Labels: MAX32520, MAX32570, MAX32650, MAX32655, MAX32660, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662

#725 feat(PeriphDrivers,CMSIS): Add support for multiple I2C target addresses
  Libraries/CMSIS/Device/Maxim/MAX32660/Include/max32660.h
  Libraries/CMSIS/Device/Maxim/MAX32670/Include/max32670.h
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/max32675.h
  Libraries/PeriphDrivers/Include/MAX32672/i2c.h
  Libraries/PeriphDrivers/Include/MAX32672/mxc_sys.h
  Libraries/PeriphDrivers/Source/I2C/i2c_ai87.c
  Libraries/PeriphDrivers/Source/I2C/i2c_es17.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me10.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me11.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me12.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me13.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me14.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me15.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me16.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me17.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me18.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me21.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me55.c
  Libraries/PeriphDrivers/Source/I2C/i2c_reva.c
  Libraries/PeriphDrivers/Source/I2C/i2c_reva_me21.svd
  Libraries/PeriphDrivers/Source/I2C/i2c_reva_regs.h
  Libraries/PeriphDrivers/Source/SYS/sys_me21.c
Labels: MAX32520, MAX32570, MAX32650, MAX32655, MAX32660, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662, Register Change, Needs Review

#724 fix(workflow): Add token secret to clang-format-run workflow to retrigger other actions upon successful completion
  .github/workflows/clang-format-run-pr.yml
Labels: Workflow

#729 fix(Examples): Fix 'this device cannot start COM port' error in MAX32665 USB_CDCACM example
  Examples/MAX32665/USB_CDCACM/main.c
Labels: MAX32665

#728 perf(Examples,PeriphDrivers): Reset USB block when operating in low power modes for MAX32650
  Examples/MAX32650/LP/main.c
  Libraries/PeriphDrivers/Include/MAX32650/lp.h
  Libraries/PeriphDrivers/Source/LP/lp_me10.c
Labels: MAX32650

#726 fix(BLE): Fix PalFlashEraseSector, Decrement Erase by Sector Size
  Libraries/Cordio/platform/targets/maxim/max32665/sources/pal_flash.c
Labels: BLE

#739 fix(Examples): Bug fix for MAX32670 SPI example
  Examples/MAX32670/SPI/main.c
Labels: MAX32670
