Repository analogdevicesinc/msdk, pull requests merged in 2023-07, with the labels that each got.

#648 fix(BLE,Examples): Log packet count on BLE dats speed test
  Examples/MAX32655/BLE_dats/dats_main.c
  Examples/MAX32665/BLE_dats/dats_main.c
  Examples/MAX32690/BLE_dats/dats_main.c
Labels: BLE

#644 feat(Examples,MiscDrivers): Add OV5640 DVP camera driver
  Examples/MAX78000/CameraIF/README.md
  Examples/MAX78000/CameraIF/main.c
  Examples/MAX78000/CameraIF/project.mk
  Examples/MAX78002/CameraIF/README.md
  Examples/MAX78002/CameraIF/main.c
  Examples/MAX78002/CameraIF/project.mk
  Libraries/Boards/MAX78000/EvKit_V1/board.mk
  Libraries/MiscDrivers/Camera/camera.c
  Libraries/MiscDrivers/Camera/camera.h
  Libraries/MiscDrivers/Camera/mipi_camera.h
  Libraries/MiscDrivers/Camera/ov5640.c
  Libraries/MiscDrivers/Camera/ov5640_regs.h
  Libraries/MiscDrivers/Camera/ov5642.c
  Libraries/MiscDrivers/Camera/ov5642_regs.h
Labels: MAX78000

#656 feat(workflow): Add new workflow for Releases
  .github/workflows/Release.yml
Labels: Workflow

#655 fix(workflow): Expand labeler file filters in case root of repo is unknown
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Workflow

#675 fix(workflow): Fix globstar paths in labeler workflow and revise PR template
  .github/labeler.yml
  .github/pull_request_template.md
Labels: Workflow

#676 fix(Build): Link with libphy_hard.a when MFLOAT_ABI = hard
  .github/workflows/scripts/build.py
  Libraries/libs.mk
Labels: Needs Review

#672 feat(Examples): Speedup TFT update for MAX78002 CameraIF
  Examples/MAX78002/CameraIF/README.md
  Examples/MAX78002/CameraIF/main.c
  Examples/MAX78002/CameraIF/pc_utility/README.md
  Examples/MAX78002/CameraIF/pc_utility/grab_image.py
  Examples/MAX78002/CameraIF/pc_utility/imgConverter.py
  Examples/MAX78002/CameraIF/pc_utility/requirements.txt
  Examples/MAX78002/CameraIF/project.mk
  Libraries/Boards/MAX78002/EvKit_V1/Source/board.c
  Libraries/Boards/MAX78002/EvKit_V1/board.mk
  Libraries/MiscDrivers/Display/adafruit_3315_tft.c
  Libraries/MiscDrivers/Display/adafruit_3315_tft.h
  Libraries/MiscDrivers/Display/tft_st7789v.c
  Libraries/MiscDrivers/Display/tft_st7789v.h
Labels: MAX78002

#674 feat(PeriphDrivers): Provide user a way to manually drive SPI slave select pin
  Libraries/PeriphDrivers/Include/MAX32520/spi.h
  Libraries/PeriphDrivers/Include/MAX32570/spi.h
  Libraries/PeriphDrivers/Include/MAX32572/spi.h
  Libraries/PeriphDrivers/Include/MAX32650/spi.h
  Libraries/PeriphDrivers/Include/MAX32655/spi.h
  Libraries/PeriphDrivers/Include/MAX32660/spi.h
  Libraries/PeriphDrivers/Include/MAX32662/spi.h
  Libraries/PeriphDrivers/Include/MAX32665/spi.h
  Libraries/PeriphDrivers/Include/MAX32670/spi.h
  Libraries/PeriphDrivers/Include/MAX32672/spi.h
  Libraries/PeriphDrivers/Include/MAX32675/spi.h
  Libraries/PeriphDrivers/Include/MAX32680/spi.h
  Libraries/PeriphDrivers/Include/MAX32690/spi.h
  Libraries/PeriphDrivers/Source/SPI/spi_es17.c
  Libraries/PeriphDrivers/Source/SPI/spi_me10.c
  Libraries/PeriphDrivers/Source/SPI/spi_me11.c
  Libraries/PeriphDrivers/Source/SPI/spi_me12.c
  Libraries/PeriphDrivers/Source/SPI/spi_me13.c
  Libraries/PeriphDrivers/Source/SPI/spi_me14.c
  Libraries/PeriphDrivers/Source/SPI/spi_me15.c
  Libraries/PeriphDrivers/Source/SPI/spi_me16.c
  Libraries/PeriphDrivers/Source/SPI/spi_me17.c
  Libraries/PeriphDrivers/Source/SPI/spi_me18.c
  Libraries/PeriphDrivers/Source/SPI/spi_me21.c
  Libraries/PeriphDrivers/Source/SPI/spi_me55.c
  Libraries/PeriphDrivers/Source/SPI/spi_reva1.c
  Libraries/PeriphDrivers/Source/SPI/spi_reva1.h
Labels: MAX32520, MAX32570, MAX32650, MAX32655, MAX32660, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX32662

#660 fix(PeriphDrivers): Configure SPI0 pins for MAX32672
  Libraries/PeriphDrivers/Include/MAX32672/mxc_pins.h
  Libraries/PeriphDrivers/Source/SPI/spi_me21.c
Labels: MAX32672

#689 fix(CMSIS): Fix OWM_CTRL_STAT_PRES_DET field location for MAX32665
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/max32665.svd
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/owm_regs.h
  Libraries/PeriphDrivers/Source/OWM/owm_reva_me14.svd
Labels: MAX32665, Register Change
