Repository analogdevicesinc/msdk, pull requests merged in 2023-11, with the labels that each got.

#769 refactor(PeriphDrivers): Update UART Rev. A to support TransactionAsync calls from callback function
  Libraries/PeriphDrivers/Include/MAX32650/uart.h
  Libraries/PeriphDrivers/Include/MAX32665/uart.h
  Libraries/PeriphDrivers/Source/UART/uart_me10.c
  Libraries/PeriphDrivers/Source/UART/uart_me14.c
  Libraries/PeriphDrivers/Source/UART/uart_reva.c
Labels: MAX32650, MAX32665

#783 feat(PeriphDrivers): Add Ability to Set UART Pin Mapping for MAX32672
  Libraries/PeriphDrivers/Include/MAX32672/mxc_pins.h
  Libraries/PeriphDrivers/Include/MAX32672/uart.h
  Libraries/PeriphDrivers/Source/SYS/pins_me21.c
  Libraries/PeriphDrivers/Source/UART/uart_me21.c
Labels: MAX32672

#782 fix(Documentation): Remove Misleading Doxygen Comment for I2C Init (Doesn't Set Speed)
  Libraries/PeriphDrivers/Include/MAX32520/i2c.h
  Libraries/PeriphDrivers/Include/MAX32570/i2c.h
  Libraries/PeriphDrivers/Include/MAX32572/i2c.h
  Libraries/PeriphDrivers/Include/MAX32650/i2c.h
  Libraries/PeriphDrivers/Include/MAX32655/i2c.h
  Libraries/PeriphDrivers/Include/MAX32660/i2c.h
  Libraries/PeriphDrivers/Include/MAX32662/i2c.h
  Libraries/PeriphDrivers/Include/MAX32665/i2c.h
  Libraries/PeriphDrivers/Include/MAX32670/i2c.h
  Libraries/PeriphDrivers/Include/MAX32672/i2c.h
  Libraries/PeriphDrivers/Include/MAX32675/i2c.h
  Libraries/PeriphDrivers/Include/MAX32680/i2c.h
  Libraries/PeriphDrivers/Include/MAX32690/i2c.h
  Libraries/PeriphDrivers/Include/MAX78000/i2c.h
  Libraries/PeriphDrivers/Include/MAX78002/i2c.h
Labels: MAX32520, MAX32570, MAX32650, MAX32655, MAX32660, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662

#795 fix(Boards): Add default interrupt handlers for the touchscreen
  Libraries/Boards/MAX32570/MN_EvKit_V1/Source/board.c
  Libraries/Boards/MAX32570/M_EvKit_V1/Source/board.c
  Libraries/Boards/MAX32570/QN_EvKit_V1/Source/board.c
  Libraries/Boards/MAX32570/Q_EvKit_V1/Source/board.c
  Libraries/Boards/MAX32655/EvKit_V1/Source/board.c
  Libraries/Boards/MAX78000/EvKit_V1/Source/board.c
Labels: MAX32570, MAX32655, MAX78000

#794 fix(CMSIS): Update OWM_STAT.presence_detect field position [7] for MAX32690
  Libraries/CMSIS/Device/Maxim/MAX32690/Include/max32690.svd
  Libraries/CMSIS/Device/Maxim/MAX32690/Include/owm_regs.h
  Libraries/PeriphDrivers/Source/OWM/owm_reva_me18.svd
Labels: MAX32690, Register Change

#751 feat(MiscDrivers,Examples): Add 24LC256 EEPROM driver, add I2C EEPROM example for MAX32655
  Examples/MAX32655/I2C_EEPROM/.cproject
  Examples/MAX32655/I2C_EEPROM/.project
  Examples/MAX32655/I2C_EEPROM/.settings/language.settings.xml
  Examples/MAX32655/I2C_EEPROM/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32655/I2C_EEPROM/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32655/I2C_EEPROM/.settings/org.eclipse.core.resources.prefs
  Examples/MAX32655/I2C_EEPROM/.vscode/README.md
  Examples/MAX32655/I2C_EEPROM/.vscode/c_cpp_properties.json
  Examples/MAX32655/I2C_EEPROM/.vscode/flash.gdb
  Examples/MAX32655/I2C_EEPROM/.vscode/launch.json
  Examples/MAX32655/I2C_EEPROM/.vscode/settings.json
  Examples/MAX32655/I2C_EEPROM/.vscode/tasks.json
  Examples/MAX32655/I2C_EEPROM/I2C_EEPROM.launch
  Examples/MAX32655/I2C_EEPROM/Makefile
  Examples/MAX32655/I2C_EEPROM/README.md
  Examples/MAX32655/I2C_EEPROM/main.c
  Examples/MAX32655/I2C_EEPROM/project.mk
  Libraries/MiscDrivers/EEPROM/eeprom_24lc256_driver.c
  Libraries/MiscDrivers/EEPROM/eeprom_24lc256_driver.h
  Libraries/MiscDrivers/libinfo.json
Labels: MAX32655

#796 feat(Examples): Add ME55-RISCV Hello_World example with SBT
  Examples/MAX32572/Hello_World_RISCV/Makefile
  Examples/MAX32572/Hello_World_RISCV/Makefile.ARM
  Examples/MAX32572/Hello_World_RISCV/Makefile.RISCV
  Examples/MAX32572/Hello_World_RISCV/README.md
  Examples/MAX32572/Hello_World_RISCV/main.c
  Examples/MAX32572/Hello_World_RISCV/main_riscv.c
  Examples/MAX32572/Hello_World_RISCV/riscv.S
  Libraries/Boards/MAX32572/EvKit_V1/Include/board.h
  Libraries/CMSIS/Device/Maxim/MAX32572/Source/GCC/max32572.ld
  Libraries/CMSIS/Device/Maxim/MAX32572/Source/GCC/max32572.mk
  Libraries/CMSIS/Device/Maxim/MAX32572/Source/GCC/max32572_riscv.ld
  Libraries/CMSIS/Device/Maxim/MAX32572/Source/GCC/startup_max32572.S
  Libraries/CMSIS/Device/Maxim/MAX32572/Source/GCC/startup_riscv_max32572.S
  Libraries/CMSIS/Device/Maxim/MAX32572/Source/sla_header.c
  Libraries/CMSIS/Device/Maxim/MAX32572/Source/system_riscv_max32572.c
  Libraries/PeriphDrivers/Include/MAX32520/i2c.h
  Libraries/PeriphDrivers/Include/MAX32572/MAX32xxx.h
  Libraries/PeriphDrivers/Source/SYS/sys_me55.c
  Tools/BitmapConverter/src/convert.c
Labels: MAX32520, Tools

#805 fix(BLE): Connection-Parameter-Update
  Libraries/Cordio/ble-profiles/sources/af/app_slave.c
Labels: bug, BLE

#812 docs(BLE): Added documentation for vendor specific HCI commands
  Libraries/Cordio/controller/sources/ble/lhci/lhci_int.h
  Libraries/Cordio/docs/HOST_CONTROLLER_INTERFACE.md
Labels: BLE

#803 fix(BLE): Add Parenthesis Around Some Cordio Ternaries
  Libraries/Cordio/controller/sources/ble/lctr/lctr_int_adv_master_ae.h
  Libraries/Cordio/controller/sources/ble/lctr/lctr_main_adv_master_ae.c
  Libraries/Cordio/controller/sources/ble/lctr/lctr_main_conn.c
Labels: BLE

#763 fix(PeriphDrivers): Fix UART DMA Transactions and Enable Full Duplex
  Examples/MAX32655/Bluetooth/Bootloader/Makefile
  Examples/MAX32662/SCPA_OTP_Dump/Makefile
  Examples/MAX32665/Bluetooth/Bootloader/Makefile
  Examples/MAX32672/UART/main.c
  Examples/MAX32690/Bluetooth/Bootloader/Makefile
  Examples/MAX78000/UART/main.c
  Examples/MAX78002/UART/main.c
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/max32665.h
  Libraries/PeriphDrivers/Include/MAX32520/uart.h
  Libraries/PeriphDrivers/Include/MAX32570/uart.h
  Libraries/PeriphDrivers/Include/MAX32572/uart.h
  Libraries/PeriphDrivers/Include/MAX32650/uart.h
  Libraries/PeriphDrivers/Include/MAX32655/uart.h
  Libraries/PeriphDrivers/Include/MAX32660/uart.h
  Libraries/PeriphDrivers/Include/MAX32662/uart.h
  Libraries/PeriphDrivers/Include/MAX32665/uart.h
  Libraries/PeriphDrivers/Include/MAX32670/uart.h
  Libraries/PeriphDrivers/Include/MAX32672/uart.h
  Libraries/PeriphDrivers/Include/MAX32675/uart.h
  Libraries/PeriphDrivers/Include/MAX32680/uart.h
  Libraries/PeriphDrivers/Include/MAX32690/uart.h
  Libraries/PeriphDrivers/Include/MAX78000/uart.h
  Libraries/PeriphDrivers/Include/MAX78002/uart.h
  Libraries/PeriphDrivers/Source/UART/uart_ai85.c
  Libraries/PeriphDrivers/Source/UART/uart_ai87.c
  Libraries/PeriphDrivers/Source/UART/uart_me10.c
  Libraries/PeriphDrivers/Source/UART/uart_me11.c
  Libraries/PeriphDrivers/Source/UART/uart_me12.c
  Libraries/PeriphDrivers/Source/UART/uart_me13.c
  Libraries/PeriphDrivers/Source/UART/uart_me14.c
  Libraries/PeriphDrivers/Source/UART/uart_me15.c
  Libraries/PeriphDrivers/Source/UART/uart_me16.c
  Libraries/PeriphDrivers/Source/UART/uart_me17.c
  Libraries/PeriphDrivers/Source/UART/uart_me18.c
  Libraries/PeriphDrivers/Source/UART/uart_me21.c
  Libraries/PeriphDrivers/Source/UART/uart_reva.c
  Libraries/PeriphDrivers/Source/UART/uart_reva.h
  Libraries/PeriphDrivers/Source/UART/uart_revb.c
  Libraries/PeriphDrivers/Source/UART/uart_revb.h
  Libraries/PeriphDrivers/Source/UART/uart_revc.c
Labels: API Change, MAX32520, MAX32570, MAX32650, MAX32655, MAX32660, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662

#811 fix(PeriphDrivers): Fix OWM Presence Detect Bit and GPIO Alternate Functions, Use VDDIOH by Default
  Libraries/CMSIS/Device/Maxim/MAX32650/Include/max32650.svd
  Libraries/CMSIS/Device/Maxim/MAX32650/Include/owm_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32655/Include/max32655.svd
  Libraries/CMSIS/Device/Maxim/MAX32655/Include/owm_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32680/Include/max32680.svd
  Libraries/CMSIS/Device/Maxim/MAX32680/Include/owm_regs.h
  Libraries/CMSIS/Device/Maxim/MAX78000/Include/max78000.svd
  Libraries/CMSIS/Device/Maxim/MAX78000/Include/owm_regs.h
  Libraries/CMSIS/Device/Maxim/MAX78002/Include/max78002.svd
  Libraries/CMSIS/Device/Maxim/MAX78002/Include/owm_regs.h
  Libraries/PeriphDrivers/Source/OWM/owm_me17.c
  Libraries/PeriphDrivers/Source/OWM/owm_me18.c
  Libraries/PeriphDrivers/Source/OWM/owm_reva_ai87.svd
  Libraries/PeriphDrivers/Source/OWM/owm_reva_me10.svd
  Libraries/PeriphDrivers/Source/OWM/owm_reva_me17.svd
  Libraries/PeriphDrivers/Source/SYS/pins_ai87.c
  Libraries/PeriphDrivers/Source/SYS/pins_me10.c
  Libraries/PeriphDrivers/Source/SYS/pins_me17.c
  Libraries/PeriphDrivers/Source/SYS/pins_me18.c
Labels: MAX32650, MAX32655, MAX32680, MAX32690, MAX78000, MAX78002, Register Change

#807 fix(Examples): Fixed bug in FaceId RISC-V example
  Examples/MAX78000/CNN/asl_demo/README.md
  Examples/MAX78000/CNN/asl_demo/example_config.h
  Examples/MAX78000/CNN/digit-detection-demo/README.md
  Examples/MAX78000/CNN/faceid_evkit-riscv/include/faceID.h
  Examples/MAX78000/CNN/faceid_evkit-riscv/main.c
  Examples/MAX78000/CNN/faceid_evkit-riscv/main_riscv.c
  Examples/MAX78000/CNN/faceid_evkit-riscv/project.mk
  Examples/MAX78000/CNN/kws20_demo-riscv/README.md
  Examples/MAX78000/CNN/kws20_demo-riscv/main.c
  Examples/MAX78000/CNN/kws20_demo-riscv/project.mk
  Examples/MAX78000/CNN/kws20_demo/README.md
  Examples/MAX78000/CNN/kws20_demo/main.c
  Examples/MAX78000/CNN/kws20_demo/project.mk
Labels: MAX78000

#809 feat(PeriphDrivers): Allow Skipping Clock and GPIO Initialization on Additional Peripherals
  Libraries/PeriphDrivers/Include/MAX32570/owm.h
  Libraries/PeriphDrivers/Include/MAX32660/uart.h
  Libraries/PeriphDrivers/Include/MAX32665/owm.h
  Libraries/PeriphDrivers/Source/ADC/adc_ai87.c.clang
  Libraries/PeriphDrivers/Source/ADC/adc_me10.c
  Libraries/PeriphDrivers/Source/ADC/adc_me12.c
  Libraries/PeriphDrivers/Source/ADC/adc_me13.c
  Libraries/PeriphDrivers/Source/ADC/adc_me14.c
  Libraries/PeriphDrivers/Source/ADC/adc_me17.c
  Libraries/PeriphDrivers/Source/ADC/adc_me18.c
  Libraries/PeriphDrivers/Source/ADC/adc_me21.c
  Libraries/PeriphDrivers/Source/ADC/adc_me55.c
  Libraries/PeriphDrivers/Source/AES/aes_ai87.c
  Libraries/PeriphDrivers/Source/AES/aes_me12.c
  Libraries/PeriphDrivers/Source/AES/aes_me15.c
  Libraries/PeriphDrivers/Source/AES/aes_me17.c
  Libraries/PeriphDrivers/Source/AES/aes_me18.c
  Libraries/PeriphDrivers/Source/AES/aes_me21.c
  Libraries/PeriphDrivers/Source/CRC/crc_ai87.c
  Libraries/PeriphDrivers/Source/CRC/crc_me15.c
  Libraries/PeriphDrivers/Source/CRC/crc_me16.c
  Libraries/PeriphDrivers/Source/CRC/crc_me17.c
  Libraries/PeriphDrivers/Source/HTMR/htmr_me13.c
  Libraries/PeriphDrivers/Source/HTMR/htmr_me14.c
  Libraries/PeriphDrivers/Source/HTMR/htmr_me55.c
  Libraries/PeriphDrivers/Source/OWM/owm_ai87.c
  Libraries/PeriphDrivers/Source/OWM/owm_me10.c
  Libraries/PeriphDrivers/Source/OWM/owm_me13.c
  Libraries/PeriphDrivers/Source/OWM/owm_me14.c
  Libraries/PeriphDrivers/Source/OWM/owm_me17.c
  Libraries/PeriphDrivers/Source/OWM/owm_me18.c
  Libraries/PeriphDrivers/Source/SPIMSS/i2s_me10.c
  Libraries/PeriphDrivers/Source/SPIMSS/i2s_me11.c
  Libraries/PeriphDrivers/Source/SPIXF/spixf_me10.c
  Libraries/PeriphDrivers/Source/SPIXF/spixf_me13.c
  Libraries/PeriphDrivers/Source/SPIXF/spixf_me14.c
  Libraries/PeriphDrivers/Source/SPIXF/spixf_me18.c
  Libraries/PeriphDrivers/Source/SPIXF/spixf_me55.c
  Libraries/PeriphDrivers/Source/TRNG/trng_ai85.c
  Libraries/PeriphDrivers/Source/TRNG/trng_ai87.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me10.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me12.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me14.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me15.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me16.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me17.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me18.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me20.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me21.c
  Libraries/PeriphDrivers/Source/UART/uart_es17.c
  Libraries/PeriphDrivers/Source/UART/uart_me10.c
  Libraries/PeriphDrivers/Source/UART/uart_me11.c
  Libraries/PeriphDrivers/Source/WUT/wut_ai85.c
  Libraries/PeriphDrivers/Source/WUT/wut_ai87.c
  Libraries/PeriphDrivers/Source/WUT/wut_me14.c
  Libraries/PeriphDrivers/Source/WUT/wut_me17.c
  Libraries/PeriphDrivers/Source/WUT/wut_me18.c
Labels: MAX32520, MAX32570, MAX32650, MAX32655, MAX32660, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662
