Repository analogdevicesinc/msdk, pull requests merged in 2023-12, with the labels that each got.

#808 feat(PeriphDrivers): Add clock selection feature to WDT
  Libraries/PeriphDrivers/Include/MAX32655/wdt.h
  Libraries/PeriphDrivers/Include/MAX32662/wdt.h
  Libraries/PeriphDrivers/Include/MAX32670/wdt.h
  Libraries/PeriphDrivers/Include/MAX32672/wdt.h
  Libraries/PeriphDrivers/Include/MAX32675/wdt.h
  Libraries/PeriphDrivers/Include/MAX32680/wdt.h
  Libraries/PeriphDrivers/Include/MAX32690/wdt.h
  Libraries/PeriphDrivers/Include/MAX78000/wdt.h
  Libraries/PeriphDrivers/Include/MAX78002/wdt.h
  Libraries/PeriphDrivers/Source/WDT/wdt_ai87.c
  Libraries/PeriphDrivers/Source/WDT/wdt_me12.c
  Libraries/PeriphDrivers/Source/WDT/wdt_me15.c
  Libraries/PeriphDrivers/Source/WDT/wdt_me17.c
  Libraries/PeriphDrivers/Source/WDT/wdt_me18.c
  Libraries/PeriphDrivers/Source/WDT/wdt_me21.c
  Libraries/PeriphDrivers/Source/WDT/wdt_revb.c
  Libraries/PeriphDrivers/Source/WDT/wdt_revb.h
Labels: MAX32655, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662

#819 fix(CMSIS): Vector table address now properly set
  Libraries/CMSIS/5.9.0/Core/Include/core_rv32.h
  Libraries/CMSIS/Device/Maxim/MAX32655/Source/GCC/startup_riscv_max32655.S
  Libraries/CMSIS/Device/Maxim/MAX78000/Source/GCC/startup_riscv_max78000.S
Labels: MAX32655, MAX78000

#817 fix(PeriphDrivers): Fix ADC RevB clock source configurations
  Libraries/PeriphDrivers/Source/ADC/adc_revb.c
Labels: bug

#822 feat(Examples, BLE): BLE_fcc now uses PRBS15 continuous instead of AA packteized
  Examples/MAX32690/Bluetooth/BLE_fcc/Makefile
  Examples/MAX32690/Bluetooth/BLE_fcc/main.c
Labels: MAX32690, BLE

#832 fix(Examples): Updated Wording in FCC Examples
  Examples/MAX32655/Bluetooth/BLE_fcc/main.c
  Examples/MAX32665/Bluetooth/BLE_fcc/main.c
  Examples/MAX32690/Bluetooth/BLE_fcc/main.c
  Libraries/Cordio/controller/include/ble/bb_ble_api.h
  Libraries/Cordio/controller/sources/ble/bb/bb_ble_dtm.c
  Libraries/Cordio/controller/sources/ble/lhci/lhci_cmd.c
  Libraries/Cordio/controller/sources/ble/lhci/lhci_cmd_vs.c
  Libraries/Cordio/controller/sources/ble/lhci/lhci_int.h
Labels: MAX32655, MAX32665, MAX32690, BLE

#764 fix(BLE): Add declaration for refresh keys function
  Libraries/Cordio/platform/include/pal_bb_ble.h
Labels: BLE, stale

#820 fix(PeriphDrivers): Fix MAX32655 WDT clock source order
  Libraries/PeriphDrivers/Source/OWM/owm_me14.c
  Libraries/PeriphDrivers/Source/WDT/wdt_me17.c
  Libraries/PeriphDrivers/Source/WDT/wdt_revb.c
Labels: MAX32655, MAX32665, MAX78000

#839 fix(BLE): Libphy update to support ME17B
  Libraries/BlePhy/MAX32655/libphy.a
Labels: BLE

#830 fix(PeriphDrivers): Fix MAX32675, MAX32680 A5 Silicon AFE Init, and Speedups
  Libraries/PeriphDrivers/Include/MAX32675/hart_uart.h
  Libraries/PeriphDrivers/Include/MAX32680/hart_uart.h
  Libraries/PeriphDrivers/Source/AFE/afe.c
  Libraries/PeriphDrivers/Source/AFE/hart_uart.c
Labels: MAX32675, MAX32680

#841 feat(Examples): Add Ref Trim procedure to MAX32690 ADC Example
  Examples/MAX32690/ADC/main.c
Labels: MAX32690, Needs Review

#814 fix(PeriphDrivers): Fix MAX32672 `MXC_TMR_GetPeriod` for 16-32Mhz Clock
  Libraries/PeriphDrivers/Source/TMR/tmr_me21.c
Labels: MAX32672, Needs Review

#843 fix(CMSIS): Fix MAX32690 SRAM Size Calculation
  Libraries/CMSIS/Device/Maxim/MAX32690/Source/GCC/max32690_memory.mk
Labels: MAX32690

#836 fix(BLE): Cordio HCI now has implementation in HCI for RSSI and Phy Enable/Disable
  Libraries/Cordio/controller/sources/ble/lhci/lhci_cmd_vs.c
  Libraries/Cordio/controller/sources/ble/lhci/lhci_cmd_vs_adv_master_ae.c
  Libraries/Cordio/controller/sources/ble/lhci/lhci_int.h
Labels: BLE

#835 fix(workflow): Run shallow clone for workflows running from BTM-CI
  .github/workflows/Generate_Register_Files.yml
  .github/workflows/Verify_Register_SVD.yml
  .github/workflows/scripts/test_launcher.sh
Labels: Workflow

#828 fix(Examples): Highlight JP9/JP10 in printfs for MAX32690EVKIT I2C Example
  Examples/MAX32690/I2C/main.c
  Libraries/Boards/MAX32690/EvKit_V1/Include/board.h
  Libraries/Boards/MAX32690/FTHR/Include/board.h
Labels: MAX32690

#827 fix(MiscDrivers): Add Missing C++ Guards to Camera and Display Files
  Libraries/MiscDrivers/Camera/camera.h
  Libraries/MiscDrivers/Camera/debayering.h
  Libraries/MiscDrivers/Camera/mipi_camera.h
  Libraries/MiscDrivers/Camera/sccb.h
  Libraries/MiscDrivers/Display/display.h
  Libraries/MiscDrivers/Display/sharp_mip.h
  Libraries/MiscDrivers/Display/ssd1306.h
  Libraries/MiscDrivers/Display/st7735s.h
  Libraries/MiscDrivers/Display/st7735s_cfaf128128b1.h
  Libraries/MiscDrivers/Display/tft_ili9341.h
  Libraries/MiscDrivers/Display/tft_ssd2119.h
  Libraries/MiscDrivers/Display/tft_st7735.h
  Libraries/MiscDrivers/Touchscreen/tsc2046.h
Labels: Needs Review

#802 feat(MiscDrivers): Add N01S830HA Drivers for MAX78000FTHR Board
  Examples/MAX78000/FTHR_SRAM/.cproject
  Examples/MAX78000/FTHR_SRAM/.project
  Examples/MAX78000/FTHR_SRAM/.settings/language.settings.xml
  Examples/MAX78000/FTHR_SRAM/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX78000/FTHR_SRAM/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX78000/FTHR_SRAM/.vscode/README.md
  Examples/MAX78000/FTHR_SRAM/.vscode/c_cpp_properties.json
  Examples/MAX78000/FTHR_SRAM/.vscode/flash.gdb
  Examples/MAX78000/FTHR_SRAM/.vscode/launch.json
  Examples/MAX78000/FTHR_SRAM/.vscode/settings.json
  Examples/MAX78000/FTHR_SRAM/.vscode/tasks.json
  Examples/MAX78000/FTHR_SRAM/FTHR_SRAM.launch
  Examples/MAX78000/FTHR_SRAM/Makefile
  Examples/MAX78000/FTHR_SRAM/QSPI.launch
  Examples/MAX78000/FTHR_SRAM/README.md
  Examples/MAX78000/FTHR_SRAM/fastspi.old
  Examples/MAX78000/FTHR_SRAM/main.c
  Examples/MAX78000/FTHR_SRAM/project.mk
  Libraries/Boards/MAX78000/FTHR_RevA/Include/N01S830HA_config.h
  Libraries/Boards/MAX78000/FTHR_RevA/Include/fastspi_config.h
  Libraries/Boards/MAX78000/FTHR_RevA/board.mk
  Libraries/MiscDrivers/SRAM/N01S830HA.c
  Libraries/MiscDrivers/SRAM/N01S830HA.h
  Libraries/MiscDrivers/SRAM/fastspi.c
  Libraries/MiscDrivers/SRAM/fastspi.h
  Libraries/MiscDrivers/libinfo.json
Labels: MAX78000, Needs Review

#800 fix(SDHC): Fix SDHC Driver Clock Divider for MAX78002
  Examples/MAX78002/SDHC_FAT/.cproject
  Examples/MAX78002/SDHC_FAT/.vscode/settings.json
  Examples/MAX78002/SDHC_FAT/include/app-sdhc.h
  Examples/MAX78002/SDHC_FAT/include/user-cli.h
  Examples/MAX78002/SDHC_FAT/main.c
  Examples/MAX78002/SDHC_FAT/project.mk
  Examples/MAX78002/SDHC_FAT/src/app-sdhc.c
  Examples/MAX78002/SDHC_FAT/src/user-cli.c
  Examples/MAX78002/SDHC_Raw/.cproject
  Examples/MAX78002/SDHC_Raw/.vscode/settings.json
  Examples/MAX78002/SDHC_Raw/main.c
  Examples/MAX78002/SDHC_Raw/project.mk
  Libraries/CLI/libinfo.json
  Libraries/PeriphDrivers/Source/SDHC/sdhc_ai87.c
  Libraries/SDHC/Source/sdhc_lib.c
  Libraries/SDHC/ff13/fat32.mk
  Libraries/SDHC/ff14/fat32.mk
  Libraries/SDHC/ff15/fat32.mk
  Libraries/SDHC/sdhc.mk
  Libraries/libs.mk
  USERGUIDE.md
Labels: MAX78002, Needs Review
