Repository analogdevicesinc/msdk, pull requests merged in 2023-08, with the labels that each got.

#661 fix(BLE): Pass Project Optimization Flag Down to Cordio
  Libraries/Cordio/platform/targets/maxim/build/cordio_lib.mk
Labels: Needs Testing, Needs Review

#696 fix(Examples): Update Flash examples to use MXC_FLC_Read to resolve IAR/Keil build errors
  Examples/MAX32520/Flash/main.c
  Examples/MAX32572/Flash/main.c
  Examples/MAX32650/Flash/main.c
  Examples/MAX32655/Flash/main.c
  Examples/MAX32660/Flash/main.c
  Examples/MAX32662/Flash/main.c
  Examples/MAX32665/Flash/main.c
  Examples/MAX32670/Flash/main.c
  Examples/MAX32672/Flash/main.c
  Examples/MAX32675/Flash/main.c
  Examples/MAX32680/Flash/main.c
  Examples/MAX32690/Flash/main.c
  Examples/MAX78000/Flash/main.c
  Examples/MAX78002/Flash/main.c
Labels: MAX32520, MAX32650, MAX32655, MAX32660, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662

#684 feat(Examples): Speedup FTHR TFT update for cats-dogs-demo and digit-detection-demo for MAX78000
  Examples/MAX78000/CNN/cats-dogs_demo/main.c
  Examples/MAX78000/CNN/digit-detection-demo/example_config.h
  Examples/MAX78000/CNN/digit-detection-demo/main.c
  Examples/MAX78000/CNN/digit-detection-demo/post_process.c
  Examples/MAX78000/CNN/digit-detection-demo/post_process.h
  Examples/MAX78000/CNN/digit-detection-demo/tft_utils.c
  Examples/MAX78000/CNN/digit-detection-demo/tft_utils.h
Labels: MAX78000

#694 feat(Examples): Speedup FTHR TFT update for facial-recognition demo for MAX78000
  Examples/MAX78000/CNN/facial_recognition/include/facedetection.h
  Examples/MAX78000/CNN/facial_recognition/include/tft_utils.h
  Examples/MAX78000/CNN/facial_recognition/main.c
  Examples/MAX78000/CNN/facial_recognition/src/faceID.c
  Examples/MAX78000/CNN/facial_recognition/src/facedetection.c
  Examples/MAX78000/CNN/facial_recognition/src/post_process.c
  Examples/MAX78000/CNN/facial_recognition/src/tft_utils.c
Labels: MAX78000

#704 fix(Build): Disable Parallel Execution When Creating common_riscv.ld for `RISCV_LOAD=1`
  Libraries/CMSIS/Device/Maxim/MAX78000/Source/GCC/max78000.mk
  Libraries/CMSIS/Device/Maxim/MAX78002/Source/GCC/max78002.mk
Labels: MAX78000, MAX78002, build system

#692 fix(CMSIS): Regenerate trng_regs.h using correct SVD file for MAX32670
  Libraries/CMSIS/Device/Maxim/MAX32670/Include/max32670.svd
  Libraries/CMSIS/Device/Maxim/MAX32670/Include/trng_regs.h
Labels: MAX32670, Register Change, Needs Review

#687 fix(PeriphDrivers): Update MAX32690 PT pin voltage levels to use VDDIO by default
  Libraries/PeriphDrivers/Source/SYS/pins_me18.c
Labels: MAX32690

#708 fix(Examples): Type overflow in ADC example
  Examples/MAX32655/ADC/main.c
  Examples/MAX32680/ADC/main.c
Labels: bug, MAX32655, MAX32680

#701 fix(Examples): Fix ImgCapture RGB888 Conversions
  Examples/MAX78000/CameraIF/pc_utility/imgConverter.py
  Examples/MAX78000/CameraIF_Debayer/pc_utility/imgConverter.py
  Examples/MAX78000/CameraIF_Debayer/pc_utility/temo/imgConverter.py
  Examples/MAX78000/ImgCapture/main.c
  Examples/MAX78000/ImgCapture/utils/imgConverter.py
  Examples/MAX78002/CNN/pascalvoc-retinanetv7_3/utils/imgConverter.py
  Examples/MAX78002/CSI2/utils/imgConverter.py
  Examples/MAX78002/CameraIF/pc_utility/imgConverter.py
  Examples/MAX78002/CameraIF_Debayer/pc_utility/imgConverter.py
  Examples/MAX78002/ImgCapture/main.c
  Examples/MAX78002/ImgCapture/utils/imgConverter.py
Labels: MAX78000, MAX78002

#706 fix(PeriphDrivers): Fix `-Wcast-align` warning for MAX78000 & MAX78002 SYS Drivers
  Libraries/PeriphDrivers/Source/SYS/sys_ai85.c
  Libraries/PeriphDrivers/Source/SYS/sys_ai87.c
Labels: MAX78000, MAX78002

#712 fix(Boards, Examples): Fix MAX32690 GPIO Example
  Examples/MAX32690/GPIO/main.c
  Libraries/Boards/MAX32690/EvKit_V1/Source/board.c
Labels: MAX32690
