Repository analogdevicesinc/msdk, pull requests merged in 2023-10, with the labels that each got.

#754 fix(ThirdParty,Examples): Add missing dependencies to LVGL makefiles
  Examples/MAX32672/Flash/main.c
  Libraries/LVGL/lvgl/src/extra/lv_extra.mk
Labels: MAX32672

#756 fix(Build): Add statement to MAX32680 linker description file placing flash functions in SRAM
  Libraries/CMSIS/Device/Maxim/MAX32680/Source/GCC/max32680.ld
Labels: MAX32680

#755 fix(Examples,PeriphDrivers): Fix SPI FIFO register access causing swapped message ordering and other minor fixes
  Examples/MAX78002/SPI_ControllerTarget/main.c
  Examples/MAX78002/TFT_Demo/Makefile
  Examples/MAX78002/TFT_Demo/project.mk
  Libraries/PeriphDrivers/Include/MAX78002/spi.h
  Libraries/PeriphDrivers/Source/SPI/spi_reva1.c
Labels: MAX78002

#758 fix(Examples): Decrease the delay in the MAX32680 Watchdog example to force a watchdog reset to occur
  Examples/MAX32680/Watchdog/main.c
Labels: MAX32680

#759 fix(CMSIS, PeriphDrivers, Examples): Bug fixes for ME13, ME14 and ME18 found in release testing
  Examples/MAX32665/ADC/main.c
  Examples/MAX32690/USB_CompositeDevice_MSC_HID/main.c
  Examples/MAX32690/USB_HIDKeyboard/main.c
  Libraries/CMSIS/Device/Maxim/MAX32570/Include/owm_regs.h
  Libraries/PeriphDrivers/Source/OWM/owm_reva_me13.svd
Labels: MAX32570, MAX32665, MAX32690, Register Change

#760 fix(Examples): Fix RTC and RTC_Backup Example ERFO Initialization for MAX32655
  Examples/MAX32655/RTC/main.c
  Examples/MAX32655/RTC_Backup/main.c
Labels: MAX32655

#766 fix(workflow): Fix Documentation/build.py error When Directory Doesn't Exist
  Documentation/build.py
Labels: documentation

#768 fix(BLE): Remove Unused Tools
  Tools/Bluetooth/DBB.py
  Tools/Bluetooth/calibration_init.py
Labels: BLE, Tools

#776 fix(BLE,Build): Fix default PAL_NVM_SIZE, add compiler checks for NVM erase functions
  Libraries/Cordio/platform/targets/maxim/build/cordio.mk
  Libraries/Cordio/platform/targets/maxim/max32655/sources/pal_flash.c
  Libraries/Cordio/platform/targets/maxim/max32665/sources/pal_flash.c
  Libraries/Cordio/platform/targets/maxim/max32690/sources/pal_flash.c
Labels: BLE

#778 docs(BLE): Updated documentation regarding BLE_periphs intentional use case
  Examples/MAX32655/BLE_periph/README.md
  Examples/MAX32665/BLE_periph/README.md
  Examples/MAX32690/BLE_periph/README.md
Labels: MAX32655, MAX32665, MAX32690, BLE

#775 fix(PeriphDrivers,CMSIS): SBISYS-216: Fix typos in SPI Rx Request Select, new SVD file for MAX32690
  Libraries/CMSIS/Device/Maxim/MAX32690/Include/max32690.svd
  Libraries/PeriphDrivers/Source/SPI/spi_me18.c
Labels: MAX32690, Register Change

#779 fix(PeriphDrivers): Added update to force scale select sample to occur with ADC and ADC RefSelect for REVA API
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/adc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/aeskeys_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/dma_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/dvs_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/fcr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/flc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/gcr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/gpio_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/htmr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/i2c_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/icc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/max32665.svd
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/mcr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/owm_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/pt_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/ptg_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/pwrseq_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/rpu_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/rtc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/sdhc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/sema_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/simo_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/sir_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/smon_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/spi_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/spixfc_fifo_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/spixfc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/spixfm_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/spixr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/srcc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/tmr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/tpu_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/trimsir_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/trng_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/uart_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/usbhs_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/wdt_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/wut_regs.h
  Libraries/PeriphDrivers/Include/MAX32650/adc.h
  Libraries/PeriphDrivers/Include/MAX32665/adc.h
  Libraries/PeriphDrivers/Source/ADC/adc_me10.c
  Libraries/PeriphDrivers/Source/ADC/adc_me13.c
  Libraries/PeriphDrivers/Source/ADC/adc_me14.c
  Libraries/PeriphDrivers/Source/ADC/adc_me17.c
  Libraries/PeriphDrivers/Source/ADC/adc_me55.c
  Libraries/PeriphDrivers/Source/ADC/adc_reva.c
  Libraries/PeriphDrivers/Source/ADC/adc_reva.h
Labels: MAX32570, MAX32650, MAX32655, MAX32665, MAX32680, MAX78000, Register Change
