Repository analogdevicesinc/msdk, pull requests merged in 2023-05, with the labels that each got.

#565 MAX32675, MAX32680: AFE and HART Driver Updates from Bench and Simulation Testing for New Device Revision
  .github/workflows/Verify_Register_SVD.yml
  .github/workflows/linter.yml
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/afe_adc_one_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/afe_adc_zero_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32680/Include/afe_adc_one_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32680/Include/afe_adc_zero_regs.h
  Libraries/PeriphDrivers/Include/MAX32675/afe.h
  Libraries/PeriphDrivers/Include/MAX32675/gpio.h
  Libraries/PeriphDrivers/Include/MAX32675/hart_uart.h
  Libraries/PeriphDrivers/Include/MAX32680/afe.h
  Libraries/PeriphDrivers/Include/MAX32680/hart_uart.h
  Libraries/PeriphDrivers/Source/AFE/afe.c
  Libraries/PeriphDrivers/Source/AFE/afe_adc_one.svd
  Libraries/PeriphDrivers/Source/AFE/afe_adc_zero.svd
  Libraries/PeriphDrivers/Source/AFE/afe_gpio.c
  Libraries/PeriphDrivers/Source/AFE/hart_uart.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me16.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me20.c
  Libraries/PeriphDrivers/Source/UART/uart_me16.c
Labels: WIP, API Change, MAX32675, MAX32680

#568 MAX78000: Updating WearLeveling example to explicitly show flash wear leveling.
  Examples/MAX78000/WearLeveling/README.md
  Examples/MAX78000/WearLeveling/WearLeveling.launch
  Examples/MAX78000/WearLeveling/include/cli.h
  Examples/MAX78000/WearLeveling/include/file.h
  Examples/MAX78000/WearLeveling/include/flash.h
  Examples/MAX78000/WearLeveling/include/main.h
  Examples/MAX78000/WearLeveling/main.c
  Examples/MAX78000/WearLeveling/project.mk
  Examples/MAX78000/WearLeveling/src/cli.c
  Examples/MAX78000/WearLeveling/src/file.c
  Examples/MAX78000/WearLeveling/src/flash.c
Labels: MAX78000

#567 Remove debug message
  Libraries/Cordio/platform/targets/maxim/max32665/sources/pal_timer.c
Labels: ignore

#517 Cordio: Initialize WSF Message Buffers with Null Terminator
  Libraries/Cordio/wsf/sources/targets/baremetal/wsf_msg.c
  Libraries/Cordio/wsf/sources/targets/freertos/wsf_msg.c
Labels: BLE

#477 Cordio: ble_fcc: Only Check Buffer Length for BT_VER > 9
  Examples/MAX32690/BLE_fcc/main.c
Labels: BLE

#584 MSDK-1118: FLC: Fix Null Pointer Bug for MAX32660 Flash Base Address
  Libraries/PeriphDrivers/Source/FLC/flc_me11.c
Labels: bug, MAX32660
