Repository analogdevicesinc/msdk, pull requests merged in 2023-04, with the labels that each got.

#538 Add MXC_I2C_AsyncStop and MXC_I2C_AbortAsync Functions
  Libraries/PeriphDrivers/Include/MAX32520/i2c.h
  Libraries/PeriphDrivers/Include/MAX32570/i2c.h
  Libraries/PeriphDrivers/Include/MAX32572/i2c.h
  Libraries/PeriphDrivers/Include/MAX32650/i2c.h
  Libraries/PeriphDrivers/Include/MAX32655/i2c.h
  Libraries/PeriphDrivers/Include/MAX32660/i2c.h
  Libraries/PeriphDrivers/Include/MAX32662/i2c.h
  Libraries/PeriphDrivers/Include/MAX32665/i2c.h
  Libraries/PeriphDrivers/Include/MAX32670/i2c.h
  Libraries/PeriphDrivers/Include/MAX32672/i2c.h
  Libraries/PeriphDrivers/Include/MAX32675/i2c.h
  Libraries/PeriphDrivers/Include/MAX32680/i2c.h
  Libraries/PeriphDrivers/Include/MAX32690/i2c.h
  Libraries/PeriphDrivers/Include/MAX78000/i2c.h
  Libraries/PeriphDrivers/Include/MAX78002/i2c.h
  Libraries/PeriphDrivers/Source/I2C/i2c_ai87.c
  Libraries/PeriphDrivers/Source/I2C/i2c_es17.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me11.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me12.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me13.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me14.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me15.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me16.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me17.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me18.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me21.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me55.c
Labels: API Change

#544 MAX32675: Add Pin Definitions for I2C1
  Libraries/PeriphDrivers/Include/MAX32675/mxc_pins.h
  Libraries/PeriphDrivers/Source/SYS/pins_me16.c
Labels: MAX32675

#546 MSDK-1027: CAN: Fix Maximum Value of Prescaler
  Libraries/PeriphDrivers/Include/MAX32662/can.h
  Libraries/PeriphDrivers/Include/MAX32690/can.h
Labels: bug

#554 Cordio: Pass Options Down to Library Build Correctly
  Libraries/Cordio/platform/targets/maxim/build/cordio_lib.mk
Labels: build system

#557 Ble test filtering
  .github/workflows/BLE_Examples_Test.yml
  .github/workflows/scripts/test_launcher.sh
Labels: BLE

#552 MAX78000, MAX78002: Update Checkpoint for FaceID Database Generation
  Examples/MAX78000/CNN/faceid_evkit/db_gen/ai85/AI85FaceIDNetNoBias.py
  Examples/MAX78000/CNN/faceid_evkit/db_gen/ai85/ai85_simulator.py
  Examples/MAX78000/CNN/faceid_evkit/db_gen/ai85/ai8x.py
  Examples/MAX78000/CNN/faceid_evkit/db_gen/ai85/devices.py
  Examples/MAX78000/CNN/faceid_evkit/db_gen/generate_face_db.py
  Examples/MAX78000/CNN/faceid_evkit/db_gen/model/ai85-faceid-qat8-q.pth.tar
  Examples/MAX78000/CNN/faceid_evkit/db_gen/model/ai85-streaming_seqfaceid_nobias_x6.pth.tar
  Examples/MAX78000/CNN/faceid_evkit/db_gen/mtcnn/utils/detect_face.py
  Examples/MAX78000/CNN/faceid_evkit/db_gen/utils.py
  Examples/MAX78002/CNN/faceid_evkit/db_gen/ai85/AI85FaceIDNetNoBias.py
  Examples/MAX78002/CNN/faceid_evkit/db_gen/ai85/ai85_simulator.py
  Examples/MAX78002/CNN/faceid_evkit/db_gen/ai85/ai8x.py
  Examples/MAX78002/CNN/faceid_evkit/db_gen/ai85/devices.py
  Examples/MAX78002/CNN/faceid_evkit/db_gen/generate_face_db.py
  Examples/MAX78002/CNN/faceid_evkit/db_gen/model/ai85-faceid-qat8-q.pth.tar
  Examples/MAX78002/CNN/faceid_evkit/db_gen/model/ai85-streaming_seqfaceid_nobias_x6.pth.tar
  Examples/MAX78002/CNN/faceid_evkit/db_gen/mtcnn/utils/detect_face.py
  Examples/MAX78002/CNN/faceid_evkit/db_gen/utils.py
Labels: MAX78000, MAX78002
