Repository analogdevicesinc/msdk, pull requests merged in 2024-07, with the labels that each got.

#1067 docs(BLE): Add Documentation for Wireless Stack Framework in CORDIO_USERGUIDE
  Libraries/Cordio/docs/CORDIO_USERGUIDE.md
Labels: BLE

#1041 fix(PeriphDrivers): Fix SDHC Peripheral Failure for Alternative System Clocks
  Libraries/PeriphDrivers/Source/SDHC/sdhc_ai87.c
  Libraries/PeriphDrivers/Source/SDHC/sdhc_me10.c
  Libraries/PeriphDrivers/Source/SDHC/sdhc_me13.c
  Libraries/PeriphDrivers/Source/SDHC/sdhc_me14.c
Labels: MAX32570, MAX32650, MAX32665, MAX78002

#1052 perf(Other): Use FreeRTOS Heap Allocation Scheme 4, Allow Changing FreeRTOS Heap Allocation Scheme
  Examples/MAX78000/FreeRTOSDemo/project.mk
  Libraries/FreeRTOS/Makefile
  USERGUIDE.md
Labels: MAX78000

#1036 feat(Examples): Add MAX32650 LCD + FreeRTOS Example
  Examples/MAX32650/CLCD_FreeRTOS/.cproject
  Examples/MAX32650/CLCD_FreeRTOS/.project
  Examples/MAX32650/CLCD_FreeRTOS/.settings/language.settings.xml
  Examples/MAX32650/CLCD_FreeRTOS/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32650/CLCD_FreeRTOS/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32650/CLCD_FreeRTOS/.vscode/README.md
  Examples/MAX32650/CLCD_FreeRTOS/.vscode/c_cpp_properties.json
  Examples/MAX32650/CLCD_FreeRTOS/.vscode/flash.gdb
  Examples/MAX32650/CLCD_FreeRTOS/.vscode/launch.json
  Examples/MAX32650/CLCD_FreeRTOS/.vscode/settings.json
  Examples/MAX32650/CLCD_FreeRTOS/.vscode/tasks.json
  Examples/MAX32650/CLCD_FreeRTOS/CLCD_FreeRTOS.launch
  Examples/MAX32650/CLCD_FreeRTOS/FreeRTOSConfig.h
  Examples/MAX32650/CLCD_FreeRTOS/FreeRTOS_Debug.c
  Examples/MAX32650/CLCD_FreeRTOS/LCD_Task.c
  Examples/MAX32650/CLCD_FreeRTOS/LCD_Task.h
  Examples/MAX32650/CLCD_FreeRTOS/LiberationSans16x16.c
  Examples/MAX32650/CLCD_FreeRTOS/Makefile
  Examples/MAX32650/CLCD_FreeRTOS/README.md
  Examples/MAX32650/CLCD_FreeRTOS/UsageTrace.c
  Examples/MAX32650/CLCD_FreeRTOS/UsageTrace.h
  Examples/MAX32650/CLCD_FreeRTOS/doc/gpio_output.png
  Examples/MAX32650/CLCD_FreeRTOS/doc/gpio_output2.png
  Examples/MAX32650/CLCD_FreeRTOS/doc/xrtos.png
  Examples/MAX32650/CLCD_FreeRTOS/main.c
  Examples/MAX32650/CLCD_FreeRTOS/project.mk
Labels: MAX32650

#1014 refactor(Examples): Clean up record.c (MAX78002 CNN Examples) contains duplicate includes
  Examples/MAX78002/CNN/facial_recognition/src/record.c
Labels: MAX78002, stale

#1022 feat(BLE): Added User Configurable Duplicate Filtering
  Libraries/Cordio/ble-profiles/include/app_api.h
  Libraries/Cordio/ble-profiles/sources/af/app_master_ae.c
Labels: BLE

#1071 fix(BLE): OTAS Example
  Examples/MAX32690/Bluetooth/BLE_otas/dats_main.c
Labels: MAX32690, BLE

#1059 fix(PeriphDrivers): Resolve incorrect DMA request in DMA-based SPI transactions for all parts
  Libraries/PeriphDrivers/Source/SPI/spi_ai87.c
  Libraries/PeriphDrivers/Source/SPI/spi_es17.c
  Libraries/PeriphDrivers/Source/SPI/spi_me11.c
  Libraries/PeriphDrivers/Source/SPI/spi_me12.c
  Libraries/PeriphDrivers/Source/SPI/spi_me13.c
  Libraries/PeriphDrivers/Source/SPI/spi_me14.c
  Libraries/PeriphDrivers/Source/SPI/spi_me15.c
  Libraries/PeriphDrivers/Source/SPI/spi_me16.c
  Libraries/PeriphDrivers/Source/SPI/spi_me17.c
  Libraries/PeriphDrivers/Source/SPI/spi_me18.c
  Libraries/PeriphDrivers/Source/SPI/spi_me21.c
  Libraries/PeriphDrivers/Source/SPI/spi_me30.c
  Libraries/PeriphDrivers/Source/SPI/spi_me55.c
Labels: MAX32520, MAX32570, MAX32655, MAX32660, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662, MAX32572

#1072 revert(PeriphDrivers): Revert incorrect spi_num - reqselTx/Rx matching in DMA-based SPI transactions for MAX32655, MAX32662, MAX32680, MAX78000, and MAX78002
  Libraries/PeriphDrivers/Source/SPI/spi_ai87.c
  Libraries/PeriphDrivers/Source/SPI/spi_me12.c
  Libraries/PeriphDrivers/Source/SPI/spi_me17.c
Labels: MAX32655, MAX32680, MAX78000, MAX78002, MAX32662

#1065 fix(PeriphDrivers): Fix MAX32690 I2C Recovery Failures for TQFN Package
  Libraries/Boards/MAX32690/EvKit_V1/board.mk
  Libraries/PeriphDrivers/Source/I2C/i2c_me18.c
Labels: MAX32690

#1066 feat(Examples): I2S_DMA_Target example added to the MAX32690 examples
  Examples/MAX32690/I2S_DMA_Target/.cproject
  Examples/MAX32690/I2S_DMA_Target/.project
  Examples/MAX32690/I2S_DMA_Target/.settings/language.settings.xml
  Examples/MAX32690/I2S_DMA_Target/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32690/I2S_DMA_Target/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32690/I2S_DMA_Target/.settings/org.eclipse.core.resources.prefs
  Examples/MAX32690/I2S_DMA_Target/.vscode/README.md
  Examples/MAX32690/I2S_DMA_Target/.vscode/c_cpp_properties.json
  Examples/MAX32690/I2S_DMA_Target/.vscode/flash.gdb
  Examples/MAX32690/I2S_DMA_Target/.vscode/launch.json
  Examples/MAX32690/I2S_DMA_Target/.vscode/settings.json
  Examples/MAX32690/I2S_DMA_Target/.vscode/tasks.json
  Examples/MAX32690/I2S_DMA_Target/I2S_DMA_Target.launch
  Examples/MAX32690/I2S_DMA_Target/Makefile
  Examples/MAX32690/I2S_DMA_Target/README.md
  Examples/MAX32690/I2S_DMA_Target/main.c
  Examples/MAX32690/I2S_DMA_Target/project.mk
  Libraries/Boards/MAX32690/EvKit_V1/board.mk
Labels: MAX32690

#1076 fix(workflow): Grant PRs against forks access to write permissions
  .github/workflows/zephyr-hal.yml
Labels: Workflow

#1078 feat(PeriphDrivers): Enable sysclk-div for MAX32690
  Libraries/PeriphDrivers/Include/MAX32690/mxc_sys.h
  Libraries/PeriphDrivers/Source/SYS/sys_me18.c
  Libraries/zephyr/MAX/Include/wrap_max32_sys.h
Labels: MAX32690

#1077 fix(PeriphDrivers): Fix `-wstrict-prototype` and other Misc. MAX78002 Warnings
  Examples/MAX78002/ADC/main.c
  Examples/MAX78002/CNN/facial_recognition/include/record.h
  Examples/MAX78002/CNN/facial_recognition/src/record.c
  Examples/MAX78002/CNN/kws20_demo/main.c
  Examples/MAX78002/CNN/pascalvoc-retinanetv7_3/src/camera/camera.h
  Examples/MAX78002/CNN/pascalvoc-retinanetv7_3/src/cnn/nms.c
  Examples/MAX78002/CNN/pascalvoc-retinanetv7_3/src/sram/aps6404.c
  Examples/MAX78002/CNN/pascalvoc-retinanetv7_3/src/sram/aps6404.h
  Examples/MAX78002/CNN/pascalvoc-retinanetv7_3/src/sram/fastspi.c
  Examples/MAX78002/CSI2/src/sram/aps6404.c
  Examples/MAX78002/CSI2/src/sram/aps6404.h
  Examples/MAX78002/CSI2/src/sram/fastspi.c
  Examples/MAX78002/QSPI/aps6404.h
  Examples/MAX78002/QSPI/fastspi.c
  Examples/MAX78002/QSPI/main.c
  Examples/MAX78002/Watchdog/main.c
  Libraries/MiscDrivers/Camera/mipi_camera.c
  Libraries/MiscDrivers/Camera/mipi_camera.h
  Libraries/PeriphDrivers/Include/MAX78002/csi2.h
  Libraries/PeriphDrivers/Source/CSI2/csi2_ai87.c
  Libraries/PeriphDrivers/Source/CSI2/csi2_reva.c
  Libraries/PeriphDrivers/Source/CSI2/csi2_reva.h
  Libraries/PeriphDrivers/max78002_files.mk
Labels: MAX78002

#1026 feat(PeriphDrivers): Add MAX32657 I3C driver
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/i3c_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/max32657.h
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/max32657.svd
  Libraries/PeriphDrivers/Include/MAX32657/i3c.h
  Libraries/PeriphDrivers/Source/I3C/i3c_ccc.h
  Libraries/PeriphDrivers/Source/I3C/i3c_me30.c
  Libraries/PeriphDrivers/Source/I3C/i3c_reva.c
  Libraries/PeriphDrivers/Source/I3C/i3c_reva.h
  Libraries/PeriphDrivers/Source/I3C/i3c_reva.svd
  Libraries/PeriphDrivers/Source/I3C/i3c_reva_regs.h
  Libraries/PeriphDrivers/max32657_files.mk
Labels: Register Change

#1039 fix(BLE): Compiling PAL with interrupt handlers.
  Libraries/Cordio/platform/targets/maxim/build/cordio.mk
  Libraries/Cordio/platform/targets/maxim/max32655/sources/pal_rtc.c
Labels: BLE, stale

#1079 feat(Examples): Add SDHC example for MAX32655FTHR
  Examples/MAX32655/SDHC_FTHR/.cproject
  Examples/MAX32655/SDHC_FTHR/.project
  Examples/MAX32655/SDHC_FTHR/.settings/language.settings.xml
  Examples/MAX32655/SDHC_FTHR/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32655/SDHC_FTHR/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32655/SDHC_FTHR/.settings/org.eclipse.core.resources.prefs
  Examples/MAX32655/SDHC_FTHR/.vscode/README.md
  Examples/MAX32655/SDHC_FTHR/.vscode/c_cpp_properties.json
  Examples/MAX32655/SDHC_FTHR/.vscode/flash.gdb
  Examples/MAX32655/SDHC_FTHR/.vscode/launch.json
  Examples/MAX32655/SDHC_FTHR/.vscode/settings.json
  Examples/MAX32655/SDHC_FTHR/.vscode/tasks.json
  Examples/MAX32655/SDHC_FTHR/MAX32655_SDHC_FAT.launch
  Examples/MAX32655/SDHC_FTHR/Makefile
  Examples/MAX32655/SDHC_FTHR/README.md
  Examples/MAX32655/SDHC_FTHR/include/sdhc.h
  Examples/MAX32655/SDHC_FTHR/include/user-cli.h
  Examples/MAX32655/SDHC_FTHR/main.c
  Examples/MAX32655/SDHC_FTHR/project.mk
  Examples/MAX32655/SDHC_FTHR/src/sdhc.c
  Examples/MAX32655/SDHC_FTHR/src/user-cli.c
  Libraries/Boards/MAX32655/FTHR_Apps_P1/Include/board.h
  Libraries/Boards/MAX32655/FTHR_Apps_P1/Source/board.c
  Libraries/Boards/MAX32655/FTHR_Apps_P1/examples.txt
Labels: MAX32655

#1083 fix(BLE): Fixing clean.cordio build target
  Libraries/Cordio/platform/targets/maxim/build/cordio_lib.mk
  Libraries/Cordio/platform/targets/maxim/build/libCordio.mk
Labels: BLE

#1085 refactor(BLE): Updating API to match new Library
  Examples/MAX32655/Bluetooth/BLE4_ctr/main.c
  Examples/MAX32655/Bluetooth/BLE5_ctr/main.c
  Examples/MAX32665/Bluetooth/BLE4_ctr/main.c
  Examples/MAX32665/Bluetooth/BLE5_ctr/main.c
  Examples/MAX32690/Bluetooth/BLE4_ctr/main.c
  Examples/MAX32690/Bluetooth/BLE5_ctr/main.c
  Libraries/Cordio/controller/include/common/chci_tr.h
  Libraries/Cordio/controller/sources/ble/lhci/lhci_cmd_vs.c
  Libraries/Cordio/controller/sources/ble/ll/ll_main_dtm.c
  Libraries/Cordio/controller/sources/common/chci/chci_tr.c
  Libraries/Cordio/wsf/include/wsf_os.h
  Libraries/Cordio/wsf/include/wsf_types.h
Labels: MAX32655, MAX32665, MAX32690, BLE

#1080 fix(BLE): ME18 PHY + PAL UART + clean.cordio
  Examples/MAX32655/Bluetooth/BLE_FreeRTOS/stack_dats.c
  Examples/MAX32655/Bluetooth/BLE_datc/main.c
  Examples/MAX32655/Bluetooth/BLE_dats/main.c
  Examples/MAX32655/Bluetooth/BLE_fit/main.c
  Examples/MAX32655/Bluetooth/BLE_fit_FreeRTOS/bt_stack.c
  Examples/MAX32655/Bluetooth/BLE_otac/main.c
  Examples/MAX32655/Bluetooth/BLE_otas/main.c
  Examples/MAX32690/Bluetooth/BLE_FreeRTOS/stack_dats.c
  Examples/MAX32690/Bluetooth/BLE_datc/main.c
  Examples/MAX32690/Bluetooth/BLE_dats/main.c
  Examples/MAX32690/Bluetooth/BLE_fit/main.c
  Examples/MAX32690/Bluetooth/BLE_otac/main.c
  Examples/MAX32690/Bluetooth/BLE_otas/main.c
  Libraries/BlePhy/MAX32690/libphy.a
  Libraries/BlePhy/MAX32690/libphy_hard.a
  Libraries/CMSIS/Device/Maxim/MAX32655/Source/GCC/startup_max32655.S
  Libraries/Cordio/controller/sources/ble/init/init.c
  Libraries/Cordio/controller/sources/common/chci/chci_tr.c
  Libraries/Cordio/platform/targets/maxim/build/cordio.mk
  Libraries/Cordio/platform/targets/maxim/build/cordio_lib.mk
  Libraries/Cordio/platform/targets/maxim/build/libCordio.mk
  Libraries/Cordio/platform/targets/maxim/max32655/sources/pal_rtc.c
  Libraries/Cordio/platform/targets/maxim/max32655/sources/pal_uart.c
  Libraries/Cordio/platform/targets/maxim/max32690/sources/pal_rtc.c
  Libraries/Cordio/platform/targets/maxim/max32690/sources/pal_uart.c
  Libraries/PeriphDrivers/Source/UART/uart_revb.c
  Libraries/libs.mk
Labels: MAX32655, MAX32690, BLE

#1100 fix(BLE): HCI Reset Reference Count
  Libraries/Cordio/controller/sources/ble/ll/ll_main_dtm.c
Labels: BLE
