Repository analogdevicesinc/msdk, pull requests merged in 2024-08, with the labels that each got.

#1087 fix(CMSIS): Set CTB clock to max frequency for MAX32572 startup
  Libraries/CMSIS/Device/Maxim/MAX32572/Source/system_max32572.c
Labels: MAX32572

#1103 fix(PeriphDrivers): MAX32672 timer issue
  Libraries/PeriphDrivers/Source/TMR/tmr_me21.c
Labels: MAX32672

#1084 fix(PeriphDrivers): IBRO_CLK is connected to timers 4-5
  Libraries/PeriphDrivers/Source/TMR/tmr_ai87.c
Labels: MAX78002

#1108 feat(PeriphDrivers): Add Clock Setter APIs for MAX32690 & MAX78002 Peripherals, Add Dual Mode TMR Support, Add MAX32690 Clock Calibration API for IPO, Add MAX32690 RISCV Clock Setter, CFS Support Functions
  Libraries/CMSIS/Device/Maxim/MAX32690/Include/max32690.h
  Libraries/CMSIS/Device/Maxim/MAX32690/Source/system_max32690.c
  Libraries/CMSIS/Device/Maxim/MAX78002/Include/max78002.h
  Libraries/MAXUSB/include/core/usb.h
  Libraries/MAXUSB/src/core/musbhsfc/usb.c
  Libraries/PeriphDrivers/Include/MAX32690/adc.h
  Libraries/PeriphDrivers/Include/MAX32690/mxc.h
  Libraries/PeriphDrivers/Include/MAX32690/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32690/tmr.h
  Libraries/PeriphDrivers/Include/MAX32690/uart.h
  Libraries/PeriphDrivers/Include/MAX32690/wdt.h
  Libraries/PeriphDrivers/Include/MAX78002/tmr.h
  Libraries/PeriphDrivers/Include/MAX78002/uart.h
  Libraries/PeriphDrivers/Source/ADC/adc_me18.c
  Libraries/PeriphDrivers/Source/ADC/adc_revb.c
  Libraries/PeriphDrivers/Source/ADC/adc_revb.h
  Libraries/PeriphDrivers/Source/SYS/sys_me18.c
  Libraries/PeriphDrivers/Source/TMR/tmr_ai87.c
  Libraries/PeriphDrivers/Source/TMR/tmr_me18.c
  Libraries/PeriphDrivers/Source/TMR/tmr_revb.c
  Libraries/PeriphDrivers/Source/TMR/tmr_revb.h
  Libraries/PeriphDrivers/Source/UART/uart_ai87.c
  Libraries/PeriphDrivers/Source/UART/uart_me18.c
  Libraries/PeriphDrivers/Source/UART/uart_revb.c
  Libraries/PeriphDrivers/Source/UART/uart_revb.h
  Libraries/PeriphDrivers/Source/WDT/wdt_me18.c
Labels: MAX32690, MAX78002

#1110 perf(Boards, MiscDrivers): Removed TFT CS delay and added new TFT function
  Libraries/Boards/MAX32690/EvKit_V1/Source/board.c
  Libraries/MiscDrivers/Display/tft_st7735.c
  Libraries/MiscDrivers/Display/tft_st7735.h
Labels: MAX32690

#1105 fix(PeriphDrivers): Fix build warnings for MAX32672 and MAX32662 ADC
  Libraries/PeriphDrivers/Source/ADC/adc_me12.c
  Libraries/PeriphDrivers/Source/ADC/adc_me21.c
Labels: MAX32672, MAX32662

#1112 chore(PeriphDrivers): Adding option for MAX32655 B1 0x4231.
  Libraries/PeriphDrivers/Include/MAX32655/mxc_device.h
Labels: MAX32655

#1113 fix(PeriphDrivers): Add UART Clock Setter API for all parts using UART RevB Drivers
  Libraries/PeriphDrivers/Include/MAX32572/uart.h
  Libraries/PeriphDrivers/Include/MAX32655/uart.h
  Libraries/PeriphDrivers/Include/MAX32662/uart.h
  Libraries/PeriphDrivers/Include/MAX32690/uart.h
  Libraries/PeriphDrivers/Include/MAX78000/uart.h
  Libraries/PeriphDrivers/Include/MAX78002/uart.h
  Libraries/PeriphDrivers/Source/UART/uart_ai85.c
  Libraries/PeriphDrivers/Source/UART/uart_me12.c
  Libraries/PeriphDrivers/Source/UART/uart_me17.c
  Libraries/PeriphDrivers/Source/UART/uart_me55.c
Labels: WIP, MAX32655, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662, Needs Testing, MAX32572

#1081 feat(Examples): MAX32672 ADC + DMA Example Project
  Examples/MAX32672/ADC_DMA_RMS/.cproject
  Examples/MAX32672/ADC_DMA_RMS/.project
  Examples/MAX32672/ADC_DMA_RMS/.settings/language.settings.xml
  Examples/MAX32672/ADC_DMA_RMS/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32672/ADC_DMA_RMS/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32672/ADC_DMA_RMS/.vscode/README.md
  Examples/MAX32672/ADC_DMA_RMS/.vscode/c_cpp_properties.json
  Examples/MAX32672/ADC_DMA_RMS/.vscode/flash.gdb
  Examples/MAX32672/ADC_DMA_RMS/.vscode/launch.json
  Examples/MAX32672/ADC_DMA_RMS/.vscode/settings.json
  Examples/MAX32672/ADC_DMA_RMS/.vscode/tasks.json
  Examples/MAX32672/ADC_DMA_RMS/ADC_DMA_RMS.launch
  Examples/MAX32672/ADC_DMA_RMS/CM4_Utils.c
  Examples/MAX32672/ADC_DMA_RMS/CM4_Utils.h
  Examples/MAX32672/ADC_DMA_RMS/Debug.c
  Examples/MAX32672/ADC_DMA_RMS/Debug.h
  Examples/MAX32672/ADC_DMA_RMS/InternalADC.c
  Examples/MAX32672/ADC_DMA_RMS/InternalADC.h
  Examples/MAX32672/ADC_DMA_RMS/Makefile
  Examples/MAX32672/ADC_DMA_RMS/MovingAverage.c
  Examples/MAX32672/ADC_DMA_RMS/MovingAverage.h
  Examples/MAX32672/ADC_DMA_RMS/README.md
  Examples/MAX32672/ADC_DMA_RMS/RMS.c
  Examples/MAX32672/ADC_DMA_RMS/RMS.h
  Examples/MAX32672/ADC_DMA_RMS/doc/ADALM2000-web.png
  Examples/MAX32672/ADC_DMA_RMS/doc/ad5592_output.png
  Examples/MAX32672/ADC_DMA_RMS/doc/fthr_setup.png
  Examples/MAX32672/ADC_DMA_RMS/doc/scopy.png
  Examples/MAX32672/ADC_DMA_RMS/main.c
  Examples/MAX32672/ADC_DMA_RMS/project.mk
Labels: MAX32672

#1118 feat(BLE): Adding header file for PAL version.
  Libraries/Cordio/platform/include/pal_version.h
Labels: BLE

#1111 feat(PeriphDrivers): Add MAX32657 I3C driver
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/i3c_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/max32657.h
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/max32657.svd
  Libraries/PeriphDrivers/Include/MAX32657/i3c.h
  Libraries/PeriphDrivers/Source/I3C/i3c_ccc.h
  Libraries/PeriphDrivers/Source/I3C/i3c_me30.c
  Libraries/PeriphDrivers/Source/I3C/i3c_reva.c
  Libraries/PeriphDrivers/Source/I3C/i3c_reva.h
  Libraries/PeriphDrivers/Source/I3C/i3c_reva.svd
  Libraries/PeriphDrivers/Source/I3C/i3c_reva_regs.h
  Libraries/PeriphDrivers/max32657_files.mk
Labels: Register Change

#1124 fix(BLE): Setting default TIFS time
  Libraries/Cordio/controller/sources/ble/bb/bb_ble_int.h
Labels: BLE

#1129 fix(BLE): Added assertion to PalUart init to make sure uart is not being used
  Libraries/Cordio/platform/targets/maxim/max32655/sources/pal_uart.c
  Libraries/Cordio/platform/targets/maxim/max32665/sources/pal_uart.c
  Libraries/Cordio/platform/targets/maxim/max32690/sources/pal_uart.c
Labels: BLE

#1134 fix(BLE): Enable IRQ in PalUartInit
  Libraries/Cordio/platform/targets/maxim/max32655/sources/pal_uart.c
  Libraries/Cordio/platform/targets/maxim/max32690/sources/pal_uart.c
Labels: BLE

#1130 fix(BLE): PHY features and Window Widening constant
  Libraries/Cordio/controller/sources/ble/init/init.c
  Libraries/Cordio/platform/targets/maxim/build/config_maxim.mk
Labels: BLE

#1137 refactor(BLE): Simplifying LED interface with libphy.
  Libraries/Cordio/platform/include/pal_led.h
  Libraries/Cordio/platform/targets/maxim/build/libCordio.mk
  Libraries/Cordio/platform/targets/maxim/max32655/sources/pal_led.c
  Libraries/Cordio/platform/targets/maxim/max32690/sources/pal_led.c
Labels: BLE

#1096 fix(Documentation): Fix Inaccurate SPI Threshold Docstrings
  Libraries/PeriphDrivers/Include/MAX32520/spi.h
  Libraries/PeriphDrivers/Include/MAX32570/spi.h
  Libraries/PeriphDrivers/Include/MAX32572/spi.h
  Libraries/PeriphDrivers/Include/MAX32650/spi.h
  Libraries/PeriphDrivers/Include/MAX32655/spi.h
  Libraries/PeriphDrivers/Include/MAX32657/spi.h
  Libraries/PeriphDrivers/Include/MAX32660/spi.h
  Libraries/PeriphDrivers/Include/MAX32662/spi.h
  Libraries/PeriphDrivers/Include/MAX32665/spi.h
  Libraries/PeriphDrivers/Include/MAX32670/spi.h
  Libraries/PeriphDrivers/Include/MAX32672/spi.h
  Libraries/PeriphDrivers/Include/MAX32675/spi.h
  Libraries/PeriphDrivers/Include/MAX32680/spi.h
  Libraries/PeriphDrivers/Include/MAX32690/spi.h
  Libraries/PeriphDrivers/Include/MAX78000/spi.h
  Libraries/PeriphDrivers/Include/MAX78002/spi.h
Labels: MAX32520, MAX32570, MAX32650, MAX32655, MAX32660, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662, MAX32572

#1131 fix(Examples): Fix DUTY_CYCLE Functionality for MAX32660 TMR Example
  Examples/MAX32660/TMR/main.c
Labels: MAX32660

#1139 fix(Boards): Update MAX78002 examples list for Eclipse project wizard
  Libraries/Boards/MAX78002/EvKit_V1/examples.txt
Labels: MAX78002

#1142 fix(PeriphDrivers): Add SPI hardware SS control function for AI87
  Libraries/PeriphDrivers/Include/MAX78002/spi.h
  Libraries/PeriphDrivers/Source/SPI/spi_ai87.c
  Libraries/PeriphDrivers/Source/SPI/spi_ai87_v2.c
Labels: MAX78002
