Repository analogdevicesinc/msdk, pull requests merged in 2024-11, with the labels that each got.

#1252 chore(BLE): Added Declaration for PalBbIsEnabled
  Libraries/Cordio/platform/include/pal_bb.h
Labels: BLE

#1246 feat(BLE): Adding Bluetooth example for MAX32657
  Examples/MAX32657/Bluetooth/BLE5_ctr/.cproject
  Examples/MAX32657/Bluetooth/BLE5_ctr/.project
  Examples/MAX32657/Bluetooth/BLE5_ctr/.settings/language.settings.xml
  Examples/MAX32657/Bluetooth/BLE5_ctr/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32657/Bluetooth/BLE5_ctr/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32657/Bluetooth/BLE5_ctr/.vscode/README.md
  Examples/MAX32657/Bluetooth/BLE5_ctr/.vscode/c_cpp_properties.json
  Examples/MAX32657/Bluetooth/BLE5_ctr/.vscode/flash.gdb
  Examples/MAX32657/Bluetooth/BLE5_ctr/.vscode/launch.json
  Examples/MAX32657/Bluetooth/BLE5_ctr/.vscode/settings.json
  Examples/MAX32657/Bluetooth/BLE5_ctr/.vscode/tasks.json
  Examples/MAX32657/Bluetooth/BLE5_ctr/ARM/Abstract.txt
  Examples/MAX32657/Bluetooth/BLE5_ctr/ARM/BLE.sct
  Examples/MAX32657/Bluetooth/BLE5_ctr/ARM/BTLE_BLE5_ctr.uvoptx
  Examples/MAX32657/Bluetooth/BLE5_ctr/ARM/BTLE_BLE5_ctr.uvprojx
  Examples/MAX32657/Bluetooth/BLE5_ctr/ARM/EventRecorderStub.scvd
  Examples/MAX32657/Bluetooth/BLE5_ctr/BLE5_ctr.launch
  Examples/MAX32657/Bluetooth/BLE5_ctr/IAR/BTLE_BLE5_ctr.ewd
  Examples/MAX32657/Bluetooth/BLE5_ctr/IAR/BTLE_BLE5_ctr.ewp
  Examples/MAX32657/Bluetooth/BLE5_ctr/Makefile
  Examples/MAX32657/Bluetooth/BLE5_ctr/README.md
  Examples/MAX32657/Bluetooth/BLE5_ctr/main.c
  Examples/MAX32657/Bluetooth/BLE5_ctr/project.mk
  Libraries/libs.mk
Labels: BLE

#1254 fix(Examples): Fixed PHY selection bug in RF Test
  Examples/MAX32655/Bluetooth/RF_Test/main.c
  Examples/MAX32665/Bluetooth/RF_Test/main.c
  Examples/MAX32690/Bluetooth/RF_Test/main.c
Labels: MAX32655, MAX32665, MAX32690

#1258 fix(Examples): BLE FreeRTOS Tickless
  Libraries/BlePhy/MAX32665/libphy.a
  Libraries/BlePhy/MAX32665/libphy_hard.a
Labels: BLE

#1260 fix(Examples): RF Test
  Examples/MAX32655/Bluetooth/RF_Test/main.c
  Examples/MAX32665/Bluetooth/RF_Test/main.c
  Examples/MAX32690/Bluetooth/RF_Test/main.c
Labels: MAX32655, MAX32665, MAX32690

#1264 fix(PeriphDrivers): Updated ME14 SD SVD
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/adc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/aeskeys_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/dma_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/dvs_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/fcr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/flc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/gcr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/gpio_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/htmr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/i2c_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/icc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/mcr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/owm_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/pt_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/ptg_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/pwrseq_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/rpu_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/rtc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/sdhc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/sema_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/simo_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/sir_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/smon_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/spi_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/spixfc_fifo_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/spixfc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/spixfm_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/spixr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/srcc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/tmr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/tpu_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/trimsir_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/trng_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/uart_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/usbhs_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/wdt_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/wut_regs.h
Labels: MAX32665, Register Change

#1267 fix(BLE): Setting dtmRxSyncMs to 10.
  Libraries/Cordio/platform/targets/maxim/max32655/sources/pal_cfg.c
  Libraries/Cordio/platform/targets/maxim/max32665/sources/pal_cfg.c
  Libraries/Cordio/platform/targets/maxim/max32690/sources/pal_cfg.c
Labels: BLE

#1272 fix(PeriphDrivers): Fix GPIO Structure Collision for HART UART
  Libraries/PeriphDrivers/Include/MAX32675/mxc_pins.h
  Libraries/PeriphDrivers/Include/MAX32680/mxc_pins.h
  Libraries/PeriphDrivers/Source/AFE/hart_uart.c
  Libraries/PeriphDrivers/Source/SYS/pins_me16.c
  Libraries/PeriphDrivers/Source/SYS/pins_me20.c
Labels: bug, MAX32675, MAX32680

#1275 fix(Examples): Link to the libphy.a directory in MAX32657 BLE5_ctr
  Examples/MAX32657/Bluetooth/BLE5_ctr/project.mk
Labels: BLE, MAX32657
