Repository analogdevicesinc/msdk, pull requests merged in 2024-09, with the labels that each got.

#1098 feat(Examples): Firmware update through HCI for MAX32655
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/BLT/.cproject
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/BLT/.project
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/BLT/.settings/language.settings.xml
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/BLT/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/BLT/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/BLT/.vscode/README.md
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/BLT/.vscode/c_cpp_properties.json
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/BLT/.vscode/flash.gdb
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/BLT/.vscode/launch.json
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/BLT/.vscode/settings.json
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/BLT/.vscode/tasks.json
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/BLT/Makefile
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/BLT/bl_build.S
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/BLT/main.c
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/BLT/ota_internal_mem.ld
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/BLT/project.mk
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/.cproject
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/.project
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/.settings/language.settings.xml
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/.vscode/README.md
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/.vscode/c_cpp_properties.json
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/.vscode/flash.gdb
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/.vscode/launch.json
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/.vscode/settings.json
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/.vscode/tasks.json
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/Bootloader.launch
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/Makefile
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/README.md
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/boot_lower.S
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/bootloader.ld
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/main_int.c
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Bootloader/project.mk
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/README.md
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Second_App/.cproject
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Second_App/.project
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Second_App/.settings/language.settings.xml
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Second_App/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Second_App/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Second_App/.vscode/README.md
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Second_App/.vscode/c_cpp_properties.json
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Second_App/.vscode/flash.gdb
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Second_App/.vscode/launch.json
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Second_App/.vscode/settings.json
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Second_App/.vscode/tasks.json
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Second_App/Makefile
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Second_App/README.md
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Second_App/bl_build.S
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Second_App/main.c
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Second_App/ota_internal_mem.ld
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/Second_App/project.mk
  Libraries/Cordio/controller/sources/ble/lhci/lhci_cmd_vs.c
  Libraries/Cordio/controller/sources/ble/lhci/lhci_int.h
Labels: MAX32655, BLE

#1127 docs(Examples): Update SCPA OTP Dump Example README
  Examples/MAX32520/SCPA_OTP_Dump/README.md
  Examples/MAX32650/SCPA_OTP_Dump/README.md
  Examples/MAX32662/SCPA_OTP_Dump/README.md
  Examples/MAX32665/SCPA_OTP_Dump/README.md
  Examples/MAX32672/SCPA_OTP_Dump/README.md
  Examples/MAX32690/SCPA_OTP_Dump/README.md
  Tools/SBT/bin/send_scp.exe
Labels: MAX32520, MAX32650, MAX32665, MAX32672, MAX32690, Tools, MAX32662

#1145 fix(PeriphDrivers): Flip strong vs weak pull-up bit values
  Libraries/PeriphDrivers/Source/GPIO/gpio_ai85.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_ai87.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_es17.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me13.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me14.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me17.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me18.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me20.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me30.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me55.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_revb.c
  Libraries/PeriphDrivers/Source/SYS/pins_me18.c
Labels: MAX32520, MAX32570, MAX32655, MAX32665, MAX32680, MAX32690, MAX78000, MAX78002, MAX32572

#1153 fix(PeriphDrivers): MAX32690 Only Reset ADC, TMR, UART if Clock is not Locked
  Libraries/PeriphDrivers/Source/ADC/adc_me18.c
  Libraries/PeriphDrivers/Source/ADC/adc_revb.c
  Libraries/PeriphDrivers/Source/ADC/adc_revb.h
  Libraries/PeriphDrivers/Source/TMR/tmr_me18.c
  Libraries/PeriphDrivers/Source/TMR/tmr_revb.c
  Libraries/PeriphDrivers/Source/TMR/tmr_revb.h
  Libraries/PeriphDrivers/Source/UART/uart_me18.c
  Libraries/PeriphDrivers/Source/UART/uart_revb.c
  Libraries/PeriphDrivers/Source/UART/uart_revb.h
Labels: MAX32690

#1109 fix(PeriphDrivers): Fix I2C DMA Issues When Slave Does Not ACK Address, Fix 1-length I2C DMA Transactions
  Libraries/PeriphDrivers/Include/MAX32665/dma.h
  Libraries/PeriphDrivers/Source/DMA/dma_me14.c
  Libraries/PeriphDrivers/Source/I2C/i2c_reva.c
Labels: MAX32665

#1155 fix(Documentation): MAX32690 Update USB README Required Connections for SW2
  Examples/MAX32690/USB/MAXUSB/USB_CompositeDevice_MSC_HID/README.md
  Examples/MAX32690/USB/MAXUSB/USB_HIDKeyboard/README.md
Labels: MAX32690

#1150 fix(PeriphDrivers): Fix UART Functional Regression for MAX32670, MAX32672, MAX32675, MAX32657
  Libraries/PeriphDrivers/Include/MAX32670/uart.h
  Libraries/PeriphDrivers/Include/MAX32672/uart.h
  Libraries/PeriphDrivers/Include/MAX32675/uart.h
  Libraries/PeriphDrivers/Source/AFE/hart_uart.c
  Libraries/PeriphDrivers/Source/UART/uart_me15.c
  Libraries/PeriphDrivers/Source/UART/uart_me16.c
  Libraries/PeriphDrivers/Source/UART/uart_me21.c
  Libraries/PeriphDrivers/Source/UART/uart_me30.c
  Libraries/PeriphDrivers/Source/UART/uart_revb.c
Labels: MAX32670, MAX32672, MAX32675

#1159 fix(Documentation): MAX32690 Hello_World add note on UART
  Examples/MAX32690/Hello_World/README.md
Labels: MAX32690

#1164 fix(PeriphDrivers): Set default osr value
  Libraries/PeriphDrivers/Source/UART/uart_ai87.c
  Libraries/PeriphDrivers/Source/UART/uart_me12.c
  Libraries/PeriphDrivers/Source/UART/uart_me30.c
  Libraries/PeriphDrivers/Source/UART/uart_me55.c
Labels: MAX78002, MAX32662, MAX32572

#1171 fix(Examples): Try to clarify UART capabilities
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_arm/README.md
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_riscv/README.md
  Examples/MAX32690/Hello_World/README.md
  Examples/MAX78002/Hello_World/README.md
  Examples/MAX78002/RV_ARM_Loader/README.md
Labels: MAX32690, MAX78002

#1176 chore(BLE): Added BLE stack to gitignore
  .gitignore
  Libraries/CMSIS/Device/Maxim/MAX32690/Source/system_max32690.c
Labels: MAX32690

#1175 chore(Other, PeriphDrivers): Fix MAX32xxx UART build issue
  Libraries/PeriphDrivers/Source/UART/uart_me12.c
  Libraries/PeriphDrivers/Source/UART/uart_me15.c
  Libraries/PeriphDrivers/Source/UART/uart_me16.c
  Libraries/PeriphDrivers/Source/UART/uart_me17.c
  Libraries/PeriphDrivers/Source/UART/uart_me18.c
  Libraries/PeriphDrivers/Source/UART/uart_me21.c
Labels: MAX32655, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX32662

#1170 feat(PeriphDrivers): Enable sysclk-div for MAX78002
  Libraries/PeriphDrivers/Include/MAX78002/mxc_sys.h
  Libraries/PeriphDrivers/Source/SYS/sys_ai87.c
Labels: MAX78002

#1168 fix(PeriphDrivers): Fix UART clock source issues
  Libraries/PeriphDrivers/Include/MAX32670/uart.h
  Libraries/PeriphDrivers/Include/MAX32672/uart.h
  Libraries/PeriphDrivers/Include/MAX32675/uart.h
  Libraries/PeriphDrivers/Source/UART/uart_ai85.c
  Libraries/PeriphDrivers/Source/UART/uart_ai87.c
  Libraries/PeriphDrivers/Source/UART/uart_me12.c
  Libraries/PeriphDrivers/Source/UART/uart_me15.c
  Libraries/PeriphDrivers/Source/UART/uart_me16.c
  Libraries/PeriphDrivers/Source/UART/uart_me17.c
  Libraries/PeriphDrivers/Source/UART/uart_me18.c
  Libraries/PeriphDrivers/Source/UART/uart_me21.c
Labels: MAX32655, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662

#1069 fix(CMSIS): Fix `AFE_ADC_n_CTRL.ref_sel` enum fields and remove deprecated registers
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/aes_key_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/afe_adc_one_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/afe_adc_zero_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/crc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/dma_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/max32675.svd
  Libraries/CMSIS/Device/Maxim/MAX32680/Include/aes_key_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32680/Include/afe_adc_one_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32680/Include/afe_adc_zero_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32680/Include/crc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32680/Include/dma_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32680/Include/lpcmp_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32680/Include/max32680.svd
  Libraries/PeriphDrivers/Source/AFE/afe_adc_one_reva.svd
  Libraries/PeriphDrivers/Source/AFE/afe_adc_zero_reva.svd
Labels: MAX32675, MAX32680, Register Change

#1143 chore(Other): Updated gitignore to include internal folder
  Examples/MAX32655/Bluetooth/BLE5_ctr/main.c
Labels: MAX32655, BLE

#1172 feat(Build): Trigger Rebuilds in Dual-Core Projects if RISCV Project Content Changes
  Libraries/CMSIS/Device/Maxim/MAX32655/Source/GCC/max32655.mk
  Libraries/CMSIS/Device/Maxim/MAX32680/Source/GCC/max32680.mk
  Libraries/CMSIS/Device/Maxim/MAX32690/Source/GCC/max32690.mk
  Libraries/CMSIS/Device/Maxim/MAX78000/Source/GCC/max78000.mk
  Libraries/CMSIS/Device/Maxim/MAX78002/Source/GCC/max78002.mk
Labels: MAX32655, MAX32680, MAX32690, MAX78000, MAX78002

#1166 feat(MiscDrivers): Add Ability to Set Pushbutton Polarity
  Examples/MAX32690/Bluetooth/Bootloader/README.md
  Examples/MAX32690/Bluetooth/Bootloader/boot_lower.S
  Examples/MAX32690/Bluetooth/Bootloader/bootloader.ld
  Libraries/Boards/MAX32690/APARD/Source/board.c
  Libraries/MiscDrivers/PushButton/pb.c
  Libraries/MiscDrivers/PushButton/pb.h
Labels: MAX32690

#1191 fix(PeriphDrivers): Corrected pin definitions for BLE chips
  Libraries/PeriphDrivers/Source/SYS/pins_me17.c
  Libraries/PeriphDrivers/Source/SYS/pins_me18.c
Labels: MAX32655, MAX32690

#1192 fix(PeriphDrivers): Resize the USN buffer in checksum verification for MAX32655, MAX32662, and MAX32670
  Libraries/PeriphDrivers/Source/SYS/sys_me12.c
  Libraries/PeriphDrivers/Source/SYS/sys_me15.c
  Libraries/PeriphDrivers/Source/SYS/sys_me17.c
Labels: bug, MAX32655, MAX32670, MAX32675, MAX32680, MAX32662

#1135 feat(Build): Optimize Build Examples Test
  .github/workflows/Build_Examples.yml
  .github/workflows/scripts/build.py
  Libraries/CMSIS/Device/Maxim/GCC/gcc.mk
  Libraries/CMSIS/Device/Maxim/GCC/gcc_riscv.mk
  Libraries/Cordio/platform/targets/maxim/build/cordio_lib.mk
  Libraries/FCL/fcl.mk
  Libraries/FreeRTOS/freertos.mk
  Libraries/MAXUSB/maxusb.mk
  Libraries/PeriphDrivers/periphdriver.mk
  Libraries/SDHC/sdhc.mk
  Libraries/libs.mk
  Libraries/lwIP/lwip.mk
Labels: WIP, BLE, Workflow

#1196 feat(BLE): MAX32657 BLE PHY
  Libraries/BlePhy/MAX32657/libphy.a
Labels: BLE

#1197 feat(BLE): Placeholder for VS Commands for RSSI and Signal Generation
  .gitignore
  Libraries/Cordio/controller/sources/ble/lhci/lhci_cmd_vs.c
  Libraries/Cordio/controller/sources/ble/lhci/lhci_int.h
  Libraries/Cordio/platform/include/pal_bb.h
  Libraries/Cordio/platform/include/pal_bb_ble.h
Labels: BLE
