Repository analogdevicesinc/msdk, pull requests merged in 2024-03, with the labels that each got.

#944 fix(workflow): Update BLE examples path in BLE_Examples_Test workflow
  .github/workflows/BLE_Examples_Test.yml
Labels: Workflow

#945 fix(workflow): Update clang-format workflow to Node.js 20 and remove undefined token
  .github/workflows/clang-format-run-pr.yml
Labels: Workflow

#928 feat(Examples): Add Dual Core Sync examples for MAX32690
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_arm/.cproject
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_arm/.project
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_arm/.settings/language.settings.xml
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_arm/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_arm/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_arm/.vscode/README.md
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_arm/.vscode/c_cpp_properties.json
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_arm/.vscode/flash.gdb
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_arm/.vscode/launch.json
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_arm/.vscode/settings.json
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_arm/.vscode/tasks.json
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_arm/Dual_core_sync_arm.launch
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_arm/Makefile
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_arm/README.md
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_arm/main.c
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_arm/project.mk
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_riscv/.cproject
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_riscv/.project
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_riscv/.settings/language.settings.xml
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_riscv/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_riscv/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_riscv/.vscode/README.md
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_riscv/.vscode/c_cpp_properties.json
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_riscv/.vscode/flash.gdb
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_riscv/.vscode/launch.json
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_riscv/.vscode/settings.json
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_riscv/.vscode/tasks.json
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_riscv/Dual_core_sync_riscv.launch
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_riscv/Makefile
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_riscv/README.md
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_riscv/main.c
  Examples/MAX32690/Dual_Core_Sync/Dual_core_sync_riscv/project.mk
  Libraries/Boards/MAX32690/EvKit_V1/examples.txt
  Libraries/PeriphDrivers/Include/MAX32690/sema.h
  Libraries/PeriphDrivers/Source/SEMA/sema_me18.c
Labels: MAX32690

#951 fix(BLE): PalTimer Calibration
  Libraries/Cordio/platform/targets/maxim/max32665/sources/pal_timer.c
  Libraries/Cordio/platform/targets/maxim/max32690/sources/pal_timer.c
Labels: BLE

#937 feat(Build, workflow): Add Version Info Files
  .github/workflows/build-docs.yml
  .github/workflows/scripts/update_version.py
  .github/workflows/update_version.yml
  Libraries/CMSIS/Device/Maxim/GCC/gcc.mk
  Libraries/CMSIS/Device/Maxim/GCC/gcc_riscv.mk
  Libraries/CMSIS/Device/Maxim/GCC/mxc_version.mk
  mxc_version.h
Labels: Workflow

#946 fix(PeriphDrivers): Update INRO clock Enum name for MAX32662.
  Libraries/PeriphDrivers/Include/MAX32662/tmr.h
  Libraries/PeriphDrivers/Source/TMR/tmr_me12.c
Labels: MAX32662

#939 feat(BLE): Added API to check whether a test is actively running
  Libraries/Cordio/controller/include/ble/ll_api.h
  Libraries/Cordio/controller/sources/ble/ll/ll_main_dtm.c
Labels: BLE

#953 fix(PeriphDrivers): Resolve compiler warnings for the MAX32690 libraries when building with IAR's Embedded Workbench
  Examples/MAX78000/CNN/facial_recognition/include/ffconf.h
  Libraries/PeriphDrivers/Source/GPIO/gpio_me18.c
  Libraries/PeriphDrivers/Source/I2S/i2s_reva.c
  Libraries/PeriphDrivers/Source/SEMA/sema_reva.c
  Libraries/PeriphDrivers/Source/UART/uart_revb.c
  Libraries/PeriphDrivers/Source/WUT/wut_reva.c
Labels: MAX32690, MAX78000

#957 fix(workflow): Add token permissions to automatically re-trigger actions after a commit
  .github/workflows/clang-format-run-pr.yml
Labels: Workflow

#960 revert(workflow): Remove token usage from clang-format-run workflow
  .github/workflows/clang-format-run-pr.yml
Labels: Workflow

#956 fix(Examples,PeriphDrivers): Update TMR Clock Source names to be consistent with the User Guides
  Examples/MAX32655/TMR/main.c
  Examples/MAX32662/TMR/main.c
  Examples/MAX32670/TMR/main.c
  Examples/MAX32672/TMR/main.c
  Examples/MAX32675/TMR/main.c
  Examples/MAX32680/TMR/main.c
  Examples/MAX32690/TMR/main.c
  Examples/MAX78000/TMR/main.c
  Examples/MAX78002/TMR/main.c
  Libraries/PeriphDrivers/Include/MAX32655/tmr.h
  Libraries/PeriphDrivers/Include/MAX32662/tmr.h
  Libraries/PeriphDrivers/Include/MAX32670/tmr.h
  Libraries/PeriphDrivers/Include/MAX32672/tmr.h
  Libraries/PeriphDrivers/Include/MAX32675/tmr.h
  Libraries/PeriphDrivers/Include/MAX32680/tmr.h
  Libraries/PeriphDrivers/Include/MAX32690/tmr.h
  Libraries/PeriphDrivers/Include/MAX78000/tmr.h
  Libraries/PeriphDrivers/Include/MAX78002/tmr.h
  Libraries/PeriphDrivers/Source/TMR/tmr_ai85.c
  Libraries/PeriphDrivers/Source/TMR/tmr_ai87.c
  Libraries/PeriphDrivers/Source/TMR/tmr_me12.c
  Libraries/PeriphDrivers/Source/TMR/tmr_me15.c
  Libraries/PeriphDrivers/Source/TMR/tmr_me16.c
  Libraries/PeriphDrivers/Source/TMR/tmr_me17.c
  Libraries/PeriphDrivers/Source/TMR/tmr_me18.c
  Libraries/PeriphDrivers/Source/TMR/tmr_me21.c
Labels: MAX32655, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662

#958 fix(PeriphDrivers): Fix Unusable MAX32690 I2C Pins
  Libraries/CMSIS/Device/Maxim/GCC/mxc_version.mk
  Libraries/PeriphDrivers/Include/MAX32690/i2c.h
  Libraries/PeriphDrivers/Include/MAX32690/mxc_pins.h
  Libraries/PeriphDrivers/Source/I2C/i2c_me18.c
  Libraries/PeriphDrivers/Source/SYS/pins_me18.c
  mxc_version.h
Labels: MAX32690

#959 feat(PeriphDrivers): Allow Skipping Clock and GPIO Initialization on CAN
  Libraries/PeriphDrivers/Include/MAX32662/can.h
  Libraries/PeriphDrivers/Include/MAX32690/can.h
  Libraries/PeriphDrivers/Source/CAN/can_me12.c
  Libraries/PeriphDrivers/Source/CAN/can_me18.c
Labels: MAX32690, MAX32662

#966 fix(Tools): JLink Flashing for MAX32670/75
  Tools/Flash/flash.mk
Labels: Tools

#962 feat(Examples): Add RTOS Debug Features to MAX78000 FreeRTOSDemo
  Examples/MAX78000/FreeRTOSDemo/FreeRTOSConfig.h
  Examples/MAX78000/FreeRTOSDemo/FreeRTOS_Debug.c
  Examples/MAX78000/FreeRTOSDemo/README.md
  Examples/MAX78000/FreeRTOSDemo/img/HardFault.png
  Examples/MAX78000/FreeRTOSDemo/project.mk
Labels: MAX78000
