Repository analogdevicesinc/msdk, pull requests merged in 2024-01, with the labels that each got.

#855 chore(PeriphDrivers): Fix typo
  Libraries/PeriphDrivers/Source/LP/lp_me11.c
  Libraries/PeriphDrivers/Source/LP/lp_me14.c
Labels: MAX32660, MAX32665

#857 feat(PeriphDrivers): Add System Clock Div APIs for MAX32670 and MAX32660
  Libraries/PeriphDrivers/Include/MAX32660/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32670/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32675/mxc_sys.h
  Libraries/PeriphDrivers/Source/SYS/sys_me11.c
  Libraries/PeriphDrivers/Source/SYS/sys_me15.c
Labels: MAX32660, MAX32670, MAX32675

#853 feat(Examples,MiscDrivers): Add ADT7420 I2C Sensor Driver and Example for MAX32655EVKIT
  Examples/MAX32655/I2C_Sensor_ADT7420/.cproject
  Examples/MAX32655/I2C_Sensor_ADT7420/.project
  Examples/MAX32655/I2C_Sensor_ADT7420/.settings/language.settings.xml
  Examples/MAX32655/I2C_Sensor_ADT7420/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32655/I2C_Sensor_ADT7420/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32655/I2C_Sensor_ADT7420/.vscode/README.md
  Examples/MAX32655/I2C_Sensor_ADT7420/.vscode/c_cpp_properties.json
  Examples/MAX32655/I2C_Sensor_ADT7420/.vscode/flash.gdb
  Examples/MAX32655/I2C_Sensor_ADT7420/.vscode/launch.json
  Examples/MAX32655/I2C_Sensor_ADT7420/.vscode/settings.json
  Examples/MAX32655/I2C_Sensor_ADT7420/.vscode/tasks.json
  Examples/MAX32655/I2C_Sensor_ADT7420/I2C_Sensor_ADT7420.launch
  Examples/MAX32655/I2C_Sensor_ADT7420/Makefile
  Examples/MAX32655/I2C_Sensor_ADT7420/README.md
  Examples/MAX32655/I2C_Sensor_ADT7420/main.c
  Examples/MAX32655/I2C_Sensor_ADT7420/project.mk
  Libraries/MiscDrivers/TempSensor/ADT7420/adt7420_driver.c
  Libraries/MiscDrivers/TempSensor/ADT7420/adt7420_driver.h
Labels: MAX32655

#846 fix(PeriphDrivers): Add missing timer dual edge capture mode
  Libraries/PeriphDrivers/Include/MAX32655/tmr.h
  Libraries/PeriphDrivers/Include/MAX32662/tmr.h
  Libraries/PeriphDrivers/Include/MAX32670/tmr.h
  Libraries/PeriphDrivers/Include/MAX32672/tmr.h
  Libraries/PeriphDrivers/Include/MAX32675/tmr.h
  Libraries/PeriphDrivers/Include/MAX32680/tmr.h
  Libraries/PeriphDrivers/Include/MAX32690/tmr.h
  Libraries/PeriphDrivers/Include/MAX78000/tmr.h
  Libraries/PeriphDrivers/Include/MAX78002/tmr.h
  Libraries/PeriphDrivers/Source/TMR/tmr_revb.c
Labels: MAX32655, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662

#861 docs(Examples): Updated documentation of MAX78002 CSI2 example
  Examples/MAX78002/CSI2/README.md
  Examples/MAX78002/CSI2/utils/README.md
Labels: MAX78002

#863 fix(workflow): Fix Skipped Build Tests
  .github/workflows/Build_Examples.yml
Labels: Workflow

#850 fix(Boards, CMSIS, MiscDrivers, PeriphDrivers): SDK changes to make R…
  Libraries/Boards/MAX32572/EvKit_V1/Include/board.h
  Libraries/Boards/MAX32572/EvKit_V1/Source/board.c
  Libraries/Boards/MAX32572/EvKit_V1/board.mk
  Libraries/CMSIS/Device/Maxim/MAX32572/Include/fcr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32572/Source/GCC/max32572.ld
  Libraries/CMSIS/Device/Maxim/MAX32572/Source/GCC/max32572_sla.ld
  Libraries/MiscDrivers/Display/tft_ssd2119.h
  Libraries/MiscDrivers/Touchscreen/tsc2007.c
  Libraries/MiscDrivers/Touchscreen/tsc2007.h
  Libraries/PeriphDrivers/Include/MAX32572/skbd.h
  Libraries/PeriphDrivers/Source/RTC/rtc_me55.c
Labels: Register Change, Destination branch not to main

#869 fix(Examples): Fix MAX78002 TFT_Demo Example for TFT=ADAFRUIT
  Examples/MAX78002/TFT_Demo/main.c
Labels: MAX78002

#867 fix(CMSIS): MSDK-1249: Add OVR Correction to SystemCoreClock Calculation for MAX32662 MAX32672 MAX32675
  Libraries/CMSIS/Device/Maxim/MAX32662/Source/system_max32662.c
  Libraries/CMSIS/Device/Maxim/MAX32672/Source/system_max32672.c
  Libraries/CMSIS/Device/Maxim/MAX32675/Source/system_max32675.c
Labels: MAX32672, MAX32675, MAX32662

#815 feat(Examples): Add AUDIO_Playback Example to MAX32665
  Examples/MAX32665/AUDIO_Playback/.cproject
  Examples/MAX32665/AUDIO_Playback/.project
  Examples/MAX32665/AUDIO_Playback/.settings/language.settings.xml
  Examples/MAX32665/AUDIO_Playback/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32665/AUDIO_Playback/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32665/AUDIO_Playback/.settings/org.eclipse.core.resources.prefs
  Examples/MAX32665/AUDIO_Playback/.vscode/README.md
  Examples/MAX32665/AUDIO_Playback/.vscode/c_cpp_properties.json
  Examples/MAX32665/AUDIO_Playback/.vscode/flash.gdb
  Examples/MAX32665/AUDIO_Playback/.vscode/launch.json
  Examples/MAX32665/AUDIO_Playback/.vscode/settings.json
  Examples/MAX32665/AUDIO_Playback/.vscode/tasks.json
  Examples/MAX32665/AUDIO_Playback/AUDIO_Playback.launch
  Examples/MAX32665/AUDIO_Playback/Makefile
  Examples/MAX32665/AUDIO_Playback/README.md
  Examples/MAX32665/AUDIO_Playback/audio.c
  Examples/MAX32665/AUDIO_Playback/audio.h
  Examples/MAX32665/AUDIO_Playback/audio_regs.h
  Examples/MAX32665/AUDIO_Playback/main.c
  Examples/MAX32665/AUDIO_Playback/project.mk
  Libraries/Boards/MAX32665/EvKit_V1/board.mk
Labels: MAX32665, Register Change

#876 fix(Build): Fix broken `make flash.openocd` on Windows + MSYS2
  Tools/Flash/flash.mk
Labels: Tools

#860 feat(Examples,MiscDrivers): Add ADT7320 Temperature Sensor Driver and Example for MAX32665
  Examples/MAX32665/ADT7320_TempMonitor/.cproject
  Examples/MAX32665/ADT7320_TempMonitor/.project
  Examples/MAX32665/ADT7320_TempMonitor/.settings/language.settings.xml
  Examples/MAX32665/ADT7320_TempMonitor/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32665/ADT7320_TempMonitor/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32665/ADT7320_TempMonitor/.settings/org.eclipse.core.resources.prefs
  Examples/MAX32665/ADT7320_TempMonitor/.vscode/README.md
  Examples/MAX32665/ADT7320_TempMonitor/.vscode/c_cpp_properties.json
  Examples/MAX32665/ADT7320_TempMonitor/.vscode/flash.gdb
  Examples/MAX32665/ADT7320_TempMonitor/.vscode/launch.json
  Examples/MAX32665/ADT7320_TempMonitor/.vscode/settings.json
  Examples/MAX32665/ADT7320_TempMonitor/.vscode/tasks.json
  Examples/MAX32665/ADT7320_TempMonitor/ADT7320_TempMonitor.launch
  Examples/MAX32665/ADT7320_TempMonitor/Makefile
  Examples/MAX32665/ADT7320_TempMonitor/README.md
  Examples/MAX32665/ADT7320_TempMonitor/main.c
  Examples/MAX32665/ADT7320_TempMonitor/project.mk
  Libraries/Boards/MAX32665/EvKit_129B/examples.txt
  Libraries/Boards/MAX32665/EvKit_129C/examples.txt
  Libraries/Boards/MAX32665/EvKit_V1/examples.txt
  Libraries/Boards/MAX32665/FTHR/examples.txt
  Libraries/Boards/MAX32665/FTHR2/examples.txt
  Libraries/MiscDrivers/TempSensor/adt7320_driver.c
  Libraries/MiscDrivers/TempSensor/adt7320_driver.h
  Libraries/MiscDrivers/libinfo.json
Labels: MAX32665

#866 chore(PeriphDrivers): Define `MXC_GPIO_PAD` Enum Consistently Across All Parts
  Libraries/PeriphDrivers/Include/MAX32660/gpio.h
  Libraries/PeriphDrivers/Include/MAX32670/gpio.h
  Libraries/PeriphDrivers/Include/MAX32675/gpio.h
Labels: MAX32660, MAX32670, MAX32675

#873 feat(PeriphDrivers): Add System Clock Div APIs for MAX32 MCUs
  Libraries/PeriphDrivers/Include/MAX32520/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32570/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32662/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32672/mxc_sys.h
  Libraries/PeriphDrivers/Source/SYS/sys_es17.c
  Libraries/PeriphDrivers/Source/SYS/sys_me12.c
  Libraries/PeriphDrivers/Source/SYS/sys_me13.c
  Libraries/PeriphDrivers/Source/SYS/sys_me21.c
Labels: MAX32520, MAX32570, MAX32672, MAX32662

#875 fix(Examples): Fix copyright in AUDIO_Playback example for MAX32665
  Examples/MAX32665/AUDIO_Playback/Makefile
  Examples/MAX32665/AUDIO_Playback/audio.c
  Examples/MAX32665/AUDIO_Playback/audio.h
  Examples/MAX32665/AUDIO_Playback/audio_regs.h
  Examples/MAX32665/AUDIO_Playback/main.c
Labels: MAX32665, Register Change

#880 fix(PeriphDrivers): MSDK-1245: Re-order VSSEL selection to avoid possible damages on pads
  Libraries/PeriphDrivers/Source/GPIO/gpio_ai85.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_ai87.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_es17.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me10.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me11.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me12.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me13.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me14.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me17.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me18.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me20.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me55.c
Labels: MAX32520, MAX32570, MAX32650, MAX32655, MAX32660, MAX32665, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662

#877 fix(PeriphDrivers): Add GPIO Chip Select Configuration for MAX32665 SPI driver
  Libraries/PeriphDrivers/Source/SPI/spi_me14.c
Labels: MAX32665

#874 fix(PeriphDrivers): Update MAX32662 GPIO PAD configuration
  Libraries/PeriphDrivers/Include/MAX32662/gpio.h
  Libraries/PeriphDrivers/Source/GPIO/gpio_me12.c
Labels: MAX32662

#859 fix(PeriphDrivers): Update RTC SEC and SSEC register size
  Libraries/CMSIS/Device/Maxim/MAX32660/Include/max32660.svd
  Libraries/CMSIS/Device/Maxim/MAX32660/Include/rtc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32670/Include/max32670.svd
  Libraries/CMSIS/Device/Maxim/MAX32670/Include/rtc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32672/Include/max32672.svd
  Libraries/CMSIS/Device/Maxim/MAX32672/Include/rtc_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/max32675.svd
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/rtc_regs.h
  Libraries/PeriphDrivers/Source/RTC/rtc_reva_me11.svd
  Libraries/PeriphDrivers/Source/RTC/rtc_reva_me15.svd
  Libraries/PeriphDrivers/Source/RTC/rtc_reva_me21.svd
Labels: MAX32660, MAX32670, MAX32672, MAX32675, Register Change

#887 chore(PeriphDrivers): Define I2C Speeds for MAX32662
  Libraries/PeriphDrivers/Include/MAX32662/i2c.h
Labels: MAX32662

#882 feat(Examples): MSDK-1243: Add Power Down Mode to MAX32655 LP Example
  Examples/MAX32655/LP/main.c
Labels: MAX32655

#888 fix(PeriphDrivers): Fix MXC_UART_Shutdown Typo for LPUART0 Pin De-Initialization
  Libraries/PeriphDrivers/Source/UART/uart_me15.c
Labels: MAX32670

#892 fix(ignore): Hotfix for actionrecognition-demo Build Test Failure
  Examples/MAX78000/CNN/actionrecognition-demo/project.mk
Labels: MAX78000

#840 feat(Examples,PeriphDrivers): Add SPIMSS_DMA example and SPIMSS Master Trans DMA APIs
  Examples/MAX32660/SPIMSS_DMA/.cproject
  Examples/MAX32660/SPIMSS_DMA/.project
  Examples/MAX32660/SPIMSS_DMA/.settings/language.settings.xml
  Examples/MAX32660/SPIMSS_DMA/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32660/SPIMSS_DMA/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32660/SPIMSS_DMA/.vscode/README.md
  Examples/MAX32660/SPIMSS_DMA/.vscode/c_cpp_properties.json
  Examples/MAX32660/SPIMSS_DMA/.vscode/flash.gdb
  Examples/MAX32660/SPIMSS_DMA/.vscode/launch.json
  Examples/MAX32660/SPIMSS_DMA/.vscode/settings.json
  Examples/MAX32660/SPIMSS_DMA/.vscode/tasks.json
  Examples/MAX32660/SPIMSS_DMA/Makefile
  Examples/MAX32660/SPIMSS_DMA/README.md
  Examples/MAX32660/SPIMSS_DMA/SPIMSS.launch
  Examples/MAX32660/SPIMSS_DMA/main.c
  Examples/MAX32660/SPIMSS_DMA/project.mk
  Libraries/PeriphDrivers/Include/MAX32650/spimss.h
  Libraries/PeriphDrivers/Include/MAX32660/dma.h
  Libraries/PeriphDrivers/Include/MAX32660/spimss.h
  Libraries/PeriphDrivers/Source/SPI/spi_me11.c
  Libraries/PeriphDrivers/Source/SPIMSS/spimss_me10.c
  Libraries/PeriphDrivers/Source/SPIMSS/spimss_me11.c
  Libraries/PeriphDrivers/Source/SPIMSS/spimss_reva.c
  Libraries/PeriphDrivers/Source/SPIMSS/spimss_reva.h
Labels: MAX32650, MAX32660

#885 feat(Examples): Add 3 Wire SPI example for MAX32665
  Examples/MAX32665/SPI_3Wire/.cproject
  Examples/MAX32665/SPI_3Wire/.project
  Examples/MAX32665/SPI_3Wire/.settings/language.settings.xml
  Examples/MAX32665/SPI_3Wire/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32665/SPI_3Wire/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32665/SPI_3Wire/.vscode/README.md
  Examples/MAX32665/SPI_3Wire/.vscode/c_cpp_properties.json
  Examples/MAX32665/SPI_3Wire/.vscode/flash.gdb
  Examples/MAX32665/SPI_3Wire/.vscode/launch.json
  Examples/MAX32665/SPI_3Wire/.vscode/settings.json
  Examples/MAX32665/SPI_3Wire/.vscode/tasks.json
  Examples/MAX32665/SPI_3Wire/Makefile
  Examples/MAX32665/SPI_3Wire/README.md
  Examples/MAX32665/SPI_3Wire/SPI_3Wire.launch
  Examples/MAX32665/SPI_3Wire/main.c
  Examples/MAX32665/SPI_3Wire/project.mk
  Libraries/Boards/MAX32665/FTHR/examples.txt
  Libraries/Boards/MAX32665/FTHR2/examples.txt
Labels: MAX32665

#893 chore(Boards,PeriphDrivers): Fix examples.txt for MAX32572 and make RTC WaitBusy function private
  Libraries/Boards/MAX32572/EvKit_V1/examples.txt
  Libraries/PeriphDrivers/Source/RTC/rtc_reva.c
Labels: MAX32572

#849 fix(PeriphDrivers): Fix SKBD and SPI for the initial commit of MAX32572 examples
  Libraries/PeriphDrivers/Include/MAX32572/mxc_pins.h
  Libraries/PeriphDrivers/Source/SKBD/skbd_me55.c
  Libraries/PeriphDrivers/Source/SKBD/skbd_reva.c
  Libraries/PeriphDrivers/Source/SPI/spi_reva2.c
  Libraries/PeriphDrivers/Source/SYS/pins_me55.c
  Libraries/PeriphDrivers/max32572_files.mk
Labels: Destination branch not to main

#895 fix(CMSIS,PeriphDrivers): Fix logic error in SYS Clock Enable/Disable functions and INRO frequency for MAX32662
  Libraries/CMSIS/Device/Maxim/MAX32662/Include/system_max32662.h
  Libraries/PeriphDrivers/Source/SYS/sys_me12.c
Labels: MAX32662

#897 fix(Boards): Remove TFT Lib include from board with no TFT
  Libraries/Boards/MAX32690/WLP_V1/Source/board.c
Labels: MAX32690

#898 feat(CMSIS): Add IAR startup files for MAX32690
  Libraries/CMSIS/Device/Maxim/MAX32690/Source/IAR/cmain.s
  Libraries/CMSIS/Device/Maxim/MAX32690/Source/IAR/heap.c
  Libraries/CMSIS/Device/Maxim/MAX32690/Source/IAR/low_level_init.c
  Libraries/CMSIS/Device/Maxim/MAX32690/Source/IAR/startup_max32690.s
Labels: MAX32690
