Repository analogdevicesinc/msdk, pull requests merged in 2024-02, with the labels that each got.

#899 chore(Boards,MAXUSB,MiscDrivers,PeriphDrivers): Fix most IAR build errors and warnings for MAX32690
  Libraries/Boards/MAX32690/EvKit_V1/Source/board.c
  Libraries/Boards/MAX32690/WLP_V1/Source/board.c
  Libraries/MAXUSB/src/core/musbhsfc/usb.c
  Libraries/MiscDrivers/PushButton/pb.c
  Libraries/PeriphDrivers/Include/MAX32672/dma.h
  Libraries/PeriphDrivers/Include/MAX32690/adc.h
  Libraries/PeriphDrivers/Include/MAX32690/can.h
  Libraries/PeriphDrivers/Include/MAX32690/crc.h
  Libraries/PeriphDrivers/Include/MAX32690/ctb.h
  Libraries/PeriphDrivers/Include/MAX32690/gpio.h
  Libraries/PeriphDrivers/Include/MAX32690/i2c.h
  Libraries/PeriphDrivers/Include/MAX32690/i2s.h
  Libraries/PeriphDrivers/Include/MAX32690/icc.h
  Libraries/PeriphDrivers/Include/MAX32690/pt.h
  Libraries/PeriphDrivers/Include/MAX32690/spi.h
  Libraries/PeriphDrivers/Include/MAX32690/spixf.h
  Libraries/PeriphDrivers/Include/MAX32690/spixr.h
  Libraries/PeriphDrivers/Include/MAX32690/uart.h
  Libraries/PeriphDrivers/Include/MAX32690/wdt.h
  Libraries/PeriphDrivers/Source/ADC/adc_me18.c
  Libraries/PeriphDrivers/Source/ADC/adc_revb.c
  Libraries/PeriphDrivers/Source/CAN/can_me18.c
  Libraries/PeriphDrivers/Source/CAN/can_reva.c
  Libraries/PeriphDrivers/Source/CTB/ctb_me18.c
  Libraries/PeriphDrivers/Source/CTB/ctb_reva.c
  Libraries/PeriphDrivers/Source/DMA/dma_me18.c
  Libraries/PeriphDrivers/Source/DMA/dma_reva.c
  Libraries/PeriphDrivers/Source/FLC/flc_me18.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me18.c
  Libraries/PeriphDrivers/Source/I2S/i2s_reva.c
  Libraries/PeriphDrivers/Source/LPCMP/lpcmp_me18.c
  Libraries/PeriphDrivers/Source/RTC/rtc_reva.c
  Libraries/PeriphDrivers/Source/SPI/spi_me18.c
  Libraries/PeriphDrivers/Source/SPI/spi_reva1.c
  Libraries/PeriphDrivers/Source/SPIXF/spixf_reva.c
  Libraries/PeriphDrivers/Source/SPIXR/spixr_reva.c
  Libraries/PeriphDrivers/Source/SYS/sys_me18.c
  Libraries/PeriphDrivers/Source/TMR/tmr_me18.c
  Libraries/PeriphDrivers/Source/TMR/tmr_revb.c
  Libraries/PeriphDrivers/Source/UART/uart_me18.c
  Libraries/PeriphDrivers/Source/WDT/wdt_me18.c
  Libraries/PeriphDrivers/Source/WUT/wut_me18.c
Labels: MAX32672, MAX32690

#901 fix(MiscDrivers,PeriphDrivers): Fix TMR and TFT build errors for MAX32570
  Libraries/CMSIS/Device/Maxim/MAX32570/Include/max32570.h
  Libraries/MiscDrivers/Display/tft_ssd2119.c
  Libraries/PeriphDrivers/Include/MAX32570/tmr.h
Labels: MAX32570

#904 fix(PeriphDrivers): Remove unused aes_me18.c
  Libraries/PeriphDrivers/Source/AES/aes_me18.c
Labels: MAX32690

#847 fix(PeriphDrivers, Examples): MSDK-1232: Update I2S driver for confused usage of wsize and bits_word register fields
  Examples/MAX32655/I2S/main.c
  Examples/MAX32655/I2S_Playback/main.c
  Examples/MAX32662/I2S/main.c
  Examples/MAX32670/I2S/main.c
  Examples/MAX32672/I2S/main.c
  Examples/MAX32675/I2S/main.c
  Examples/MAX32680/I2S/main.c
  Examples/MAX32690/I2S/main.c
  Examples/MAX78000/CNN/kws20_demo-riscv/main_riscv.c
  Examples/MAX78000/CNN/kws20_demo/main.c
  Examples/MAX78000/CNN/snake_game_demo/main.c
  Examples/MAX78000/I2S/main.c
  Examples/MAX78000/I2S_DMA/main.c
  Examples/MAX78000/I2S_DMA_Target/.vscode/settings.json
  Examples/MAX78000/I2S_DMA_Target/main.c
  Examples/MAX78002/CNN/kws20_demo/main.c
  Examples/MAX78002/I2S/main.c
  Examples/MAX78002/I2S_DMA/main.c
  Libraries/PeriphDrivers/Include/MAX32655/i2s.h
  Libraries/PeriphDrivers/Include/MAX32662/i2s.h
  Libraries/PeriphDrivers/Include/MAX32670/i2s.h
  Libraries/PeriphDrivers/Include/MAX32672/i2s.h
  Libraries/PeriphDrivers/Include/MAX32675/i2s.h
  Libraries/PeriphDrivers/Include/MAX32680/i2s.h
  Libraries/PeriphDrivers/Include/MAX32690/i2s.h
  Libraries/PeriphDrivers/Include/MAX78000/i2s.h
  Libraries/PeriphDrivers/Include/MAX78002/i2s.h
  Libraries/PeriphDrivers/Source/I2S/i2s_reva.c
  Libraries/PeriphDrivers/Source/I2S/i2s_reva.h
Labels: MAX32655, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662, Under discussion

#770 refactor(Examples): Update examples with CLI to use new CLI library
  Examples/MAX32650/SDHC_FAT/README.md
  Examples/MAX32650/SDHC_FAT/include/sdhc_example.h
  Examples/MAX32650/SDHC_FAT/include/user-cli.h
  Examples/MAX32650/SDHC_FAT/main.c
  Examples/MAX32650/SDHC_FAT/project.mk
  Examples/MAX32650/SDHC_FAT/src/sdhc_example.c
  Examples/MAX32650/SDHC_FAT/src/user-cli.c
  Examples/MAX32670/Flash_CLI/CLI-commands.c
  Examples/MAX32670/Flash_CLI/FreeRTOSConfig.h
  Examples/MAX32670/Flash_CLI/README.md
  Examples/MAX32670/Flash_CLI/definitions.h
  Examples/MAX32670/Flash_CLI/main.c
  Examples/MAX32670/Flash_CLI/project.mk
  Examples/MAX32670/WearLeveling/README.md
  Examples/MAX32670/WearLeveling/include/cli.h
  Examples/MAX32670/WearLeveling/include/cmd_table.h
  Examples/MAX32670/WearLeveling/include/main.h
  Examples/MAX32670/WearLeveling/main.c
  Examples/MAX32670/WearLeveling/project.mk
  Examples/MAX32670/WearLeveling/src/cli.c
  Libraries/CLI/src/cli.c
Labels: WIP, MAX32650, MAX32670

#912 fix(PeriphDrivers): Add Missing SEC/MSEC/USEC Utility Macros to MAX32650
  Libraries/CMSIS/Device/Maxim/MAX32650/Include/max32650.h
Labels: MAX32650

#914 chore(Boards,PeriphDrivers): Add Olimex selection, treat UART3 as other UARTs, and fix BCB build errors for MAX32572
  Libraries/Boards/MAX32572/BCB/board.mk
  Libraries/Boards/MAX32572/EvKit_V1/adapters.txt
  Libraries/PeriphDrivers/Source/UART/uart_me55.c
Labels: MAX32572

#845 feat(PeriphDrivers): Add API to lock Debug Access Port
  Libraries/CMSIS/Device/Maxim/MAX32650/Include/max32650.h
  Libraries/PeriphDrivers/Include/MAX32520/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32570/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32650/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32655/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32660/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32662/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32665/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32670/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32672/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32675/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32680/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32690/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX78000/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX78002/mxc_sys.h
  Libraries/PeriphDrivers/Source/FLC/flc_me10.c
  Libraries/PeriphDrivers/Source/SYS/sys_ai85.c
  Libraries/PeriphDrivers/Source/SYS/sys_ai87.c
  Libraries/PeriphDrivers/Source/SYS/sys_es17.c
  Libraries/PeriphDrivers/Source/SYS/sys_me10.c
  Libraries/PeriphDrivers/Source/SYS/sys_me11.c
  Libraries/PeriphDrivers/Source/SYS/sys_me12.c
  Libraries/PeriphDrivers/Source/SYS/sys_me13.c
  Libraries/PeriphDrivers/Source/SYS/sys_me14.c
  Libraries/PeriphDrivers/Source/SYS/sys_me15.c
  Libraries/PeriphDrivers/Source/SYS/sys_me16.c
  Libraries/PeriphDrivers/Source/SYS/sys_me17.c
  Libraries/PeriphDrivers/Source/SYS/sys_me18.c
  Libraries/PeriphDrivers/Source/SYS/sys_me21.c
Labels: MAX32520, MAX32570, MAX32650, MAX32655, MAX32660, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662

#916 fix(Examples, Boards): Fix Max32670 RTC example, update MAX32655 board example list
  Examples/MAX32670/RTC/README.md
  Examples/MAX32670/RTC/main.c
  Libraries/Boards/MAX32655/EvKit_V1/examples.txt
Labels: MAX32655, MAX32670

#927 fix(ThirdParty): Remove IAR build errors for the MAX32675
  Libraries/CMSIS/Device/Maxim/MAX32675/Source/IAR/startup_max32675.s
  Libraries/PeriphDrivers/Include/MAX32675/mxc_device.h
Labels: MAX32675

#930 feat(CMSIS): Enable SPIXF cache controller (SFCC) in SystemInit for MAX32572
  Libraries/CMSIS/Device/Maxim/MAX32572/Source/system_max32572.c
Labels: MAX32572

#932 feat(PeriphDrivers): Allow Skipping Clock and GPIO Initialization
  Libraries/PeriphDrivers/Include/MAX32650/i2c.h
  Libraries/PeriphDrivers/Include/MAX32650/spi.h
  Libraries/PeriphDrivers/Include/MAX32650/uart.h
  Libraries/PeriphDrivers/Include/MAX32660/i2c.h
  Libraries/PeriphDrivers/Include/MAX32660/spi.h
  Libraries/PeriphDrivers/Include/MAX32662/i2c.h
  Libraries/PeriphDrivers/Include/MAX32662/spi.h
  Libraries/PeriphDrivers/Include/MAX32662/uart.h
  Libraries/PeriphDrivers/Include/MAX32672/i2c.h
  Libraries/PeriphDrivers/Include/MAX32672/spi.h
  Libraries/PeriphDrivers/Include/MAX32672/uart.h
  Libraries/PeriphDrivers/Include/MAX32675/i2c.h
  Libraries/PeriphDrivers/Include/MAX32675/spi.h
  Libraries/PeriphDrivers/Include/MAX32675/uart.h
  Libraries/PeriphDrivers/Include/MAX32680/i2c.h
  Libraries/PeriphDrivers/Include/MAX32680/spi.h
  Libraries/PeriphDrivers/Include/MAX32680/uart.h
  Libraries/PeriphDrivers/Source/I2C/i2c_me10.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me11.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me12.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me21.c
  Libraries/PeriphDrivers/Source/SPI/spi_me10.c
  Libraries/PeriphDrivers/Source/SPI/spi_me11.c
  Libraries/PeriphDrivers/Source/SPI/spi_me12.c
  Libraries/PeriphDrivers/Source/SPI/spi_me16.c
  Libraries/PeriphDrivers/Source/SPI/spi_me21.c
  Libraries/PeriphDrivers/Source/UART/uart_me12.c
  Libraries/PeriphDrivers/Source/UART/uart_me16.c
  Libraries/PeriphDrivers/Source/UART/uart_me21.c
Labels: MAX32650, MAX32660, MAX32672, MAX32675, MAX32680, MAX32662

#938 fix(PeriphDrivers): Fix MAX32690 SPI DMA RX ReqSel for SPI 2, 3, and 4
  Libraries/PeriphDrivers/Source/SPI/spi_me18.c
Labels: MAX32690
