Repository analogdevicesinc/msdk, pull requests merged in 2024-05, with the labels that each got.

#1007 fix(PeriphDrivers): Fix MAX32675 timer warning
  Libraries/PeriphDrivers/Source/TMR/tmr_me16.c
Labels: MAX32675

#1008 feat(CMSIS): Update MAX32657 CMSIS with TrustZone support
  Libraries/CMSIS/Device/Maxim/GCC/gcc.mk
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/max32657.h
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/partition_max32657.h
  Libraries/CMSIS/Device/Maxim/MAX32657/Source/GCC/max32657.ld
  Libraries/CMSIS/Device/Maxim/MAX32657/Source/GCC/startup_max32657.S
  Libraries/CMSIS/Device/Maxim/MAX32657/Source/system_max32657.c
  Libraries/PeriphDrivers/Include/MAX32657/aes.h
  Libraries/PeriphDrivers/Include/MAX32657/crc.h
  Libraries/PeriphDrivers/Include/MAX32657/dma.h
  Libraries/PeriphDrivers/Include/MAX32657/spi.h
  Libraries/PeriphDrivers/Include/MAX32657/uart.h
  Libraries/PeriphDrivers/Source/AES/aes_ai87.c
  Libraries/PeriphDrivers/Source/AES/aes_me12.c
  Libraries/PeriphDrivers/Source/AES/aes_me15.c
  Libraries/PeriphDrivers/Source/AES/aes_me17.c
  Libraries/PeriphDrivers/Source/AES/aes_me21.c
  Libraries/PeriphDrivers/Source/AES/aes_me30.c
  Libraries/PeriphDrivers/Source/AES/aes_revb.c
  Libraries/PeriphDrivers/Source/AES/aes_revb.h
  Libraries/PeriphDrivers/Source/CRC/crc_ai87.c
  Libraries/PeriphDrivers/Source/CRC/crc_me15.c
  Libraries/PeriphDrivers/Source/CRC/crc_me17.c
  Libraries/PeriphDrivers/Source/CRC/crc_me30.c
  Libraries/PeriphDrivers/Source/CRC/crc_reva.c
  Libraries/PeriphDrivers/Source/CRC/crc_reva.h
  Libraries/PeriphDrivers/Source/DMA/dma_me30.c
  Libraries/PeriphDrivers/Source/DMA/dma_reva.c
  Libraries/PeriphDrivers/Source/SPI/spi_me30.c
  Libraries/PeriphDrivers/Source/SPI/spi_reva1.c
  Libraries/PeriphDrivers/Source/SYS/sys_me30.c
  Libraries/PeriphDrivers/Source/UART/uart_me30.c
  Libraries/PeriphDrivers/Source/UART/uart_reva.c
Labels: WIP, MAX32655, MAX32670, MAX32672, MAX32675, MAX32680, MAX78000, MAX78002, MAX32662

#1005 feat(PeriphDrivers): Add Basic MAX32657 PeriphDriver Support
  Examples/MAX32657/Hello_World/.cproject
  Examples/MAX32657/Hello_World/.project
  Examples/MAX32657/Hello_World/.settings/language.settings.xml
  Examples/MAX32657/Hello_World/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32657/Hello_World/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32657/Hello_World/.vscode/README.md
  Examples/MAX32657/Hello_World/.vscode/c_cpp_properties.json
  Examples/MAX32657/Hello_World/.vscode/flash.gdb
  Examples/MAX32657/Hello_World/.vscode/launch.json
  Examples/MAX32657/Hello_World/.vscode/settings.json
  Examples/MAX32657/Hello_World/.vscode/tasks.json
  Examples/MAX32657/Hello_World/Hello_World.launch
  Examples/MAX32657/Hello_World/Makefile
  Examples/MAX32657/Hello_World/README.md
  Examples/MAX32657/Hello_World/main.c
  Examples/MAX32657/Hello_World/project.mk
  Libraries/Boards/MAX32657/EvKit_V1/Source/board.c
  Libraries/CMSIS/Device/Maxim/GCC/gcc.mk
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/max32657.h
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/partition_max32657.h
  Libraries/CMSIS/Device/Maxim/MAX32657/Source/GCC/max32657.ld
  Libraries/CMSIS/Device/Maxim/MAX32657/Source/GCC/startup_max32657.S
  Libraries/CMSIS/Device/Maxim/MAX32657/Source/system_max32657.c
  Libraries/PeriphDrivers/Include/MAX32657/aes.h
  Libraries/PeriphDrivers/Include/MAX32657/crc.h
  Libraries/PeriphDrivers/Include/MAX32657/dma.h
  Libraries/PeriphDrivers/Include/MAX32657/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32657/rtc.h
  Libraries/PeriphDrivers/Include/MAX32657/spi.h
  Libraries/PeriphDrivers/Include/MAX32657/tmr.h
  Libraries/PeriphDrivers/Include/MAX32657/uart.h
  Libraries/PeriphDrivers/Source/AES/aes_ai87.c
  Libraries/PeriphDrivers/Source/AES/aes_me12.c
  Libraries/PeriphDrivers/Source/AES/aes_me15.c
  Libraries/PeriphDrivers/Source/AES/aes_me17.c
  Libraries/PeriphDrivers/Source/AES/aes_me21.c
  Libraries/PeriphDrivers/Source/AES/aes_me30.c
  Libraries/PeriphDrivers/Source/AES/aes_revb.c
  Libraries/PeriphDrivers/Source/AES/aes_revb.h
  Libraries/PeriphDrivers/Source/CRC/crc_ai87.c
  Libraries/PeriphDrivers/Source/CRC/crc_me15.c
  Libraries/PeriphDrivers/Source/CRC/crc_me17.c
  Libraries/PeriphDrivers/Source/CRC/crc_me30.c
  Libraries/PeriphDrivers/Source/CRC/crc_reva.c
  Libraries/PeriphDrivers/Source/CRC/crc_reva.h
  Libraries/PeriphDrivers/Source/DMA/dma_me30.c
  Libraries/PeriphDrivers/Source/DMA/dma_reva.c
  Libraries/PeriphDrivers/Source/FLC/flc_me30.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me30.c
  Libraries/PeriphDrivers/Source/RTC/rtc_me30.c
  Libraries/PeriphDrivers/Source/SPI/spi_me30.c
  Libraries/PeriphDrivers/Source/SPI/spi_reva1.c
  Libraries/PeriphDrivers/Source/SYS/pins_me30.c
  Libraries/PeriphDrivers/Source/SYS/sys_me30.c
  Libraries/PeriphDrivers/Source/TMR/tmr_me30.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me30.c
  Libraries/PeriphDrivers/Source/UART/uart_me30.c
  Libraries/PeriphDrivers/Source/UART/uart_reva.c
  Libraries/PeriphDrivers/Source/WDT/wdt_me30.c
  Libraries/PeriphDrivers/max32657_files.mk
Labels: WIP, MAX32655, MAX32670, MAX32672, MAX32675, MAX32680, MAX78000, MAX78002, MAX32662

#1011 fix(Examples): RF Test RTOS Scheduling Work Around
  Examples/MAX32655/Bluetooth/RF_Test/main.c
  Examples/MAX32665/Bluetooth/RF_Test/main.c
  Examples/MAX32690/Bluetooth/RF_Test/main.c
Labels: MAX32655, MAX32665, MAX32690

#999 fix(BLE): Update PAL_UART to recover from error
  Libraries/Cordio/platform/targets/maxim/max32655/sources/pal_uart.c
  Libraries/Cordio/platform/targets/maxim/max32690/sources/pal_uart.c
Labels: WIP, BLE

#1010 fix(BLE): Fixed error in FreeRTOS Timer queue
  Libraries/Cordio/wsf/sources/targets/freertos/wsf_timer.c
Labels: BLE

#1013 fix(Build): Fix Cordio Build Error for `BT_VER = 11`
  Libraries/Cordio/platform/targets/maxim/build/cordio_lib.mk
Labels: BLE

#994 fix(workflow): Update permissions in zephyr-hal workflow
  .github/workflows/zephyr-hal.yml
Labels: Workflow

#1015 fix(workflow): Fix BLE Project Build Test Failures
  .github/workflows/scripts/build.py
Labels: Workflow

#1018 test(workflow): Update BLE Examples WF
  .github/workflows/BLE_Examples_Test.yml
  .github/workflows/scripts/local_BLE_Examples_Test.sh
  .github/workflows/scripts/mass_erase_board.sh
Labels: Workflow

#1020 fix(BLE): Platform build error
  .github/workflows/scripts/build.py
  Examples/MAX32655/Bluetooth/Makefile
  Examples/MAX32665/Bluetooth/BLE_LR_Central/main.c
  Examples/MAX32665/Bluetooth/BLE_LR_Peripheral/main.c
  Examples/MAX32665/Bluetooth/Makefile
  Examples/MAX32690/Bluetooth/Makefile
  Libraries/Cordio/controller/sources/ble/lctr/lctr_int_adv_master.h
  Libraries/Cordio/controller/sources/ble/lctr/lctr_isr_adv_master_ae.c
  Libraries/Cordio/controller/sources/ble/lctr/lctr_main_adv_master.c
  Libraries/Cordio/controller/sources/ble/lctr/lctr_main_adv_master_ae.c
  Libraries/Cordio/controller/sources/ble/lctr/lctr_main_init_master_ae.c
  Libraries/Cordio/controller/sources/ble/lhci/lhci_cmd_vs.c
  Libraries/Cordio/controller/sources/ble/ll/ll_main_adv_master_ae.c
  Libraries/Cordio/controller/sources/ble/ll/ll_main_dtm.c
  Libraries/Cordio/platform/targets/nordic/build/config.mk
  Libraries/Cordio/wsf/sources/targets/baremetal/wsf_nvm.c
  Libraries/PeriphDrivers/Source/TMR/tmr_me16.c
  Libraries/libs.mk
Labels: MAX32655, MAX32665, MAX32675, MAX32690, BLE, Workflow

#1021 chore(CMSIS,Tools): Append `sla_` prefix to all `header_{part}.c` file names for descriptiveness
  Libraries/CMSIS/Device/Maxim/MAX32520/Source/sla_header_MAX32520.c
  Libraries/CMSIS/Device/Maxim/MAX32570/Source/sla_header_MAX32570.c
  Libraries/CMSIS/Device/Maxim/MAX32572/Source/sla_header_MAX32572.c
  Libraries/CMSIS/Device/Maxim/MAX32650/Source/sla_header_MAX32650.c
  Libraries/CMSIS/Device/Maxim/MAX32662/Source/sla_header_MAX32662.c
  Libraries/CMSIS/Device/Maxim/MAX32665/Source/sla_header_MAX32665.c
  Libraries/CMSIS/Device/Maxim/MAX32672/Source/sla_header_MAX32672.c
  Libraries/CMSIS/Device/Maxim/MAX32690/Source/sla_header_MAX32690.c
  Tools/SBT/SBT-config.mk
Labels: MAX32520, MAX32570, MAX32650, MAX32665, MAX32672, MAX32690, Tools, MAX32662, MAX32572
