Repository analogdevicesinc/msdk, pull requests merged in 2024-06, with the labels that each got.

#1032 fix(BLE): Upate BLE examples workflow to use CI actions V1.1
  .github/workflows/BLE_Examples_Test.yml
Labels: Workflow

#1029 fix(CMSIS): Declare libc function stubs as weak
  Libraries/CMSIS/Device/Maxim/MAX32520/Source/system_max32520.c
  Libraries/CMSIS/Device/Maxim/MAX32570/Source/system_max32570.c
  Libraries/CMSIS/Device/Maxim/MAX32572/Source/system_max32572.c
  Libraries/CMSIS/Device/Maxim/MAX32572/Source/system_riscv_max32572.c
  Libraries/CMSIS/Device/Maxim/MAX32650/Source/system_max32650.c
  Libraries/CMSIS/Device/Maxim/MAX32655/Source/system_max32655.c
  Libraries/CMSIS/Device/Maxim/MAX32655/Source/system_riscv_max32655.c
  Libraries/CMSIS/Device/Maxim/MAX32657/Source/system_max32657.c
  Libraries/CMSIS/Device/Maxim/MAX32660/Source/system_max32660.c
  Libraries/CMSIS/Device/Maxim/MAX32662/Source/system_max32662.c
  Libraries/CMSIS/Device/Maxim/MAX32665/Source/system_max32665.c
  Libraries/CMSIS/Device/Maxim/MAX32670/Source/system_max32670.c
  Libraries/CMSIS/Device/Maxim/MAX32672/Source/system_max32672.c
  Libraries/CMSIS/Device/Maxim/MAX32675/Source/system_max32675.c
  Libraries/CMSIS/Device/Maxim/MAX32680/Source/system_max32680.c
  Libraries/CMSIS/Device/Maxim/MAX32680/Source/system_riscv_max32680.c
  Libraries/CMSIS/Device/Maxim/MAX32690/Source/system_max32690.c
  Libraries/CMSIS/Device/Maxim/MAX32690/Source/system_riscv_max32690.c
  Libraries/CMSIS/Device/Maxim/MAX78000/Source/system_max78000.c
  Libraries/CMSIS/Device/Maxim/MAX78000/Source/system_riscv_max78000.c
  Libraries/CMSIS/Device/Maxim/MAX78002/Source/system_max78002.c
  Libraries/CMSIS/Device/Maxim/MAX78002/Source/system_riscv_max78002.c
Labels: MAX32520, MAX32570, MAX32650, MAX32655, MAX32660, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662, MAX32572

#1038 docs(BLE): Updated README to be more explicit about HCI uart for MAX32690
  .github/workflows/BLE_Examples_Test.yml
  Examples/MAX32690/Bluetooth/BLE5_ctr/README.md
Labels: MAX32690, BLE, Workflow

#1046 fix(Other): Updated gitignore
  .gitignore
  Libraries/CMSIS/Device/Maxim/GCC/mxc_version.mk
  Tools/SBT/devices/MAX32662/scp_packets/set_stim_pin/session.txt.log
  mxc_version.h
Labels: Tools

#1016 fix(PeriphDrivers): Fix `MXC_SYS_GetUSN` Buffer Overflow
  Libraries/PeriphDrivers/Source/SYS/sys_ai85.c
  Libraries/PeriphDrivers/Source/SYS/sys_ai87.c
  Libraries/PeriphDrivers/Source/SYS/sys_me12.c
  Libraries/PeriphDrivers/Source/SYS/sys_me14.c
  Libraries/PeriphDrivers/Source/SYS/sys_me15.c
  Libraries/PeriphDrivers/Source/SYS/sys_me16.c
  Libraries/PeriphDrivers/Source/SYS/sys_me17.c
  Libraries/PeriphDrivers/Source/SYS/sys_me18.c
  Libraries/PeriphDrivers/Source/SYS/sys_me21.c
Labels: MAX32655, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662

#1050 fix(PeriphDrivers): MXC_SYS_GetUSN Checksum error
  Libraries/Cordio/platform/targets/maxim/max32655/sources/pal_cfg.c
  Libraries/Cordio/platform/targets/maxim/max32665/sources/pal_cfg.c
  Libraries/Cordio/platform/targets/maxim/max32690/sources/pal_cfg.c
  Libraries/PeriphDrivers/Source/SYS/sys_me12.c
  Libraries/PeriphDrivers/Source/SYS/sys_me15.c
  Libraries/PeriphDrivers/Source/SYS/sys_me17.c
  Libraries/PeriphDrivers/Source/SYS/sys_me18.c
  Libraries/PeriphDrivers/Source/SYS/sys_me21.c
Labels: MAX32655, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, BLE, MAX32662

#1045 feat(MiscDrivers): Add API for Setting SDHC Data Width
  .github/workflows/BLE_Examples_Test.yml
  Libraries/CMSIS/Device/Maxim/GCC/mxc_version.mk
  Libraries/SDHC/Include/sdhc_lib.h
  Libraries/SDHC/Source/sdhc_lib.c
  Libraries/SDHC/ff13/Source/diskio.c
  Libraries/SDHC/ff14/Source/diskio.c
  Libraries/SDHC/ff15/source/diskio.c
Labels: Workflow

#1058 docs(BLE): Add Documentation for Resources used by PAL Layer for MAX32655, MAX32665, and MAX32690
  .github/workflows/BLE_Examples_Test.yml
  Examples/MAX32655/Bluetooth/BLE_datc/datc_main.c
  Examples/MAX32655/Bluetooth/BLE_datc/project.mk
  Examples/MAX32655/Bluetooth/BLE_dats/dats_main.c
  Examples/MAX32655/Bluetooth/BLE_dats/project.mk
  Examples/MAX32655/Bluetooth/BLE_otac/datc_main.c
  Examples/MAX32655/Bluetooth/BLE_otac/project.mk
  Examples/MAX32655/Bluetooth/BLE_otas/dats_main.c
  Examples/MAX32655/Bluetooth/BLE_otas/project.mk
  Examples/MAX32665/Bluetooth/BLE_datc/datc_main.c
  Examples/MAX32665/Bluetooth/BLE_datc/project.mk
  Examples/MAX32665/Bluetooth/BLE_dats/dats_main.c
  Examples/MAX32665/Bluetooth/BLE_dats/project.mk
  Examples/MAX32665/Bluetooth/BLE_otac/datc_main.c
  Examples/MAX32665/Bluetooth/BLE_otac/project.mk
  Examples/MAX32665/Bluetooth/BLE_otas/dats_main.c
  Examples/MAX32665/Bluetooth/BLE_otas/project.mk
  Examples/MAX32690/Bluetooth/BLE5_ctr/project.mk
  Examples/MAX32690/Bluetooth/BLE_datc/datc_main.c
  Examples/MAX32690/Bluetooth/BLE_datc/project.mk
  Examples/MAX32690/Bluetooth/BLE_dats/dats_main.c
  Examples/MAX32690/Bluetooth/BLE_dats/project.mk
  Examples/MAX32690/Bluetooth/BLE_otac/datc_main.c
  Examples/MAX32690/Bluetooth/BLE_otac/project.mk
  Examples/MAX32690/Bluetooth/BLE_otas/dats_main.c
  Examples/MAX32690/Bluetooth/BLE_otas/project.mk
  Libraries/BlePhy/MAX32655/libphy_a1.a
  Libraries/BlePhy/MAX32655/libphy_a1_hard.a
  Libraries/BlePhy/MAX32655/libphy_a1_riscv.a
  Libraries/Cordio/docs/CORDIO_USERGUIDE.md
  Libraries/PeriphDrivers/max32655_files.mk
  Libraries/PeriphDrivers/max32690_files.mk
  Libraries/libs.mk
Labels: MAX32655, MAX32665, MAX32690, BLE, Workflow

#1060 fix(BLE): Updated MAX32665 libphy and fixed sys_me14
  Libraries/BlePhy/MAX32665/libphy.a
  Libraries/BlePhy/MAX32665/libphy_hard.a
  Libraries/PeriphDrivers/Source/SYS/sys_me14.c
Labels: MAX32665, BLE

#1056 fix(Examples): Face Detection Library Change for MAX78000, MAX78002 Facial Recognition Demos
  Examples/MAX78000/CNN/facial_recognition/db_gen/generate_face_db.py
  Examples/MAX78000/CNN/facial_recognition/db_gen/utils.py
  Examples/MAX78002/CNN/facial_recognition/db_gen/generate_face_db.py
  Examples/MAX78002/CNN/facial_recognition/db_gen/utils.py
  Examples/MAX78002/CNN/facial_recognition/src/record.c
Labels: MAX78000, MAX78002

#1064 feat(BLE): HCI Accessible BLE Stats
  Libraries/BlePhy/MAX32665/libphy.a
  Libraries/BlePhy/MAX32665/libphy_hard.a
  Libraries/BlePhy/MAX32665/libphy_hardfp.log
  Libraries/Cordio/controller/include/ble/bb_ble_api.h
  Libraries/Cordio/controller/sources/ble/bb/bb_ble_adv_master.c
  Libraries/Cordio/controller/sources/ble/bb/bb_ble_adv_slave.c
  Libraries/Cordio/controller/sources/ble/lhci/lhci_cmd_vs.c
  Libraries/Cordio/controller/sources/ble/lhci/lhci_int.h
Labels: BLE

#1063 feat(Examples): Add autotest to test Examples for MAX32690
  .github/workflows/example_tester.yml
  .github/workflows/scripts/example_tester.sh
  Examples/MAX32690/ADC/main.c
  Examples/MAX32690/ADC/project.mk
  Examples/MAX32690/Bluetooth/BLE_otas/dats_main.c
  Examples/MAX32690/SPI/main.c
  Examples/MAX32690/SPI/project.mk
  Examples/MAX32690/SPI_v2/main.c
  Examples/MAX32690/SPI_v2/project.mk
  Examples/MAX32690/UART/main.c
  Examples/MAX32690/UART/project.mk
  Libraries/libs.mk
Labels: MAX32690, BLE, Workflow
