Repository analogdevicesinc/msdk, pull requests merged in 2024-04, with the labels that each got.

#968 fix(CMSIS): Reduce Available MAX32670 Flash by 8KB, Reserve Final Page for Bootloader
  Libraries/CMSIS/Device/Maxim/GCC/mxc_version.mk
  Libraries/CMSIS/Device/Maxim/MAX32670/Include/max32670.h
  Libraries/CMSIS/Device/Maxim/MAX32670/Source/GCC/max32670.ld
  Libraries/CMSIS/Device/Maxim/MAX32670/Source/GCC/max32670_emulator.ld
  Libraries/CMSIS/Device/Maxim/MAX32670/Source/GCC/max32670_emulator_ram.ld
  Libraries/CMSIS/Device/Maxim/MAX32670/Source/GCC/max32670_emulator_spix.ld
  Libraries/CMSIS/Device/Maxim/MAX32670/Source/GCC/max32670_emulator_xip.ld
  Libraries/CMSIS/Device/Maxim/MAX32670/Source/GCC/max32670_ram.ld
  Libraries/CMSIS/Device/Maxim/MAX32670/Source/GCC/max32670_rom.ld
  Libraries/CMSIS/Device/Maxim/MAX32670/Source/GCC/max32670_spix.ld
  mxc_version.h
Labels: MAX32670

#970 chore(workflow): Update copyrights
  .clang-format
  .github/workflows/BLE_Examples_Test.yml
  .github/workflows/Build_Examples.yml
  .github/workflows/Generate_Register_Files.yml
  .github/workflows/PR_Title_Check.yml
  .github/workflows/Release.yml
  .github/workflows/Stale_PR.yml
  .github/workflows/Verify_Register_SVD.yml
  .github/workflows/build-cordio-platform-docs.yml
  .github/workflows/build-docs.yml
  .github/workflows/build-max32665-ds.yml
  .github/workflows/clang-format-check.yml
  .github/workflows/clang-format-run-pr.yml
  .github/workflows/clang-format-run.sh
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
  .github/workflows/simple_per_test.yml
  .github/workflows/update_version.yml
Labels: Workflow

#973 ci(workflow): Add workflow for copying necessary files to Zephyr HAL repo
  .github/workflows/scripts/zephyr-hal.sh
  .github/workflows/zephyr-hal.yml
Labels: Workflow

#972 feat(Examples,CMSIS,PeriphDrivers): Add support for MAX32675 RevB
  Examples/MAX32675/Flash/main.c
  Examples/MAX32675/Flash_CLI/CLI-commands.c
  Examples/MAX32675/I2C/README.md
  Examples/MAX32675/I2C_MNGR/README.md
  Examples/MAX32675/I2C_SCAN/README.md
  Examples/MAX32675/I2C_Sensor/README.md
  Examples/MAX32675/I2S/README.md
  Examples/MAX32675/I2S/main.c
  Examples/MAX32675/SPI/README.md
  Examples/MAX32675/TMR/README.md
  Examples/MAX32675/TRNG/README.md
  Examples/MAX32675/TRNG/main.c
  Examples/MAX32675/UART/README.md
  Examples/MAX32675/WearLeveling/main.c
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/afe_adc_zero_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32675/Source/system_max32675.c
  Libraries/PeriphDrivers/Include/MAX32675/mxc_pins.h
  Libraries/PeriphDrivers/Source/AFE/afe_adc_zero_reva.svd
  Libraries/PeriphDrivers/Source/FLC/flc_me16.c
  Libraries/PeriphDrivers/Source/SYS/pins_me16.c
  Libraries/PeriphDrivers/max32675_files.mk
Labels: MAX32675, MAX32680, Register Change

#964 feat(PeriphDrivers): Add SPI v2 support to MAX32690
  Examples/MAX32690/SPI_v2/.cproject
  Examples/MAX32690/SPI_v2/.project
  Examples/MAX32690/SPI_v2/.settings/language.settings.xml
  Examples/MAX32690/SPI_v2/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32690/SPI_v2/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32690/SPI_v2/.vscode/README.md
  Examples/MAX32690/SPI_v2/.vscode/c_cpp_properties.json
  Examples/MAX32690/SPI_v2/.vscode/flash.gdb
  Examples/MAX32690/SPI_v2/.vscode/launch.json
  Examples/MAX32690/SPI_v2/.vscode/settings.json
  Examples/MAX32690/SPI_v2/.vscode/tasks.json
  Examples/MAX32690/SPI_v2/Makefile
  Examples/MAX32690/SPI_v2/README.md
  Examples/MAX32690/SPI_v2/SPI_v2.launch
  Examples/MAX32690/SPI_v2/main.c
  Examples/MAX32690/SPI_v2/project.mk
  Libraries/Boards/MAX32690/EvKit_V1/examples.txt
  Libraries/CMSIS/Device/Maxim/GCC/mxc_version.mk
  Libraries/FCL/fcl.mk
  Libraries/FCL/fcl_files.mk
  Libraries/FCL/libfcl.mk
  Libraries/PeriphDrivers/Include/MAX32690/mxc_pins.h
  Libraries/PeriphDrivers/Include/MAX32690/spi.h
  Libraries/PeriphDrivers/Source/SPI/spi_me18.c
  Libraries/PeriphDrivers/Source/SPI/spi_me18_v2.c
  Libraries/PeriphDrivers/Source/SYS/pins_me18.c
  Libraries/PeriphDrivers/libPeriphDriver.mk
  Libraries/PeriphDrivers/max32690_files.mk
  Libraries/PeriphDrivers/periphdriver.mk
  USERGUIDE.md
  mxc_version.h
Labels: MAX32690

#978 ci(workflow): Use correct path to support script
  .github/workflows/zephyr-hal.yml
Labels: Workflow

#982 ci(workflow): Copy MSDK peripheral files to hal_adi
  .github/workflows/scripts/zephyr-hal.sh
  .github/workflows/zephyr-hal.yml
Labels: Workflow

#985 fix(BLE): FreeRTOS-tickless
  Examples/MAX32655/Bluetooth/BLE_FreeRTOS/freertos_tickless.c
  Examples/MAX32665/Bluetooth/BLE_FreeRTOS/freertos_tickless.c
  Examples/MAX32690/Bluetooth/BLE_FreeRTOS/freertos_tickless.c
  Libraries/BlePhy/MAX32655/libphy.a
  Libraries/Cordio/platform/include/pal_bb.h
Labels: WIP, MAX32655, MAX32665, MAX32690, BLE

#989 fix(CMSIS): Add GPIOWAKE_IRQn to MAX32675
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/max32675.h
  Libraries/CMSIS/Device/Maxim/MAX32675/Source/GCC/startup_max32675.S
Labels: MAX32675

#991 chore(BLE): Fixed broken links to cordio docs
  Examples/MAX32655/Bluetooth/BLE4_ctr/README.md
  Examples/MAX32655/Bluetooth/BLE5_ctr/README.md
  Examples/MAX32655/Bluetooth/BLE_FreeRTOS/README.md
  Examples/MAX32655/Bluetooth/BLE_datc/README.md
  Examples/MAX32655/Bluetooth/BLE_dats/README.md
  Examples/MAX32655/Bluetooth/BLE_fcc/README.md
  Examples/MAX32655/Bluetooth/BLE_fit/README.md
  Examples/MAX32655/Bluetooth/BLE_mcs/README.md
  Examples/MAX32655/Bluetooth/BLE_otac/README.md
  Examples/MAX32655/Bluetooth/BLE_otas/README.md
  Examples/MAX32655/Bluetooth/BLE_periph/README.md
  Examples/MAX32665/Bluetooth/BLE4_ctr/README.md
  Examples/MAX32665/Bluetooth/BLE5_ctr/README.md
  Examples/MAX32665/Bluetooth/BLE_FreeRTOS/README.md
  Examples/MAX32665/Bluetooth/BLE_datc/README.md
  Examples/MAX32665/Bluetooth/BLE_dats/README.md
  Examples/MAX32665/Bluetooth/BLE_fcc/README.md
  Examples/MAX32665/Bluetooth/BLE_fit/README.md
  Examples/MAX32665/Bluetooth/BLE_mcs/README.md
  Examples/MAX32665/Bluetooth/BLE_otac/README.md
  Examples/MAX32665/Bluetooth/BLE_otas/README.md
  Examples/MAX32665/Bluetooth/BLE_periph/README.md
  Examples/MAX32690/Bluetooth/BLE4_ctr/README.md
  Examples/MAX32690/Bluetooth/BLE5_ctr/README.md
  Examples/MAX32690/Bluetooth/BLE_FreeRTOS/README.md
  Examples/MAX32690/Bluetooth/BLE_datc/README.md
  Examples/MAX32690/Bluetooth/BLE_dats/README.md
  Examples/MAX32690/Bluetooth/BLE_fcc/README.md
  Examples/MAX32690/Bluetooth/BLE_fit/README.md
  Examples/MAX32690/Bluetooth/BLE_mcs/README.md
  Examples/MAX32690/Bluetooth/BLE_otac/README.md
  Examples/MAX32690/Bluetooth/BLE_otas/README.md
  Examples/MAX32690/Bluetooth/BLE_periph/README.md
Labels: MAX32655, MAX32665, MAX32690, BLE

#988 fix(BLE): MAX32690 DATC Hardfaulting with ICC enabled
  .github/workflows/scripts/test_launcher.sh
  Examples/MAX32690/Bluetooth/BLE_datc/datc_main.c
  Examples/MAX32690/Bluetooth/BLE_dats/dats_main.c
  Libraries/Boards/MAX32690/EvKit_V1/Source/board.c
Labels: MAX32690, BLE, Workflow

#986 fix(PeriphDrivers): Clarify GPIO drive strength enum documentation
  Libraries/PeriphDrivers/Include/MAX32520/gpio.h
  Libraries/PeriphDrivers/Include/MAX32570/gpio.h
  Libraries/PeriphDrivers/Include/MAX32572/gpio.h
  Libraries/PeriphDrivers/Include/MAX32650/gpio.h
  Libraries/PeriphDrivers/Include/MAX32655/gpio.h
  Libraries/PeriphDrivers/Include/MAX32660/gpio.h
  Libraries/PeriphDrivers/Include/MAX32662/gpio.h
  Libraries/PeriphDrivers/Include/MAX32665/gpio.h
  Libraries/PeriphDrivers/Include/MAX32670/gpio.h
  Libraries/PeriphDrivers/Include/MAX32672/gpio.h
  Libraries/PeriphDrivers/Include/MAX32675/gpio.h
  Libraries/PeriphDrivers/Include/MAX32680/gpio.h
  Libraries/PeriphDrivers/Include/MAX32690/gpio.h
  Libraries/PeriphDrivers/Include/MAX78000/gpio.h
  Libraries/PeriphDrivers/Include/MAX78002/gpio.h
Labels: MAX32520, MAX32570, MAX32650, MAX32655, MAX32660, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662, MAX32572

#963 fix(Examples): Updated CAM02 examples
  Examples/MAX78000/CNN/cats-dogs_demo/README.md
  Examples/MAX78000/CNN/cats-dogs_demo/main.c
  Examples/MAX78000/CNN/cats-dogs_demo/project.mk
  Examples/MAX78000/ImgCapture/project.mk
Labels: MAX78000

#990 chore(Other): Add zephyr related wrapper and system file in MSDK
  .github/workflows/scripts/zephyr-hal.sh
  Libraries/zephyr/MAX/CMakeLists.txt
  Libraries/zephyr/MAX/Include/wrap_max32_adc.h
  Libraries/zephyr/MAX/Include/wrap_max32_dma.h
  Libraries/zephyr/MAX/Include/wrap_max32_i2c.h
  Libraries/zephyr/MAX/Include/wrap_max32_lp.h
  Libraries/zephyr/MAX/Include/wrap_max32_owm.h
  Libraries/zephyr/MAX/Include/wrap_max32_spi.h
  Libraries/zephyr/MAX/Include/wrap_max32_sys.h
  Libraries/zephyr/MAX/Include/wrap_max32_tmr.h
  Libraries/zephyr/MAX/Include/wrap_max32_trng.h
  Libraries/zephyr/MAX/Include/wrap_max32_uart.h
  Libraries/zephyr/MAX/Include/wrap_max32_wdt.h
  Libraries/zephyr/MAX/Include/wrap_max32xxx.h
  Libraries/zephyr/MAX/Include/wrap_utils.h
  Libraries/zephyr/MAX/Source/MAX32655/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32655/max32xxx_system.c
  Libraries/zephyr/MAX/Source/MAX32662/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32662/max32xxx_system.c
  Libraries/zephyr/MAX/Source/MAX32665/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32665/max32xxx_system.c
  Libraries/zephyr/MAX/Source/MAX32670/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32670/max32xxx_system.c
  Libraries/zephyr/MAX/Source/MAX32672/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32672/max32xxx_system.c
  Libraries/zephyr/MAX/Source/MAX32675/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32675/max32xxx_system.c
  Libraries/zephyr/MAX/Source/MAX32680/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32680/max32xxx_system.c
  Libraries/zephyr/MAX/Source/MAX32690/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32690/max32xxx_system.c
Labels: Workflow

#993 feat(BLE): PRBS15 MAX32655
  Libraries/BlePhy/MAX32655/libphy.a
  Libraries/BlePhy/MAX32690/libphy.a
  Libraries/Cordio/controller/sources/ble/ll/ll_main_dtm.c
Labels: BLE

#997 feat(PeriphDrivers): Add PinMux tool supporting functions
  Libraries/CMSIS/Device/Maxim/MAX32520/Source/system_max32520.c
  Libraries/CMSIS/Device/Maxim/MAX32570/Source/system_max32570.c
  Libraries/CMSIS/Device/Maxim/MAX32572/Source/system_max32572.c
  Libraries/CMSIS/Device/Maxim/MAX32650/Source/system_max32650.c
  Libraries/CMSIS/Device/Maxim/MAX32655/Source/system_max32655.c
  Libraries/CMSIS/Device/Maxim/MAX32660/Source/system_max32660.c
  Libraries/CMSIS/Device/Maxim/MAX32662/Source/system_max32662.c
  Libraries/CMSIS/Device/Maxim/MAX32665/Source/system_max32665.c
  Libraries/CMSIS/Device/Maxim/MAX32670/Source/system_max32670.c
  Libraries/CMSIS/Device/Maxim/MAX32672/Source/system_max32672.c
  Libraries/CMSIS/Device/Maxim/MAX32675/Source/system_max32675.c
  Libraries/CMSIS/Device/Maxim/MAX32680/Source/system_max32680.c
  Libraries/CMSIS/Device/Maxim/MAX32690/Source/system_max32690.c
  Libraries/CMSIS/Device/Maxim/MAX78000/Source/system_max78000.c
  Libraries/CMSIS/Device/Maxim/MAX78002/Source/system_max78002.c
  Libraries/PeriphDrivers/Include/MAX32520/gpio.h
  Libraries/PeriphDrivers/Include/MAX32570/gpio.h
  Libraries/PeriphDrivers/Include/MAX32572/gpio.h
  Libraries/PeriphDrivers/Include/MAX32650/gpio.h
  Libraries/PeriphDrivers/Include/MAX32655/gpio.h
  Libraries/PeriphDrivers/Include/MAX32660/gpio.h
  Libraries/PeriphDrivers/Include/MAX32662/gpio.h
  Libraries/PeriphDrivers/Include/MAX32665/gpio.h
  Libraries/PeriphDrivers/Include/MAX32670/gpio.h
  Libraries/PeriphDrivers/Include/MAX32672/gpio.h
  Libraries/PeriphDrivers/Include/MAX32675/gpio.h
  Libraries/PeriphDrivers/Include/MAX32680/gpio.h
  Libraries/PeriphDrivers/Include/MAX32690/gpio.h
  Libraries/PeriphDrivers/Include/MAX78000/gpio.h
  Libraries/PeriphDrivers/Include/MAX78002/gpio.h
  Libraries/PeriphDrivers/Source/GPIO/gpio_ai85.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_ai87.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_common.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_common.h
  Libraries/PeriphDrivers/Source/GPIO/gpio_es17.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me10.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me11.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me12.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me13.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me14.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me15.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me16.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me17.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me18.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me20.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me21.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_me55.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_reva.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_revb.c
Labels: MAX32520, MAX32570, MAX32650, MAX32655, MAX32660, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662, MAX32572
