Repository analogdevicesinc/msdk, pull requests merged in 2024-10, with the labels that each got.

#1201 chore(Other): Stage October 2024 Release
  Libraries/CMSIS/Device/Maxim/GCC/gcc.mk
  Libraries/CMSIS/Device/Maxim/GCC/gcc_riscv.mk
  Libraries/Cordio/controller/sources/ble/lhci/lhci_cmd_vs.c
  Libraries/Cordio/controller/sources/ble/lhci/lhci_int.h
  Libraries/Cordio/platform/include/pal_bb.h
  Libraries/Cordio/platform/include/pal_bb_ble.h
  Libraries/zephyr/MAX/Include/wrap_max32_sdhc.h
Labels: BLE

#1205 fix(CMSIS): Purge MAX32675, MAX32680 Temp Sensor defines, Fix Part ID Address
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/afe_adc_one_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/afe_adc_zero_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32680/Include/afe_adc_one_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32680/Include/afe_adc_zero_regs.h
  Libraries/PeriphDrivers/Source/AFE/afe_adc_one_reva.svd
  Libraries/PeriphDrivers/Source/AFE/afe_adc_zero_reva.svd
Labels: MAX32675, MAX32680, Register Change

#1198 fix(BLE): Backwards compatibility for HCI Vendor-Specific opcodes
  Libraries/Cordio/controller/sources/ble/lhci/lhci_cmd_vs.c
  Libraries/Cordio/controller/sources/ble/lhci/lhci_int.h
Labels: BLE

#1209 fix(Build): Allow Cordio to Build with Custom BSPs
  Libraries/Cordio/platform/targets/maxim/build/cordio_lib.mk
  Libraries/Cordio/platform/targets/maxim/build/libCordio.mk
  Libraries/libs.mk
Labels: BLE

#1215 fix(Documentation): Update MXC_UART_Init return docstring
  Libraries/PeriphDrivers/Include/MAX32665/uart.h
Labels: MAX32665

#1216 fix(Boards): Configure push buttons with alt function hyper ram to use VDDIO
  Libraries/Boards/MAX32690/FTHR/Source/board.c
Labels: MAX32690

#1207 fix(PeriphDrivers): Correct HART UART Driver Transmit Bugs
  Libraries/PeriphDrivers/Source/AFE/afe.c
  Libraries/PeriphDrivers/Source/AFE/hart_uart.c
Labels: bug, MAX32675, MAX32680

#1211 feat(Examples,PeriphDrivers): Add I2C_ADXL343 example to MAX32690, fix double read backs for I2C repeated start condition in ADXL343 drivers, and add minor I2C MasterTransaction Sync fix
  .github/workflows/clang-format-run.sh
  Examples/MAX32690/I2C_ADXL343/.cproject
  Examples/MAX32690/I2C_ADXL343/.project
  Examples/MAX32690/I2C_ADXL343/.settings/language.settings.xml
  Examples/MAX32690/I2C_ADXL343/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32690/I2C_ADXL343/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32690/I2C_ADXL343/.vscode/README.md
  Examples/MAX32690/I2C_ADXL343/.vscode/c_cpp_properties.json
  Examples/MAX32690/I2C_ADXL343/.vscode/flash.gdb
  Examples/MAX32690/I2C_ADXL343/.vscode/launch.json
  Examples/MAX32690/I2C_ADXL343/.vscode/settings.json
  Examples/MAX32690/I2C_ADXL343/.vscode/tasks.json
  Examples/MAX32690/I2C_ADXL343/I2C_ADXL343.launch
  Examples/MAX32690/I2C_ADXL343/Makefile
  Examples/MAX32690/I2C_ADXL343/README.md
  Examples/MAX32690/I2C_ADXL343/adxl343.c
  Examples/MAX32690/I2C_ADXL343/adxl343.h
  Examples/MAX32690/I2C_ADXL343/main.c
  Examples/MAX32690/I2C_ADXL343/project.mk
  Libraries/Boards/MAX32690/EvKit_V1/examples.txt
  Libraries/PeriphDrivers/Source/I2C/i2c_me18.c
  Libraries/PeriphDrivers/Source/I2C/i2c_reva.c
Labels: MAX32690, Workflow, Ready for review

#1210 feat(PeriphDrivers, Documentation): Add Ability to Override Default Pin Definitions, Document `MSDK_NO_GPIO_CLK_INIT`, Check for `MSDK_NO_GPIO_CLK_INIT` in SDHC Drivers
  Libraries/PeriphDrivers/Source/SDHC/sdhc_ai87.c
  Libraries/PeriphDrivers/Source/SDHC/sdhc_me10.c
  Libraries/PeriphDrivers/Source/SDHC/sdhc_me13.c
  Libraries/PeriphDrivers/Source/SDHC/sdhc_me14.c
  Libraries/PeriphDrivers/max32520_files.mk
  Libraries/PeriphDrivers/max32570_files.mk
  Libraries/PeriphDrivers/max32572_files.mk
  Libraries/PeriphDrivers/max32650_files.mk
  Libraries/PeriphDrivers/max32655_files.mk
  Libraries/PeriphDrivers/max32657_files.mk
  Libraries/PeriphDrivers/max32660_files.mk
  Libraries/PeriphDrivers/max32662_files.mk
  Libraries/PeriphDrivers/max32665_files.mk
  Libraries/PeriphDrivers/max32670_files.mk
  Libraries/PeriphDrivers/max32672_files.mk
  Libraries/PeriphDrivers/max32675_files.mk
  Libraries/PeriphDrivers/max32680_files.mk
  Libraries/PeriphDrivers/max32690_files.mk
  Libraries/PeriphDrivers/max78000_files.mk
  Libraries/PeriphDrivers/max78002_files.mk
  USERGUIDE.md
Labels: MAX32520, MAX32570, MAX32650, MAX32655, MAX32660, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662, MAX32572

#1218 fix(PeriphDrivers): Fix Mismatched Implementation for MAX32662 `MXC_LP_EnterShutDownMode`
  Libraries/PeriphDrivers/Source/LP/lp_me12.c
Labels: MAX32662

#1219 chore(Other): Stage October 2024 Release Part 2
  .github/workflows/clang-format-run.sh
  Examples/MAX32690/I2C_ADXL343/.cproject
  Examples/MAX32690/I2C_ADXL343/.project
  Examples/MAX32690/I2C_ADXL343/.settings/language.settings.xml
  Examples/MAX32690/I2C_ADXL343/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32690/I2C_ADXL343/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32690/I2C_ADXL343/.vscode/README.md
  Examples/MAX32690/I2C_ADXL343/.vscode/c_cpp_properties.json
  Examples/MAX32690/I2C_ADXL343/.vscode/flash.gdb
  Examples/MAX32690/I2C_ADXL343/.vscode/launch.json
  Examples/MAX32690/I2C_ADXL343/.vscode/settings.json
  Examples/MAX32690/I2C_ADXL343/.vscode/tasks.json
  Examples/MAX32690/I2C_ADXL343/I2C_ADXL343.launch
  Examples/MAX32690/I2C_ADXL343/Makefile
  Examples/MAX32690/I2C_ADXL343/README.md
  Examples/MAX32690/I2C_ADXL343/adxl343.c
  Examples/MAX32690/I2C_ADXL343/adxl343.h
  Examples/MAX32690/I2C_ADXL343/main.c
  Examples/MAX32690/I2C_ADXL343/project.mk
  Libraries/Boards/MAX32690/EvKit_V1/examples.txt
  Libraries/Boards/MAX32690/FTHR/Source/board.c
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/afe_adc_one_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/afe_adc_zero_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32680/Include/afe_adc_one_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32680/Include/afe_adc_zero_regs.h
  Libraries/Cordio/controller/sources/ble/lhci/lhci_cmd_vs.c
  Libraries/Cordio/controller/sources/ble/lhci/lhci_int.h
  Libraries/Cordio/platform/targets/maxim/build/cordio_lib.mk
  Libraries/Cordio/platform/targets/maxim/build/libCordio.mk
  Libraries/PeriphDrivers/Include/MAX32665/uart.h
  Libraries/PeriphDrivers/Source/AFE/afe.c
  Libraries/PeriphDrivers/Source/AFE/afe_adc_one_reva.svd
  Libraries/PeriphDrivers/Source/AFE/afe_adc_zero_reva.svd
  Libraries/PeriphDrivers/Source/AFE/hart_uart.c
  Libraries/PeriphDrivers/Source/FLC/flc_me30.c
  Libraries/PeriphDrivers/Source/I2C/i2c_me18.c
  Libraries/PeriphDrivers/Source/I2C/i2c_reva.c
  Libraries/PeriphDrivers/Source/UART/uart_me15.c
  Libraries/PeriphDrivers/Source/UART/uart_me16.c
  Libraries/PeriphDrivers/Source/UART/uart_me21.c
  Libraries/libs.mk
Labels: MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, BLE, Workflow, Register Change

#1202 chore(Other): Sync `release` branch with `main`
  .gitignore
  Libraries/CMSIS/Device/Maxim/GCC/gcc.mk
  Libraries/Cordio/controller/sources/ble/lhci/lhci_cmd_vs.c
  Libraries/Cordio/controller/sources/ble/lhci/lhci_int.h
  Libraries/Cordio/platform/include/pal_bb.h
Labels: BLE

#1183 fix(CMSIS): Match clock/trim settings in SYS registers to latest changes for MAX32657
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/fcr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/gcr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/max32657.svd
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/mcr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/trimsir_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/dma_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32665/Include/max32665.svd
  Libraries/PeriphDrivers/Source/SYS/SVD/fcr_me30.svd
  Libraries/PeriphDrivers/Source/SYS/SVD/gcr_me14.svd
  Libraries/PeriphDrivers/Source/SYS/SVD/gcr_me30.svd
  Libraries/PeriphDrivers/Source/SYS/SVD/mcr_me30.svd
  Libraries/PeriphDrivers/Source/SYS/SVD/trimsir_me30.svd
Labels: MAX32665, Register Change

#1221 fix(Boards): Add GPIO2_IRQ_Handler for MAX78000 FTHR_RevA
  Libraries/Boards/MAX78000/FTHR_RevA/Source/board.c
Labels: MAX78000

#1220 chore(CMSIS): Remove unused includes for MAX32672
  Libraries/CMSIS/Device/Maxim/MAX32672/Include/max32672.h
Labels: MAX32672

#1225 fix(Examples): Fix warning in MAX32655/UART_DMA example and increase Bootloader app size for MAX32665
  Examples/MAX32655/UART_DMA/main.c
  Examples/MAX32665/Bluetooth/Bootloader/README.md
  Examples/MAX32665/Bluetooth/Bootloader/boot_lower.S
  Examples/MAX32665/Bluetooth/Bootloader/bootloader.ld
Labels: MAX32655, MAX32665

#1226 fix(CMSIS,PeriphDrivers): Remove SPI TS3, fix GPIO pad controls, and fix build errors for MAX32657
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/gpio_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/max32657.svd
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/spi_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/trimsir_regs.h
  Libraries/PeriphDrivers/Include/MAX32657/gpio.h
  Libraries/PeriphDrivers/Source/GPIO/gpio_me30.c
  Libraries/PeriphDrivers/Source/GPIO/gpio_reva_me30.svd
  Libraries/PeriphDrivers/Source/RTC/rtc_me30.c
  Libraries/PeriphDrivers/Source/SPI/spi_reva_me30.svd
  Libraries/PeriphDrivers/Source/SYS/SVD/trimsir_me30.svd
  Libraries/PeriphDrivers/Source/WUT/wut_me30.c
Labels: Register Change

#1227 fix(BLE): Converting bool_t to bool
  Examples/MAX32655/Bluetooth/BLE5_ctr/main.c
  Examples/MAX32655/Bluetooth/BLE_FreeRTOS/stack_dats.c
  Examples/MAX32655/Bluetooth/BLE_HCI_DFU/BLT/main.c
  Examples/MAX32655/Bluetooth/BLE_datc/main.c
  Examples/MAX32655/Bluetooth/BLE_dats/main.c
  Examples/MAX32655/Bluetooth/BLE_fit/main.c
  Examples/MAX32655/Bluetooth/BLE_fit_FreeRTOS/bt_stack.c
  Examples/MAX32655/Bluetooth/BLE_mcs/main.c
  Examples/MAX32655/Bluetooth/BLE_otac/main.c
  Examples/MAX32655/Bluetooth/BLE_otas/main.c
  Examples/MAX32655/Bluetooth/RF_Test/main.c
  Examples/MAX32665/Bluetooth/BLE5_ctr/main.c
  Examples/MAX32665/Bluetooth/BLE_FreeRTOS/stack_dats.c
  Examples/MAX32665/Bluetooth/BLE_LR_Central/main.c
  Examples/MAX32665/Bluetooth/BLE_LR_Peripheral/main.c
  Examples/MAX32665/Bluetooth/BLE_datc/main.c
  Examples/MAX32665/Bluetooth/BLE_dats/main.c
  Examples/MAX32665/Bluetooth/BLE_fit/main.c
  Examples/MAX32665/Bluetooth/BLE_mcs/main.c
  Examples/MAX32665/Bluetooth/BLE_otac/main.c
  Examples/MAX32665/Bluetooth/BLE_otas/main.c
  Examples/MAX32665/Bluetooth/RF_Test/main.c
  Examples/MAX32680/Bluetooth/BLE_dats/main.c
  Examples/MAX32690/Bluetooth/BLE5_ctr/main.c
  Examples/MAX32690/Bluetooth/BLE_FreeRTOS/stack_dats.c
  Examples/MAX32690/Bluetooth/BLE_datc/main.c
  Examples/MAX32690/Bluetooth/BLE_dats/main.c
  Examples/MAX32690/Bluetooth/BLE_fit/main.c
  Examples/MAX32690/Bluetooth/BLE_mcs/main.c
  Examples/MAX32690/Bluetooth/BLE_otac/main.c
  Examples/MAX32690/Bluetooth/BLE_otas/main.c
  Examples/MAX32690/Bluetooth/RF_Test/main.c
  Libraries/Cordio/ble-profiles/sources/af/common/app_db.c
  Libraries/Cordio/controller/sources/ble/lhci/lhci_cmd_vs.c
  Libraries/Cordio/platform/include/pal_types.h
  Libraries/Cordio/wsf/include/wsf_types.h
Labels: MAX32655, MAX32665, MAX32680, MAX32690, BLE

#1223 fix(PeriphDrivers): Add Strength Configuration for ME14
  Libraries/PeriphDrivers/Source/GPIO/gpio_me14.c
Labels: MAX32665

#1235 fix(PeriphDrivers): Fix build warnings for MAX78002 ADC
  Libraries/PeriphDrivers/Source/ADC/adc_ai87.c
Labels: MAX78002

#1236 fix(BLE): Update PAL UART to derive clock via IBRO
  Libraries/Cordio/platform/targets/maxim/max32655/sources/pal_uart.c
  Libraries/Cordio/platform/targets/maxim/max32690/sources/pal_uart.c
Labels: BLE

#1233 fix(workflow): Update clang-format-run-pr.yml to Node20.js and update permissions
  .github/workflows/clang-format-run-pr.yml
Labels: Workflow

#1237 fix(BLE): Resolve double increment of memory management in LlInitSetRtCfg
  .github/workflows/BLE_Examples_Test.yml
  Libraries/Cordio/controller/sources/ble/init/init.c
Labels: bug, BLE, Workflow

#1238 chore(Build): Grouped Common Source Files in libPeriphDriver.mk
  Libraries/CMSIS/Device/Maxim/GCC/mxc_version.mk
  Libraries/PeriphDrivers/Source/SYS/mxc_lock.c
  Libraries/PeriphDrivers/libPeriphDriver.mk
  Libraries/PeriphDrivers/max32520_files.mk
  Libraries/PeriphDrivers/max32570_files.mk
  Libraries/PeriphDrivers/max32572_files.mk
  Libraries/PeriphDrivers/max32650_files.mk
  Libraries/PeriphDrivers/max32655_files.mk
  Libraries/PeriphDrivers/max32657_files.mk
  Libraries/PeriphDrivers/max32660_files.mk
  Libraries/PeriphDrivers/max32662_files.mk
  Libraries/PeriphDrivers/max32665_files.mk
  Libraries/PeriphDrivers/max32670_files.mk
  Libraries/PeriphDrivers/max32672_files.mk
  Libraries/PeriphDrivers/max32675_files.mk
  Libraries/PeriphDrivers/max32680_files.mk
  Libraries/PeriphDrivers/max32690_files.mk
  Libraries/PeriphDrivers/max78000_files.mk
  Libraries/PeriphDrivers/max78002_files.mk
Labels: MAX32520, MAX32570, MAX32650, MAX32655, MAX32660, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662, MAX32572

#1230 feat(Examples): MAX32690 TInyUSB MSC + External Flash Example
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/.cproject
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/.project
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/.settings/language.settings.xml
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/.vscode/README.md
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/.vscode/c_cpp_properties.json
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/.vscode/flash.gdb
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/.vscode/launch.json
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/.vscode/settings.json
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/.vscode/tasks.json
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/Makefile
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/README.md
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/main.c
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/msc_ext_flash.c
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/msc_ext_flash.launch
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/project.mk
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/tusb_config.h
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/usb_descriptors.c
  Libraries/Boards/MAX32690/APARD/Source/board.c
  Libraries/PeriphDrivers/Source/SPIXF/spixf_me18.c
Labels: MAX32690

#1189 fix(Other): Add `delete me warning` in PR template
  .github/pull_request_template.md
Labels: Workflow
