Repository analogdevicesinc/msdk, pull requests merged in 2024-12, with the labels that each got.

#1283 fix(PeriphDrivers): Fix bad logic on ME16 UART IDX checking in MXC_UART_SetClockSource.
  Libraries/PeriphDrivers/Source/UART/uart_me16.c
Labels: MAX32675

#1284 fix(Examples,PeriphDrivers): Fix clock option value setting for UART-…
  Examples/MAX78000/UART/main.c
  Libraries/PeriphDrivers/Source/UART/uart_ai85.c
Labels: MAX78000

#1278 style(Other): Update conditional compilation directives for `CONFIG_SOC_*` definitions in Zephyr wrapper
  Libraries/zephyr/MAX/Include/wrap_max32_adc.h
  Libraries/zephyr/MAX/Include/wrap_max32_dma.h
  Libraries/zephyr/MAX/Include/wrap_max32_i2c.h
  Libraries/zephyr/MAX/Include/wrap_max32_lp.h
  Libraries/zephyr/MAX/Include/wrap_max32_owm.h
  Libraries/zephyr/MAX/Include/wrap_max32_spi.h
  Libraries/zephyr/MAX/Include/wrap_max32_sys.h
  Libraries/zephyr/MAX/Include/wrap_max32_tmr.h
  Libraries/zephyr/MAX/Include/wrap_max32_trng.h
  Libraries/zephyr/MAX/Include/wrap_max32_uart.h
  Libraries/zephyr/MAX/Include/wrap_max32_wdt.h
Labels: Zephyr

#1280 fix(BLE): Re-implement UART with DMA on MAX32690
  Libraries/CMSIS/Device/Maxim/GCC/mxc_version.mk
  Libraries/Cordio/platform/targets/maxim/max32690/sources/pal_sys.c
  Libraries/Cordio/platform/targets/maxim/max32690/sources/pal_uart.c
Labels: WIP, MAX32690, BLE

#1288 fix(PeriphDrivers): Update the info block unlock sequence for the MAX32657
  Libraries/PeriphDrivers/Source/FLC/flc_me30.c
Labels: MAX32657

#1271 fix(BLE): Improved MAX32665 PHY
  Libraries/BlePhy/MAX32665/libphy.a
  Libraries/BlePhy/MAX32665/libphy_hard.a
Labels: BLE, stale

#1292 feat(Other): Add Zephyr hwinfo driver's dependencies
  Libraries/zephyr/MAX/Source/MAX32655/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32657/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32662/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32665/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32670/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32672/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32675/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32680/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32690/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX78002/CMakeLists.txt
Labels: Zephyr

#1294 fix(CMSIS,PeriphDrivers): Add TMR RevB `CTRL1.async` field which allows asynchronous reads to the PWM and CNT registers
  Libraries/CMSIS/Device/Maxim/MAX32655/Include/max32655.svd
  Libraries/CMSIS/Device/Maxim/MAX32655/Include/tmr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/max32657.svd
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/tmr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32670/Include/max32670.svd
  Libraries/CMSIS/Device/Maxim/MAX32670/Include/tmr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32672/Include/max32672.svd
  Libraries/CMSIS/Device/Maxim/MAX32672/Include/tmr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/max32675.svd
  Libraries/CMSIS/Device/Maxim/MAX32675/Include/tmr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32690/Include/max32690.svd
  Libraries/CMSIS/Device/Maxim/MAX32690/Include/tmr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX78000/Include/max78000.svd
  Libraries/CMSIS/Device/Maxim/MAX78000/Include/tmr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX78002/Include/max78002.svd
  Libraries/CMSIS/Device/Maxim/MAX78002/Include/tmr_regs.h
  Libraries/PeriphDrivers/Source/TMR/tmr_revb.svd
  Libraries/PeriphDrivers/Source/TMR/tmr_revb_me15.svd
  Libraries/PeriphDrivers/Source/TMR/tmr_revb_me17.svd
  Libraries/PeriphDrivers/Source/TMR/tmr_revb_me21.svd
  Libraries/PeriphDrivers/Source/TMR/tmr_revb_me30.svd
  Libraries/PeriphDrivers/Source/TMR/tmr_revb_regs.h
  Libraries/PeriphDrivers/Source/UART/uart_revb_regs.h
Labels: MAX32655, MAX32670, MAX32672, MAX32675, MAX32690, MAX78000, MAX78002, Register Change, MAX32657

#1295 fix(PeriphDrivers): Fix SPI pins and peripheral clock for MAX32657
  Libraries/PeriphDrivers/Source/SPI/spi_me30.c
Labels: MAX32657

#1297 feat(CMSIS,PeriphDrivers): Enable external clock selection on MAX32657
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/system_max32657.h
  Libraries/CMSIS/Device/Maxim/MAX32657/Source/system_max32657.c
  Libraries/PeriphDrivers/Include/MAX32657/mxc_pins.h
  Libraries/PeriphDrivers/Include/MAX32657/mxc_sys.h
  Libraries/PeriphDrivers/Source/SYS/pins_me30.c
  Libraries/PeriphDrivers/Source/SYS/sys_me30.c
Labels: MAX32657

#1291 refactor(PeriphDrivers)!: Update WUT API naming schemes for MAX32655, MAX32657, MAX32665, MAX32690, MAX78000, and MAX78002. Offer WUT selection on MAX32690
  Examples/MAX32655/Bluetooth/BLE_FreeRTOS/freertos_tickless.c
  Examples/MAX32655/Bluetooth/BLE_fit_FreeRTOS/freertos_tickless.c
  Examples/MAX32655/Bluetooth/RF_Test/freertos_tickless.c
  Examples/MAX32655/FreeRTOSDemo/freertos_tickless.c
  Examples/MAX32655/FreeRTOSDemo/main.c
  Examples/MAX32655/WUT/main.c
  Examples/MAX32665/Bluetooth/BLE_FreeRTOS/freertos_tickless.c
  Examples/MAX32665/Bluetooth/BLE_FreeRTOS/stack_dats.c
  Examples/MAX32665/Bluetooth/RF_Test/freertos_tickless.c
  Examples/MAX32665/FreeRTOSDemo/freertos_tickless.c
  Examples/MAX32665/FreeRTOSDemo/main.c
  Examples/MAX32665/WUT/main.c
  Examples/MAX32680/FreeRTOSDemo/freertos_tickless.c
  Examples/MAX32680/FreeRTOSDemo/main.c
  Examples/MAX32680/WUT/main.c
  Examples/MAX32690/Bluetooth/BLE_FreeRTOS/dats_main.c
  Examples/MAX32690/Bluetooth/BLE_FreeRTOS/freertos_tickless.c
  Examples/MAX32690/Bluetooth/BLE_FreeRTOS/stack_dats.c
  Examples/MAX32690/Bluetooth/BLE_datc/main.c
  Examples/MAX32690/Bluetooth/BLE_dats/dats_main.c
  Examples/MAX32690/Bluetooth/BLE_dats/main.c
  Examples/MAX32690/Bluetooth/BLE_fit/main.c
  Examples/MAX32690/Bluetooth/BLE_otac/main.c
  Examples/MAX32690/Bluetooth/BLE_otas/dats_main.c
  Examples/MAX32690/Bluetooth/BLE_otas/main.c
  Examples/MAX32690/Bluetooth/RF_Test/freertos_tickless.c
  Examples/MAX32690/FreeRTOSDemo/freertos_tickless.c
  Examples/MAX32690/FreeRTOSDemo/main.c
  Examples/MAX32690/WUT/main.c
  Examples/MAX78000/CNN/kws20_demo/main.c
  Examples/MAX78000/FreeRTOSDemo/freertos_tickless.c
  Examples/MAX78000/FreeRTOSDemo/main.c
  Examples/MAX78000/WUT/main.c
  Examples/MAX78002/CNN/facial_recognition/main.c
  Examples/MAX78002/CNN/kws20_demo/main.c
  Examples/MAX78002/FreeRTOSDemo/freertos_tickless.c
  Examples/MAX78002/FreeRTOSDemo/main.c
  Examples/MAX78002/WUT/main.c
  Libraries/Cordio/platform/targets/maxim/max32665/sources/pal_rtc.c
  Libraries/Cordio/platform/targets/maxim/max32690/sources/pal_rtc.c
  Libraries/PeriphDrivers/Include/MAX32655/wut.h
  Libraries/PeriphDrivers/Include/MAX32657/wut.h
  Libraries/PeriphDrivers/Include/MAX32665/wut.h
  Libraries/PeriphDrivers/Include/MAX32680/wut.h
  Libraries/PeriphDrivers/Include/MAX32690/wut.h
  Libraries/PeriphDrivers/Include/MAX78000/wut.h
  Libraries/PeriphDrivers/Include/MAX78002/wut.h
  Libraries/PeriphDrivers/Source/WUT/wut_ai85.c
  Libraries/PeriphDrivers/Source/WUT/wut_ai87.c
  Libraries/PeriphDrivers/Source/WUT/wut_me14.c
  Libraries/PeriphDrivers/Source/WUT/wut_me17.c
  Libraries/PeriphDrivers/Source/WUT/wut_me18.c
  Libraries/PeriphDrivers/Source/WUT/wut_me30.c
Labels: MAX32655, MAX32665, MAX32680, MAX32690, MAX78000, MAX78002, BLE, Ready for review, MAX32657

#1299 feat(Other): Enable USB support for Zephyr by adding MAXUSB
  .github/workflows/scripts/zephyr-hal.sh
  Libraries/MAXUSB/include/core/usb_protocol.h
  Libraries/MAXUSB/src/core/musbhsfc/usb.c
  Libraries/zephyr/MAX/CMakeLists.txt
Labels: Workflow, Zephyr

#1303 fix(CMSIS): Remove AES Key Generation (unsupported) feature from MAX32657
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/max32657.svd
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/trng_regs.h
  Libraries/PeriphDrivers/Source/TRNG/trng_revc_me30.svd
Labels: Register Change, MAX32657

#1302 fix(CMSIS): Enabling instruction cache.
  Libraries/zephyr/MAX/Source/MAX32657/max32xxx_system.c
Labels: Zephyr

#1300 fix(PeriphDrivers): Fix flash ecc issue for MAX32657
  Libraries/PeriphDrivers/Source/FLC/flc_me30.c
Labels: MAX32657

#1304 fix(PeriphDrivers, Other): Fix UART clock source selection
  Libraries/PeriphDrivers/Include/MAX32657/uart.h
  Libraries/PeriphDrivers/Source/UART/uart_me18.c
  Libraries/PeriphDrivers/Source/UART/uart_me30.c
  Libraries/zephyr/MAX/Include/wrap_max32_uart.h
Labels: MAX32690, MAX32657, Zephyr

#1307 feat(Other): Add DMA channel number conversion for Zephyr
  Libraries/zephyr/MAX/Include/wrap_max32_dma.h
Labels: Zephyr

#1306 feat(Other): Add zephyr CAN wrapper for MAX32662, MAX32690
  Libraries/zephyr/MAX/Include/wrap_max32_can.h
Labels: Zephyr

#1305 feat(Other): Add USB wrapper file
  Libraries/zephyr/MAX/Include/wrap_max32_usb.h
Labels: Zephyr

#1309 chore(Boards): Updated BLE Debug Pins WLP Bench Board
  Libraries/Boards/MAX32657/WLP_Bench/Source/board.c
Labels: MAX32657

#1314 fix(BLE): WSF Assertion Checking for callback when not enabled.
  Libraries/Cordio/wsf/sources/targets/baremetal/wsf_trace.c
Labels: BLE

#1312 fix(PeriphDrivers): MAX32657 Cache Access
  Libraries/PeriphDrivers/Source/ICC/icc_me30.c
Labels: MAX32657

#1315 fix(PeriphDrivers, Other): Fix RTC clock source selection
  Libraries/PeriphDrivers/Include/MAX32657/rtc.h
  Libraries/PeriphDrivers/Source/RTC/rtc_me30.c
  Libraries/zephyr/MAX/Include/wrap_max32_rtc.h
Labels: MAX32657, Zephyr
