Repository analogdevicesinc/msdk, pull requests merged in 2025-02, with the labels that each got.

#1335 feat(PeriphDrivers): Add MXC_SPI_HWSSControl declaration to MAX78000 spi.h
  Libraries/PeriphDrivers/Include/MAX78000/spi.h
Labels: MAX78000

#1342 fix(Other): Fix zephyr-hal.yml path issue
  .github/workflows/zephyr-hal.yml
Labels: Workflow

#1345 fix(Other): Fix MAX32650 zephyr cmake
  Libraries/zephyr/MAX/Source/MAX32650/CMakeLists.txt
Labels: Zephyr

#1346 fix(Other): Change MAX32650 ISO clock macro
  Libraries/zephyr/MAX/Include/wrap_max32_sys.h
Labels: Zephyr

#1349 fix(Other): Fix MAX32650 zephyr cmake
  Libraries/zephyr/MAX/Source/MAX32650/CMakeLists.txt
Labels: Zephyr

#1348 feat(Other): Add MAX32660 Zephyr Support
  Libraries/CMSIS/Device/Maxim/MAX32660/Include/uart_regs.h
  Libraries/zephyr/MAX/Include/wrap_max32_sys.h
  Libraries/zephyr/MAX/Include/wrap_max32_uart.h
  Libraries/zephyr/MAX/Source/MAX32660/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32660/max32xxx_system.c
Labels: MAX32660, Register Change, Zephyr

#1344 fix(Other): Zephyr: MAX32650: Add missing LP wrappers
  Libraries/zephyr/MAX/Include/wrap_max32_lp.h
Labels: Zephyr
