Repository analogdevicesinc/msdk, pull requests merged in 2025-04, with the labels that each got.

#1354 fix(PeriphDrivers): MAX32650 (ME10) Flash Address Fix
  Libraries/PeriphDrivers/Source/FLC/flc_me10.c
Labels: MAX32650

#1381 fix(PeriphDrivers): Fix Uart SVD register field names for MAX32650 and MAX32660
  Libraries/PeriphDrivers/Source/UART/uart_reva_me10.svd
  Libraries/PeriphDrivers/Source/UART/uart_reva_me11.svd
Labels: MAX32650, MAX32660, Register Change

#1382 fix(PeriphDrivers, Other): Remove MAX32657 I2C developments
  Libraries/PeriphDrivers/Source/I2C/i2c_me30.c
  Libraries/zephyr/MAX/Include/wrap_max32_i2c.h
Labels: MAX32657, Zephyr

#1384 feat(Other): Update Zephyr wrappers to enable MAX32650 support
  Libraries/PeriphDrivers/Source/SPI/spi_me10.c
  Libraries/zephyr/MAX/Include/wrap_max32_dma.h
  Libraries/zephyr/MAX/Include/wrap_max32_i2c.h
  Libraries/zephyr/MAX/Include/wrap_max32_spi.h
  Libraries/zephyr/MAX/Include/wrap_max32_tmr.h
  Libraries/zephyr/MAX/Include/wrap_max32_wdt.h
Labels: MAX32650, Zephyr

#1385 fix(Other): Add a missing macro to SPI wrapper
  Libraries/zephyr/MAX/Include/wrap_max32_spi.h
Labels: Zephyr

#1379 fix(Other): Add 'static inline' keywords to Zephyr Timer Wrapper functions
  Libraries/zephyr/MAX/Include/wrap_max32_tmr.h
Labels: Zephyr

#1380 fix(PeriphDrivers): Correct slot configuration loop in ADC SAR12
  Libraries/PeriphDrivers/Source/ADC/adc_ai87.c
  Libraries/PeriphDrivers/Source/ADC/adc_me12.c
  Libraries/PeriphDrivers/Source/ADC/adc_me18.c
  Libraries/PeriphDrivers/Source/ADC/adc_me21.c
Labels: MAX32672, MAX32690, MAX78002, MAX32662

#1371 fix(PeriphDrivers): Fix SPIv2 TS1 GPIO init issue for MAX32690
  Libraries/PeriphDrivers/Source/SPI/spi_me18_v2.c
Labels: MAX32690, stale

#1389 fix(PeriphDrivers, Other): Add missing parts for MAX32650
  Libraries/PeriphDrivers/Include/MAX32650/lp.h
  Libraries/zephyr/MAX/Include/wrap_max32_spi.h
Labels: MAX32650, Zephyr

#1390 fix(Other): Update Zephyr ADC wrapper according to BM driver changes
  Libraries/zephyr/MAX/Include/wrap_max32_adc.h
Labels: Zephyr

#1391 feat(CMSIS, Other): Initial support for SBT implementation for MAX32651
  Libraries/CMSIS/Device/Maxim/MAX32650/Source/sla_header_MAX32650.c
  Libraries/zephyr/MAX/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX32650/CMakeLists.txt
Labels: MAX32650, Zephyr
