Repository analogdevicesinc/msdk, pull requests merged in 2025-09, with the labels that each got.

#1421 feat(PeriphDrivers): Add PUF API
  Examples/MAX32690/PUF/.cproject
  Examples/MAX32690/PUF/.project
  Examples/MAX32690/PUF/.settings/language.settings.xml
  Examples/MAX32690/PUF/.settings/org.eclipse.cdt.codan.core.prefs
  Examples/MAX32690/PUF/.settings/org.eclipse.cdt.core.prefs
  Examples/MAX32690/PUF/.vscode/README.md
  Examples/MAX32690/PUF/.vscode/c_cpp_properties.json
  Examples/MAX32690/PUF/.vscode/flash.gdb
  Examples/MAX32690/PUF/.vscode/launch.json
  Examples/MAX32690/PUF/.vscode/settings.json
  Examples/MAX32690/PUF/.vscode/tasks.json
  Examples/MAX32690/PUF/Makefile
  Examples/MAX32690/PUF/PUF.launch
  Examples/MAX32690/PUF/README.md
  Examples/MAX32690/PUF/main.c
  Examples/MAX32690/PUF/project.mk
  Libraries/CMSIS/Device/Maxim/MAX32690/Include/ctb_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32690/Include/max32690.h
  Libraries/CMSIS/Device/Maxim/MAX32690/Include/max32690.svd
  Libraries/CMSIS/Device/Maxim/MAX32690/Include/puf_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32690/Source/GCC/startup_max32690.S
  Libraries/PeriphDrivers/Include/MAX32690/ctb.h
  Libraries/PeriphDrivers/Include/MAX32690/puf.h
  Libraries/PeriphDrivers/Source/CTB/ctb_me18.c
  Libraries/PeriphDrivers/Source/PUF/puf_me18.c
  Libraries/PeriphDrivers/max32690_files.mk
Labels: MAX32690, Register Change

#1429 fix(PeriphDrivers): ME18-191: Add code to workaround a power fail issue when entering and exiting Standby or UPM modes on the MAX32690
  Libraries/CMSIS/Device/Maxim/MAX32690/Include/gcr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32690/Include/max32690.svd
  Libraries/PeriphDrivers/Source/LP/lp_me18.c
  Libraries/PeriphDrivers/Source/SYS/SVD/gcr_me18.svd
Labels: MAX32690, Register Change

#1437 fix(PeriphDrivers): Remove unsupported UART flow control stuff
  Libraries/PeriphDrivers/Include/MAX78002/mxc_pins.h
  Libraries/PeriphDrivers/Source/SYS/pins_ai87.c
  Libraries/PeriphDrivers/Source/UART/uart_ai87.c
Labels: MAX78002

#1440 fix(PeriphDrivers): Fix an error in the MXC_ICC_Disable function of the MAX32650
  Libraries/PeriphDrivers/Source/ICC/icc_me10.c
Labels: MAX32650
