Repository analogdevicesinc/msdk, pull requests merged in 2025-03, with the labels that each got.

#1363 refactor(PeriphDrivers): Make HPB clock/gpio setup conditional
  Libraries/PeriphDrivers/Source/HPB/hpb_me10.c
  Libraries/PeriphDrivers/Source/HPB/hpb_me18.c
Labels: MAX32650, MAX32690

#1341 fix(Examples): Add LP Lockout protection to all LP examples
  Examples/MAX32520/LP/README.md
  Examples/MAX32520/LP/main.c
  Examples/MAX32650/LP/README.md
  Examples/MAX32650/LP/main.c
  Examples/MAX32655/LP/README.md
  Examples/MAX32655/LP/main.c
  Examples/MAX32660/LP/README.md
  Examples/MAX32660/LP/main.c
  Examples/MAX32662/LP/README.md
  Examples/MAX32662/LP/main.c
  Examples/MAX32665/LP/README.md
  Examples/MAX32665/LP/main.c
  Examples/MAX32670/LP/README.md
  Examples/MAX32670/LP/main.c
  Examples/MAX32672/LP/README.md
  Examples/MAX32672/LP/main.c
  Examples/MAX32675/LP/README.md
  Examples/MAX32675/LP/main.c
  Examples/MAX32680/LP/README.md
  Examples/MAX32680/LP/main.c
  Examples/MAX32690/LP/README.md
  Examples/MAX32690/LP/main.c
  Examples/MAX78000/LP/README.md
  Examples/MAX78000/LP/main.c
  Examples/MAX78002/LP/README.md
  Examples/MAX78002/LP/main.c
Labels: MAX32520, MAX32650, MAX32655, MAX32660, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662

#1366 fix(PeriphDrivers): Make TRNG clock shutdown optional for all parts
  Libraries/PeriphDrivers/Source/TRNG/trng_ai85.c
  Libraries/PeriphDrivers/Source/TRNG/trng_ai87.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me10.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me12.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me14.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me15.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me16.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me17.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me18.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me20.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me21.c
  Libraries/PeriphDrivers/Source/TRNG/trng_me30.c
Labels: MAX32650, MAX32655, MAX32665, MAX32670, MAX32672, MAX32675, MAX32680, MAX32690, MAX78000, MAX78002, MAX32662, MAX32657

#1367 feat(PeriphDrivers): Add backup power mode wrappers
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/mcr_regs.h
  Libraries/PeriphDrivers/Source/LP/lp_me30.c
  Libraries/zephyr/MAX/Include/wrap_max32_lp.h
Labels: Register Change, MAX32657, Zephyr

#1368 fix(PeriphDrivers): Guard power mode wrapper
  Libraries/zephyr/MAX/Include/wrap_max32_lp.h
Labels: Zephyr

#1365 fix(CMSIS, PeriphDrivers): Fix MAX32670 OVR & SystemCoreClock Update settings for LP operation
  Libraries/CMSIS/Device/Maxim/MAX32670/Source/system_max32670.c
  Libraries/PeriphDrivers/Source/LP/lp_me15.c
Labels: MAX32670, MAX32675

#1372 feat(PeriphDrivers): Added backup mode exit wrappers
  Libraries/PeriphDrivers/Include/MAX32657/lp.h
  Libraries/PeriphDrivers/Source/LP/lp_me30.c
  Libraries/zephyr/MAX/Include/wrap_max32_lp.h
Labels: MAX32657, Zephyr
