Repository analogdevicesinc/msdk, pull requests merged in 2025-01, with the labels that each got.

#1318 fix(CMSIS): Remove UART PIN register from MAX32657
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/max32657.svd
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/uart_regs.h
  Libraries/PeriphDrivers/Source/UART/uart_revb_me30.svd
Labels: Register Change, MAX32657

#1319 fix(MAXUSB): Updated makefiles for USB examples
  .gitignore
  Examples/MAX32650/USB/MAXUSB/USB_CDCACM/Makefile
  Examples/MAX32650/USB/MAXUSB/USB_CompositeDevice_MSC_CDC/Makefile
  Examples/MAX32650/USB/MAXUSB/USB_CompositeDevice_MSC_HID/Makefile
  Examples/MAX32650/USB/MAXUSB/USB_HIDKeyboard/Makefile
  Examples/MAX32650/USB/MAXUSB/USB_MassStorage/Makefile
  Examples/MAX32650/USB/TinyUSB/cdc_msc/Makefile
  Examples/MAX32650/USB/TinyUSB/cdc_msc_freertos/Makefile
  Examples/MAX32650/USB/TinyUSB/hid_composite/Makefile
  Examples/MAX32650/USB/TinyUSB/msc_dual_lun/Makefile
  Examples/MAX32665/USB/MAXUSB/USB_CDCACM/Makefile
  Examples/MAX32665/USB/MAXUSB/USB_CompositeDevice_MSC_CDC/Makefile
  Examples/MAX32665/USB/MAXUSB/USB_CompositeDevice_MSC_HID/Makefile
  Examples/MAX32665/USB/MAXUSB/USB_HIDKeyboard/Makefile
  Examples/MAX32665/USB/MAXUSB/USB_MassStorage/Makefile
  Examples/MAX32665/USB/TinyUSB/cdc_msc/Makefile
  Examples/MAX32665/USB/TinyUSB/cdc_msc_freertos/Makefile
  Examples/MAX32665/USB/TinyUSB/hid_composite/Makefile
  Examples/MAX32665/USB/TinyUSB/msc_dual_lun/Makefile
  Examples/MAX32690/USB/.gitignore
  Examples/MAX32690/USB/MAXUSB/USB_CDCACM/Makefile
  Examples/MAX32690/USB/MAXUSB/USB_CompositeDevice_MSC_CDC/Makefile
  Examples/MAX32690/USB/MAXUSB/USB_CompositeDevice_MSC_HID/Makefile
  Examples/MAX32690/USB/MAXUSB/USB_HIDKeyboard/Makefile
  Examples/MAX32690/USB/MAXUSB/USB_MassStorage/Makefile
  Examples/MAX32690/USB/TinyUSB/cdc_msc/Makefile
  Examples/MAX32690/USB/TinyUSB/cdc_msc_freertos/Makefile
  Examples/MAX32690/USB/TinyUSB/hid_composite/Makefile
  Examples/MAX32690/USB/TinyUSB/msc_dual_lun/Makefile
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/Makefile
  Examples/MAX32690/USB/TinyUSB/msc_ext_flash/msc_ext_flash.c
  Examples/MAX78002/USB/MAXUSB/USB_CDCACM/Makefile
  Examples/MAX78002/USB/MAXUSB/USB_CompositeDevice_MSC_CDC/Makefile
  Examples/MAX78002/USB/MAXUSB/USB_CompositeDevice_MSC_HID/Makefile
  Examples/MAX78002/USB/MAXUSB/USB_HIDKeyboard/Makefile
  Examples/MAX78002/USB/MAXUSB/USB_MassStorage/Makefile
  Examples/MAX78002/USB/MAXUSB/USB_MassStorage_ThroughPut/Makefile
  Examples/MAX78002/USB/TinyUSB/cdc_msc/Makefile
  Examples/MAX78002/USB/TinyUSB/cdc_msc_freertos/Makefile
  Examples/MAX78002/USB/TinyUSB/hid_composite/Makefile
  Examples/MAX78002/USB/TinyUSB/msc_dual_lun/Makefile
  Libraries/CMSIS/Device/Maxim/GCC/mxc_version.mk
Labels: MAX32650, MAX32665, MAX32690, MAX78002

#1313 feat(Other): Add MAX78000 to Zephyr folder
  Libraries/PeriphDrivers/Include/MAX78000/i2c.h
  Libraries/zephyr/MAX/Include/wrap_max32_adc.h
  Libraries/zephyr/MAX/Include/wrap_max32_i2c.h
  Libraries/zephyr/MAX/Include/wrap_max32_lp.h
  Libraries/zephyr/MAX/Include/wrap_max32_owm.h
  Libraries/zephyr/MAX/Include/wrap_max32_spi.h
  Libraries/zephyr/MAX/Include/wrap_max32_sys.h
  Libraries/zephyr/MAX/Include/wrap_max32_tmr.h
  Libraries/zephyr/MAX/Include/wrap_max32_trng.h
  Libraries/zephyr/MAX/Include/wrap_max32_uart.h
  Libraries/zephyr/MAX/Include/wrap_max32_wdt.h
  Libraries/zephyr/MAX/Source/MAX78000/CMakeLists.txt
  Libraries/zephyr/MAX/Source/MAX78000/max78xxx_system.c
Labels: MAX78000, Zephyr

#1317 feat(PeriphDrivers): Implement low power modes for MAX32657
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/gcr_regs.h
  Libraries/CMSIS/Device/Maxim/MAX32657/Include/max32657.svd
  Libraries/PeriphDrivers/Include/MAX32657/lp.h
  Libraries/PeriphDrivers/Include/MAX32657/mxc_sys.h
  Libraries/PeriphDrivers/Include/MAX32657/rtc.h
  Libraries/PeriphDrivers/Source/LP/lp_me30.c
  Libraries/PeriphDrivers/Source/RTC/rtc_me30.c
  Libraries/PeriphDrivers/Source/SYS/SVD/gcr_me30.svd
  Libraries/PeriphDrivers/Source/SYS/sys_me30.c
  Libraries/zephyr/MAX/Include/wrap_max32_lp.h
  Libraries/zephyr/MAX/Include/wrap_max32_rtc.h
  Libraries/zephyr/MAX/Include/wrap_max32_sys.h
Labels: Register Change, MAX32657, Zephyr

#1322 feat(PeriphDrivers): Add MAX32657 non-blocking clock measurement
  Libraries/PeriphDrivers/Include/MAX32657/mxc_sys.h
  Libraries/PeriphDrivers/Source/LP/lp_me30.c
  Libraries/PeriphDrivers/Source/SYS/sys_me30.c
Labels: MAX32657

#1325 fix(Other): Add FLC wrap file to fix Zephyr flash problems for MAX32690
  Libraries/zephyr/MAX/Include/wrap_max32_flc.h
Labels: Zephyr

#1320 fix(Other): Fix Wrap_MXC_CAN_Init signature
  Libraries/zephyr/MAX/Include/wrap_max32_can.h
Labels: Zephyr

#1327 feat(Boards): Added LEDs and updated push buttons in board file for MAX32657
  Libraries/Boards/MAX32657/EvKit_V1/Source/board.c
Labels: MAX32657

#1330 feat(Examples): Expand MAX32650 SPI example to select SPI instance
  Examples/MAX32650/SPI/README.md
  Examples/MAX32650/SPI/main.c
  Examples/MAX32650/SPI/project.mk
Labels: MAX32650

#1331 ci(workflow): Update Zephyr-HAL workflow
  .github/workflows/scripts/zephyr-hal.sh
  .github/workflows/zephyr-hal.yml
Labels: Workflow
