Repository analogdevicesinc/msdk, pull requests merged in 2025-07, with the labels that each got.

#1404 feat(Other, PeriphDrivers): Add ADC support for Zephyr stream
  Libraries/PeriphDrivers/Include/MAX32690/adc.h
  Libraries/PeriphDrivers/Source/ADC/adc_me18.c
  Libraries/PeriphDrivers/Source/ADC/adc_revb.c
  Libraries/PeriphDrivers/Source/ADC/adc_revb.h
  Libraries/zephyr/MAX/Include/wrap_max32_adc.h
Labels: MAX32690, Zephyr

#1406 fix(Other): Skip USN checksum checking for Zephyr wrapper
  Libraries/zephyr/MAX/Include/wrap_max32_sys.h
Labels: Zephyr

#1408 fix(PeriphDrivers): Fix limitations of the SPI V2 driver code
  Libraries/PeriphDrivers/Include/MAX32572/spi.h
  Libraries/PeriphDrivers/Include/MAX32690/spi.h
  Libraries/PeriphDrivers/Include/MAX78002/spi.h
  Libraries/PeriphDrivers/Source/SPI/spi_reva2.c
Labels: MAX32690, MAX78002, MAX32572
